server/nodered/pertamina-gld-server.flow.json
[
  {
    "id": "pgl_tab",
    "type": "tab",
    "label": "Pertamina GLD Server",
    "disabled": false,
    "info": "Generated by apply-pertamina-gld-flow.js v2.0.0",
    "env": [
      {
        "name": "GATEWAY_STATUS_URL",
        "value": "http://172.26.166.180/api/status",
        "type": "str"
      },
      {
        "name": "GATEWAY_BASE_URL",
        "value": "http://172.26.166.180",
        "type": "str"
      },
      {
        "name": "PGL_GATEWAY_ID",
        "value": "0x006F",
        "type": "str"
      },
      {
        "name": "PGL_REPLAY_STATE_PATH",
        "value": "C:\\Users\\MSI\\.node-red\\pertamina-gld-replay-state.json",
        "type": "str"
      }
    ]
  },
  {
    "id": "pgl_poll_gateway",
    "type": "inject",
    "z": "pgl_tab",
    "name": "poll Gateway /api/status",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "2",
    "topic": "gateway/status/poll",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "pgl_http_gateway_status"
      ]
    ]
  },
  {
    "id": "pgl_http_gateway_status",
    "type": "http request",
    "z": "pgl_tab",
    "name": "GET Gateway status",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://172.26.166.180/api/status",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "x": 420,
    "y": 100,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_http_decode_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "POST /pertamina-gld/decode",
    "url": "/pertamina-gld/decode",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 240,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_uplink",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "MQTT Gateway uplink",
    "topic": "gld/gateway/uplink",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 300,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_topology",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "MQTT Gateway topology",
    "topic": "gld/gateway/topology",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 330,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_raw",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "MQTT Gateway raw",
    "topic": "gld/gateway/raw",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 380,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_pertamina_uplink",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "MQTT Pertamina uplink",
    "topic": "pertamina/gld/uplink",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 440,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_decode",
    "type": "function",
    "z": "pgl_tab",
    "name": "decode Gateway/GLD contract",
    "func": "const GAS_CLASS = {\r\n    0: \"clearGas\",\r\n    1: \"LPG\",\r\n    2: \"methane\",\r\n    3: \"propane\",\r\n    4: \"butane\",\r\n    5: \"reserve\",\r\n    6: \"anomaly\"\r\n};\r\n\r\nconst MSG_SENSOR_DATA = 0x10;\r\nconst MSG_SERVER_PULL_REQUEST = 0x30;\r\nconst MSG_CLUSTER_DATA_RESPONSE = 0x31;\r\nconst MSG_CH_HELLO = 0x33;\r\nconst MSG_MESH_CONTROL_MIN = 0x30;\r\nconst MSG_MESH_CONTROL_MAX = 0x3F;\r\nconst MSG_TYPE_MASK = 0x3F;\r\nconst FLAG_ALARM_ACK = 0x40;\r\nconst FLAG_GLD_EXT_POWER = 0x80;\r\nconst NC_FLAG_ALARM = 0x01;\r\nconst NC_FLAG_EXT_POWER = 0x10;\r\nconst GLD_ENCRYPTED_LEN = 29;\r\nconst GLD_RECORD_LEN = 34;\r\nconst DEFAULT_GATEWAY_ID = 0x006F;\r\nconst REPLAY_STATE_TTL_MS = 24 * 60 * 60 * 1000;\nconst REPLAY_STATE_VERSION = 2;\nconst REPLAY_STATE_MAX_RECORDS = 8192;\nconst REPLAY_STATE_MAX_DEVICES = 2048;\n\r\nfunction fail(reason, detail) {\r\n    return {\r\n        req: msg.req,\r\n        res: msg.res,\r\n        payload: {\r\n            ok: false,\r\n            kind: \"pertamina-gld-error\",\r\n            reason,\r\n            detail,\r\n            sourceTopic: msg.topic,\r\n            receivedAt: new Date().toISOString()\r\n        },\r\n        topic: \"gld/gateway/error\"\r\n    };\r\n}\r\n\r\nfunction cleanHex(input) {\r\n    return String(input || \"\").replace(/^0x/i, \"\").replace(/[^0-9a-fA-F]/g, \"\");\r\n}\r\n\r\nfunction hexToBuffer(input) {\r\n    const hex = cleanHex(input);\r\n    if (hex.length === 0 || hex.length % 2 !== 0) {\r\n        throw new Error(\"invalid hex length\");\r\n    }\r\n    return Buffer.from(hex, \"hex\");\r\n}\r\n\r\nfunction be16(buf, offset) {\r\n    return (buf[offset] << 8) | buf[offset + 1];\r\n}\r\n\r\nfunction crc16CcittFalse(buf) {\r\n    let crc = 0xFFFF;\r\n    for (const byte of buf) {\r\n        crc ^= byte << 8;\r\n        for (let i = 0; i < 8; i++) {\r\n            crc = (crc & 0x8000) ? ((crc << 1) ^ 0x1021) : (crc << 1);\r\n            crc &= 0xFFFF;\r\n        }\r\n    }\r\n    return crc;\r\n}\r\n\r\nfunction getAesKey(keyId) {\r\n    const envKeyId = Number(env.get(\"GLD_KEY_ID\") || \"1\");\r\n    if (keyId !== envKeyId) {\r\n        throw new Error(`unknown keyId ${keyId}, expected ${envKeyId}`);\r\n    }\r\n\r\n    const configuredKey = env.get(\"GLD_AES128_KEY_HEX\");\r\n    if (!configuredKey) {\r\n        throw new Error(\"GLD_AES128_KEY_HEX is required; production decoder must not fall back to the self-test key\");\r\n    }\r\n    const keyHex = cleanHex(configuredKey).toUpperCase();\r\n    if (keyHex.length !== 32) {\r\n        throw new Error(\"GLD_AES128_KEY_HEX must be 32 hex characters\");\r\n    }\r\n    return {\r\n        key: Buffer.from(keyHex, \"hex\"),\r\n        source: \"env\"\r\n    };\r\n}\r\n\r\nfunction getGatewayId() {\r\n    const raw = String(env.get(\"PGL_GATEWAY_ID\") || env.get(\"GATEWAY_ID\") || \"0x006F\").trim();\r\n    const value = raw.toLowerCase().startsWith(\"0x\") ? parseInt(raw, 16) : Number(raw);\r\n    return Number.isFinite(value) ? value : DEFAULT_GATEWAY_ID;\r\n}\r\n\r\nfunction idHex(value) {\r\n    const n = Number(value) & 0xFFFF;\r\n    return `0x${n.toString(16).toUpperCase().padStart(4, \"0\")}`;\r\n}\r\n\r\nfunction parseIdValue(value, fallback = 0) {\r\n    if (value === undefined || value === null || value === \"\") {\r\n        return fallback;\r\n    }\r\n    if (typeof value === \"string\") {\r\n        const trimmed = value.trim();\r\n        const parsed = trimmed.toLowerCase().startsWith(\"0x\") ? parseInt(trimmed, 16) : Number(trimmed);\r\n        return Number.isFinite(parsed) ? parsed : fallback;\r\n    }\r\n    const parsed = Number(value);\r\n    return Number.isFinite(parsed) ? parsed : fallback;\r\n}\r\n\r\nfunction envNumber(name, fallback) {\r\n    const value = Number(env.get(name));\r\n    return Number.isFinite(value) && value >= 0 ? value : fallback;\r\n}\r\n\r\nconst TOPOLOGY_PARENT_TTL_MS = envNumber(\"PGL_TOPOLOGY_PARENT_TTL_MS\", 900000);\r\nconst TOPOLOGY_DISCOVERY_TTL_MS = envNumber(\"PGL_TOPOLOGY_DISCOVERY_TTL_MS\", 420000);\r\nconst TOPOLOGY_GATEWAY_LINK_TTL_MS = envNumber(\"PGL_TOPOLOGY_GATEWAY_LINK_TTL_MS\", 420000);\r\n\r\nfunction ageMsOf(entry, nowMs = Date.now()) {\r\n    const t = Date.parse(entry && entry.receivedAt);\r\n    return Number.isFinite(t) ? Math.max(0, nowMs - t) : Number.POSITIVE_INFINITY;\r\n}\r\n\r\nfunction pruneTopology(topology, nowMs = Date.now()) {\r\n    topology.parents = topology.parents || {};\r\n    topology.discovery = topology.discovery || {};\r\n    topology.gatewayLinks = topology.gatewayLinks || {};\r\n    topology.hellos = topology.hellos || {};\r\n    topology.routes = topology.routes || {};\r\n\r\n    for (const [clusterIdHex, entry] of Object.entries(topology.parents)) {\r\n        if (ageMsOf(entry, nowMs) > TOPOLOGY_PARENT_TTL_MS) {\r\n            delete topology.parents[clusterIdHex];\r\n            delete topology.routes[clusterIdHex];\r\n        }\r\n    }\r\n    for (const [clusterIdHex, entry] of Object.entries(topology.hellos)) {\r\n        if (ageMsOf(entry, nowMs) > TOPOLOGY_PARENT_TTL_MS) {\r\n            delete topology.hellos[clusterIdHex];\r\n        }\r\n    }\r\n    for (const [clusterIdHex, entry] of Object.entries(topology.discovery)) {\r\n        if (ageMsOf(entry, nowMs) > TOPOLOGY_DISCOVERY_TTL_MS) {\r\n            delete topology.discovery[clusterIdHex];\r\n        }\r\n    }\r\n    for (const [clusterIdHex, entry] of Object.entries(topology.gatewayLinks)) {\r\n        if (ageMsOf(entry, nowMs) > TOPOLOGY_GATEWAY_LINK_TTL_MS) {\r\n            delete topology.gatewayLinks[clusterIdHex];\r\n        }\r\n    }\r\n    for (const clusterIdHex of Object.keys(topology.routes)) {\r\n        if (!topology.parents[clusterIdHex]) {\r\n            delete topology.routes[clusterIdHex];\r\n        }\r\n    }\r\n    return topology;\r\n}\r\n\r\nfunction getTopologyState() {\r\n    return pruneTopology(flow.get(\"pglTopology\") || {\r\n        gatewayIdHex: idHex(getGatewayId()),\r\n        parents: {},\r\n        discovery: {},\r\n        gatewayLinks: {},\r\n        hellos: {},\r\n        routes: {},\r\n        updatedAt: null\r\n    });\r\n}\r\n\r\nfunction buildRouteTo(clusterIdHex, topology) {\r\n    const gatewayIdHex = topology.gatewayIdHex || idHex(getGatewayId());\r\n    const route = [];\r\n    const seen = {};\r\n    let current = clusterIdHex;\r\n\r\n    for (let guard = 0; guard < 16; guard++) {\r\n        if (!current || current === gatewayIdHex || current === \"0x0000\" || seen[current]) {\r\n            break;\r\n        }\r\n        seen[current] = true;\r\n        const entry = topology.parents[current];\r\n        if (!entry) {\r\n            return [];\r\n        }\r\n        route.unshift(current);\r\n        current = entry.parentIdHex;\r\n    }\r\n    return route;\r\n}\r\n\r\nfunction updateTopology(topologyEvent) {\r\n    const topology = getTopologyState();\r\n    topology.gatewayIdHex = idHex(topologyEvent.gatewayId || getGatewayId());\r\n    topology.discovery = topology.discovery || {};\r\n    topology.gatewayLinks = topology.gatewayLinks || {};\r\n    topology.hellos = topology.hellos || {};\r\n    delete topology.resetAt;\r\n    topology.updatedAt = new Date().toISOString();\r\n    topology.parents[topologyEvent.clusterIdHex] = topologyEvent;\r\n    if (String(topologyEvent.report || \"\").toLowerCase() === \"ch-hello\") {\r\n        topology.hellos[topologyEvent.clusterIdHex] = topologyEvent;\r\n    }\r\n    delete topology.discovery[topologyEvent.clusterIdHex];\r\n\r\n    for (const clusterIdHex of Object.keys(topology.parents)) {\r\n        topology.routes[clusterIdHex] = buildRouteTo(clusterIdHex, topology);\r\n    }\r\n    const route = topology.routes[topologyEvent.clusterIdHex] || [];\r\n    flow.set(\"pglTopology\", topology);\r\n    return { topology, route };\r\n}\r\n\r\nfunction rememberDiscovery(topologyEvent) {\r\n    const topology = getTopologyState();\r\n    topology.gatewayIdHex = idHex(topologyEvent.gatewayId || getGatewayId());\r\n    topology.discovery = topology.discovery || {};\r\n    topology.gatewayLinks = topology.gatewayLinks || {};\r\n    const hasFreshInstalledRoute = Boolean(topology.parents[topologyEvent.clusterIdHex]);\r\n    if (hasFreshInstalledRoute) {\r\n        delete topology.discovery[topologyEvent.clusterIdHex];\r\n    } else {\r\n        topology.discovery[topologyEvent.clusterIdHex] = topologyEvent;\r\n    }\r\n    if (topologyEvent.report === \"ch-config-request\" &&\r\n        topologyEvent.parentIdHex === \"0x0000\" &&\r\n        topologyEvent.rssi !== undefined) {\r\n        topology.gatewayLinks[topologyEvent.clusterIdHex] = {\r\n            clusterIdHex: topologyEvent.clusterIdHex,\r\n            gatewayIdHex: topology.gatewayIdHex,\r\n            rssi: topologyEvent.rssi,\r\n            snr: topologyEvent.snr,\r\n            receivedAt: topologyEvent.receivedAt,\r\n            report: topologyEvent.report\r\n        };\r\n    }\r\n    if (!hasFreshInstalledRoute) {\r\n        topology.discoveryUpdatedAt = new Date().toISOString();\r\n    }\r\n    pruneTopology(topology);\r\n    flow.set(\"pglTopology\", topology);\r\n    const route = topology.routes[topologyEvent.clusterIdHex] || [];\r\n    return { topology, route };\r\n}\r\n\r\nfunction isInstalledTopologyReport(report) {\r\n    const normalized = String(report || \"\").toLowerCase();\r\n    return normalized === \"ch-hello\" ||\r\n        normalized === \"ch-topology\" ||\r\n        normalized === \"installed\" ||\r\n        normalized === \"stable-parent\";\r\n}\r\n\r\nfunction getGldDiscoveryState() {\n    return flow.get(\"pglGldDiscovery\") || {};\n}\n\nfunction resolveGldResponseOwner(outer) {\n    const transportSrcIdHex = outer && outer.srcIdHex;\n    const response = outer && outer.response;\n    if (!response || response.requestId === undefined) return transportSrcIdHex;\n\n    const requestId = Number(response.requestId) & 0xFFFF;\n    const nowMs = Date.now();\n    const correlationTtlMs = envNumber(\"PGL_GLD_REQUEST_CORRELATION_TTL_MS\", 120000);\n    const responseTimeoutMs = envNumber(\"PGL_GLD_REQUEST_TIMEOUT_MS\", 20000);\n    const requestIndex = flow.get(\"pglGldRequestIndex\") || {};\n    const indexed = requestIndex[String(requestId)];\n    let ownerChIdHex;\n    let correlation = \"unknown-request-id\";\n\n    function validateCandidate(targetChIdHex, hopList, requestedAt) {\n        const requestedAtMs = Date.parse(requestedAt || \"\");\n        if (!Number.isFinite(requestedAtMs)) return \"invalid-request-time\";\n        const ageMs = nowMs - requestedAtMs;\n        if (ageMs < 0 || ageMs > correlationTtlMs) return \"expired-request-id\";\n        if (ageMs > responseTimeoutMs) return \"late-response\";\n        if (!Array.isArray(hopList) || hopList.length === 0) return \"invalid-request-route\";\n        if (hopList[hopList.length - 1] !== targetChIdHex) return \"target-route-mismatch\";\n        if (hopList[0] !== transportSrcIdHex) return \"ingress-route-mismatch\";\n        return \"valid\";\n    }\n\n    if (indexed && indexed.targetChIdHex) {\n        correlation = validateCandidate(indexed.targetChIdHex, indexed.hopList, indexed.requestedAt);\n        if (correlation === \"valid\") {\n            ownerChIdHex = indexed.targetChIdHex;\n            correlation = \"request-index\";\n        }\n    }\n\n    if (!ownerChIdHex) {\n        const candidates = Object.entries(getGldDiscoveryState())\n            .filter(([, entry]) => Number(entry && entry.requestId) === requestId)\n            .map(([chIdHex, entry]) => ({\n                chIdHex,\n                hopList: entry.hopList,\n                requestedAt: entry.requestedAt,\n                requestedAtMs: Date.parse(entry.requestedAt || \"\")\n            }))\n            .filter((candidate) => Number.isFinite(candidate.requestedAtMs))\n            .sort((a, b) => b.requestedAtMs - a.requestedAtMs);\n        if (candidates.length > 0 &&\n            (candidates.length === 1 || candidates[0].requestedAtMs > candidates[1].requestedAtMs)) {\n            const candidate = candidates[0];\n            correlation = validateCandidate(candidate.chIdHex, candidate.hopList, candidate.requestedAt);\n            if (correlation === \"valid\") {\n                ownerChIdHex = candidate.chIdHex;\n                correlation = \"discovery-request-id\";\n            }\n        } else if (candidates.length > 1) {\n            correlation = \"ambiguous-request-id\";\n        }\n    }\n\n    outer.responseTransportSrcIdHex = transportSrcIdHex;\n    outer.responseTargetChIdHex = ownerChIdHex;\n    outer.responseCorrelation = correlation;\n    return ownerChIdHex;\n}\n\nfunction rememberGldResponse(outer) {\n    const chIdHex = resolveGldResponseOwner(outer);\n    if (!chIdHex) return;\r\n    const response = outer.response || {};\n    const discovery = getGldDiscoveryState();\n    const entry = discovery[chIdHex] || { hopList: [], devices: {} };\n    if (entry.requestId === undefined || Number(entry.requestId) === Number(response.requestId)) {\n        entry.status = \"received\";\n        entry.requestId = response.requestId;\n        entry.responseStatus = response.status;\n        entry.recordCount = response.recordCount;\n        entry.chBatteryMv = response.chBatteryMv;\n        entry.respondedAt = new Date().toISOString();\n    }\n    entry.devices = entry.devices || {};\r\n    discovery[chIdHex] = entry;\r\n    flow.set(\"pglGldDiscovery\", discovery);\r\n}\r\n\r\nfunction rememberGldDevice(outer, event) {\n    const chIdHex = outer && (outer.responseTargetChIdHex || resolveGldResponseOwner(outer));\n    if (!chIdHex || !event || event.ok !== true) return;\r\n    const discovery = getGldDiscoveryState();\r\n    const entry = discovery[chIdHex] || { status: \"unsolicited\", hopList: [], devices: {} };\r\n    entry.devices = entry.devices || {};\r\n    entry.devices[event.nodeIdHex] = {\r\n        nodeIdHex: event.nodeIdHex,\r\n        gasClass: event.gasClass,\r\n        gasName: event.gasName,\r\n        confidence: event.confidence,\r\n        batteryMv: event.batteryMv,\r\n        alarm: event.alarm,\r\n        externalPower: event.externalPower,\r\n        seq: event.seq,\r\n        payloadHex: event.payloadHex,\r\n        plaintextHex: event.plaintextHex,\r\n        decryptOk: event.decryptOk,\r\n        requestId: outer && outer.response ? outer.response.requestId : undefined,\r\n        lastSeenAt: event.receivedAt\r\n    };\r\n    discovery[chIdHex] = entry;\r\n    flow.set(\"pglGldDiscovery\", discovery);\r\n}\r\n\r\nfunction decryptGldPayload(record) {\r\n    if (record.payload.length !== GLD_ENCRYPTED_LEN) {\r\n        return {\r\n            decryptOk: false,\r\n            skipped: true,\r\n            skipReason: `payload length ${record.payload.length} is not encrypted phase-1 length ${GLD_ENCRYPTED_LEN}`\r\n        };\r\n    }\r\n\r\n    const keyId = record.payload[0];\r\n    const nonce = record.payload.subarray(1, 13);\r\n    const ciphertext = record.payload.subarray(13, 17);\r\n    const tag = record.payload.subarray(17, 29);\r\n    const aad = Buffer.from([\r\n        (record.nodeId >> 8) & 0xFF,\r\n        record.nodeId & 0xFF,\r\n        record.seq & 0xFF,\r\n        record.flags & 0xFF,\r\n        keyId & 0xFF\r\n    ]);\r\n    const { key, source } = getAesKey(keyId);\r\n\r\n    let cryptoModule = global.get(\"crypto\");\r\n    if (!cryptoModule && typeof crypto !== \"undefined\") {\r\n        cryptoModule = crypto;\r\n    }\r\n    if (!cryptoModule || typeof cryptoModule.createDecipheriv !== \"function\") {\r\n        throw new Error(\"Node-RED crypto module is not available; set functionGlobalContext.crypto in settings.js\");\r\n    }\r\n\r\n    const decipher = cryptoModule.createDecipheriv(\"aes-128-gcm\", key, nonce, { authTagLength: 12 });\r\n    decipher.setAAD(aad);\r\n    decipher.setAuthTag(tag);\r\n    const plaintext = Buffer.concat([decipher.update(ciphertext), decipher.final()]);\r\n    if (plaintext.length !== 4) {\r\n        throw new Error(`plaintext length ${plaintext.length} invalid`);\r\n    }\r\n\r\n    const gasClass = plaintext[0];\r\n    const confidence = plaintext[1];\r\n    const batteryMv = be16(plaintext, 2);\r\n    const gasName = GAS_CLASS[gasClass] || \"invalid\";\r\n    const confidenceValid = confidence <= 100;\r\n    const gasClassValid = gasClass <= 6;\r\n\r\n    return {\r\n        decryptOk: true,\r\n        keyId,\r\n        keySource: source,\r\n        nonceHex: nonce.toString(\"hex\").toUpperCase(),\r\n        aadHex: aad.toString(\"hex\").toUpperCase(),\r\n        plaintextHex: plaintext.toString(\"hex\").toUpperCase(),\r\n        gasClass,\r\n        gasName,\r\n        confidence,\r\n        confidenceValid,\r\n        batteryMv,\r\n        batteryValid: batteryMv !== 0xFFFF,\r\n        gasClassValid\r\n    };\r\n}\r\n\r\nfunction parseGldRecord(buf) {\r\n    if (buf.length < 5) {\r\n        throw new Error(\"GLDRecord too short\");\r\n    }\r\n    const payloadLen = buf[4];\r\n    if (buf.length !== 5 + payloadLen) {\r\n        throw new Error(`GLDRecord length mismatch: buffer=${buf.length}, payloadLen=${payloadLen}`);\r\n    }\r\n    return {\r\n        nodeId: be16(buf, 0),\r\n        seq: buf[2],\r\n        flags: buf[3],\r\n        payloadLen,\r\n        payload: buf.subarray(5),\r\n        recordHex: buf.toString(\"hex\").toUpperCase()\r\n    };\r\n}\r\n\r\nfunction recordToEvent(record, outer, source) {\r\n    const event = {\r\n        ok: false,\r\n        kind: \"gld-event\",\r\n        source,\r\n        receivedAt: new Date().toISOString(),\r\n        sourceTopic: msg.topic,\r\n        outer,\r\n        nodeId: record.nodeId,\r\n        nodeIdHex: `0x${record.nodeId.toString(16).toUpperCase().padStart(4, \"0\")}`,\r\n        seq: record.seq,\r\n        flags: record.flags,\r\n        alarm: (record.flags & NC_FLAG_ALARM) !== 0,\r\n        externalPower: (record.flags & NC_FLAG_EXT_POWER) !== 0,\r\n        ingressClass: msg.topic === \"gld/test/vector\" ? \"test\" : (msg.req || msg.res ? \"manual\" : \"production\"),\r\n        payloadLen: record.payloadLen,\r\n        payloadHex: record.payload.toString(\"hex\").toUpperCase(),\r\n        dedupKey: `${outer && outer.srcIdHex ? outer.srcIdHex : \"no-cluster\"}:${record.nodeId}:${record.seq}:${(record.flags & NC_FLAG_ALARM) ? \"alarm\" : \"normal\"}`\r\n    };\r\n\r\n    try {\r\n        Object.assign(event, decryptGldPayload(record));\r\n        if (event.decryptOk === true && event.gasClassValid && event.confidenceValid) {\r\n            event.ok = true;\r\n        } else if (event.decryptOk === true) {\r\n            event.decryptOk = false;\r\n            event.decryptError = \"decrypted payload failed semantic validation\";\r\n        }\r\n    } catch (err) {\r\n        event.decryptOk = false;\r\n        event.decryptError = err.message;\r\n    }\r\n\r\n    return event;\r\n}\r\n\r\nfunction replayPersistence() {\r\n    const filePath = String(env.get(\"PGL_REPLAY_STATE_PATH\") || \"\").trim();\r\n    if (!filePath) return null;\r\n    const fsModule = global.get(\"fs\") || (typeof fs !== \"undefined\" ? fs : null);\r\n    const pathModule = global.get(\"path\") || (typeof path !== \"undefined\" ? path : null);\r\n    if (!fsModule || !pathModule) {\r\n        throw new Error(\"durable replay state requires fs and path modules\");\r\n    }\r\n    return { filePath, fsModule, pathModule };\r\n}\r\n\r\nfunction loadReplayState() {\n    const cached = flow.get(\"pglReplayState\");\n    if (cached && cached.version === REPLAY_STATE_VERSION &&\n        cached.entries && cached.observations) return cached;\n    const persistence = replayPersistence();\n    if (!persistence || !persistence.fsModule.existsSync(persistence.filePath)) {\n        return { version: REPLAY_STATE_VERSION, entries: {}, observations: {} };\n    }\n    const parsed = JSON.parse(persistence.fsModule.readFileSync(persistence.filePath, \"utf8\"));\n    if (!parsed || typeof parsed !== \"object\" || Array.isArray(parsed)) {\n        throw new Error(\"durable replay state is not a JSON object\");\n    }\n    // Version 1 stored only an 8-bit sequence window. It cannot distinguish\n    // restart/wrap from a replay after a long pull gap, so intentionally start\n    // an empty exact-record registry when migrating.\n    const normalized = parsed.version === REPLAY_STATE_VERSION &&\n        parsed.entries && parsed.observations\n        ? parsed\n        : { version: REPLAY_STATE_VERSION, entries: {}, observations: {} };\n    flow.set(\"pglReplayState\", normalized);\n    return normalized;\n}\r\n\r\nfunction saveReplayState(all) {\r\n    const persistence = replayPersistence();\r\n    if (persistence) {\r\n        const dir = persistence.pathModule.dirname(persistence.filePath);\r\n        persistence.fsModule.mkdirSync(dir, { recursive: true });\r\n        const temporary = `${persistence.filePath}.${Date.now()}.${Math.random().toString(16).slice(2)}.tmp`;\r\n        persistence.fsModule.writeFileSync(temporary, JSON.stringify(all), { encoding: \"utf8\", mode: 0o600 });\r\n        persistence.fsModule.renameSync(temporary, persistence.filePath);\r\n    }\r\n    flow.set(\"pglReplayState\", all);\r\n}\r\n\r\nfunction replayFingerprint(event) {\n    const cryptoModule = global.get(\"crypto\") || (typeof crypto !== \"undefined\" ? crypto : null);\n    if (!cryptoModule || typeof cryptoModule.createHash !== \"function\") {\n        throw new Error(\"crypto module is required for replay fingerprinting\");\n    }\n    const canonical = [\n        event.ingressClass,\n        event.nodeId,\n        Number(event.seq) & 0xFF,\n        Number(event.flags) & 0xFF,\n        String(event.payloadHex || \"\").toUpperCase()\n    ].join(\":\");\n    return cryptoModule.createHash(\"sha256\").update(canonical, \"utf8\").digest(\"hex\");\n}\n\nfunction sequenceObservation(lastSeq, seq) {\n    if (!Number.isInteger(lastSeq)) return \"first-record\";\n    if (seq === lastSeq) return \"new-record-same-sequence\";\n    const forward = (seq - lastSeq + 256) & 0xFF;\n    if (forward < 128) {\n        return seq < lastSeq ? \"new-record-wrap\" : \"new-record-forward\";\n    }\n    return \"new-record-lower-sequence-or-restart\";\n}\n\nfunction replayDecision(event) {\n    const now = Date.now();\n    const state = loadReplayState();\n    state.entries = state.entries || {};\n    state.observations = state.observations || {};\n\n    for (const [key, value] of Object.entries(state.entries)) {\n        if (!value || now - Number(value.firstSeenAt || 0) > REPLAY_STATE_TTL_MS) {\n            delete state.entries[key];\n        }\n    }\n    for (const [key, value] of Object.entries(state.observations)) {\n        if (!value || now - Number(value.updatedAt || 0) > REPLAY_STATE_TTL_MS) {\n            delete state.observations[key];\n        }\n    }\n\n    const nonceKey = `${event.ingressClass}:${event.keyId}:${event.nonceHex}`;\n    const fingerprint = replayFingerprint(event);\n    const existing = state.entries[nonceKey];\n    if (existing) {\n        return {\n            accepted: false,\n            reason: existing.fingerprint === fingerprint\n                ? \"exact-encrypted-record-replay\"\n                : \"aes-gcm-nonce-reuse\"\n        };\n    }\n\n    const observationKey = `${event.ingressClass}:${event.nodeId}`;\n    const seq = Number(event.seq) & 0xFF;\n    const observation = state.observations[observationKey];\n    const reason = sequenceObservation(\n        observation && Number.isInteger(observation.lastSeq) ? observation.lastSeq : null,\n        seq\n    );\n\n    state.entries[nonceKey] = {\n        fingerprint,\n        nodeId: event.nodeId,\n        seq,\n        firstSeenAt: now\n    };\n    state.observations[observationKey] = { lastSeq: seq, updatedAt: now };\n\n    const entryKeys = Object.keys(state.entries);\n    if (entryKeys.length > REPLAY_STATE_MAX_RECORDS) {\n        entryKeys.sort((a, b) =>\n            Number(state.entries[a].firstSeenAt || 0) - Number(state.entries[b].firstSeenAt || 0));\n        for (let i = 0; i < entryKeys.length - REPLAY_STATE_MAX_RECORDS; i++) {\n            delete state.entries[entryKeys[i]];\n        }\n    }\n    const observationKeys = Object.keys(state.observations);\n    if (observationKeys.length > REPLAY_STATE_MAX_DEVICES) {\n        observationKeys.sort((a, b) =>\n            Number(state.observations[a].updatedAt || 0) - Number(state.observations[b].updatedAt || 0));\n        for (let i = 0; i < observationKeys.length - REPLAY_STATE_MAX_DEVICES; i++) {\n            delete state.observations[observationKeys[i]];\n        }\n    }\n\n    saveReplayState(state);\n    return { accepted: true, reason };\n}\n\r\nfunction quarantineEvent(event, reason, topic) {\r\n    return {\r\n        req: msg.req,\r\n        res: msg.res,\r\n        topic,\r\n        payload: {\r\n            ok: false,\r\n            kind: topic === \"gld/server/replay\" ? \"gld-replay-rejected\" : \"gld-integrity-failure\",\r\n            reason,\r\n            receivedAt: event.receivedAt,\r\n            sourceTopic: event.sourceTopic,\r\n            source: event.source,\r\n            ingressClass: event.ingressClass,\r\n            nodeId: event.nodeId,\r\n            nodeIdHex: event.nodeIdHex,\r\n            seq: event.seq,\r\n            alarmClaimed: event.alarm,\r\n            decryptError: event.decryptError,\r\n            dedupKey: event.dedupKey\r\n        }\r\n    };\r\n}\r\n\r\nfunction routeRecords(records, outer, source) {\r\n    const eventMsgs = [];\r\n    const decodedMsgs = [];\r\n    const quarantineMsgs = [];\r\n    for (const record of records) {\r\n        const event = recordToEvent(record, outer, source);\r\n        if (event.decryptOk !== true || event.ok !== true) {\r\n            quarantineMsgs.push(quarantineEvent(\r\n                event,\r\n                event.decryptError || event.skipReason || \"record authentication failed\",\r\n                \"gld/server/integrity\"\r\n            ));\r\n            continue;\r\n        }\r\n        let replay;\r\n        try {\r\n            replay = replayDecision(event);\r\n        } catch (err) {\r\n            quarantineMsgs.push(quarantineEvent(event, `replay state unavailable: ${err.message}`, \"gld/server/integrity\"));\r\n            continue;\r\n        }\r\n        if (!replay.accepted) {\r\n            quarantineMsgs.push(quarantineEvent(event, replay.reason, \"gld/server/replay\"));\r\n            continue;\r\n        }\r\n        event.replayStatus = replay.reason;\r\n        rememberGldDevice(outer, event);\r\n        const nonProduction = event.ingressClass !== \"production\";\r\n        decodedMsgs.push({\r\n            req: msg.req,\r\n            res: msg.res,\r\n            payload: event,\r\n            topic: nonProduction ? \"gld/server/test\" : (event.alarm ? \"gld/server/alarm\" : \"gld/server/decoded\")\r\n        });\r\n        eventMsgs.push({\r\n            req: msg.req,\r\n            res: msg.res,\r\n            payload: {\r\n                ok: true,\r\n                kind: \"gld-event-envelope\",\r\n                outer,\r\n                nodeId: event.nodeId,\r\n                seq: event.seq,\r\n                flags: event.flags,\r\n                alarm: event.alarm,\r\n                decryptOk: true,\r\n                ingressClass: event.ingressClass\r\n            },\r\n            topic: nonProduction ? \"gld/gateway/test-events\" : \"gld/gateway/events\"\r\n        });\r\n    }\r\n    return { eventMsgs, decodedMsgs, quarantineMsgs };\r\n}\r\n\r\nfunction parseAppFrame(buf) {\r\n    if (buf.length < 10 || buf[0] !== 0xAA) {\r\n        throw new Error(\"AppFrame magic/length invalid\");\r\n    }\r\n    const payloadLen = buf[7];\r\n    if (buf.length !== 10 + payloadLen) {\r\n        throw new Error(`AppFrame length mismatch: buffer=${buf.length}, payloadLen=${payloadLen}`);\r\n    }\r\n    const expectedCrc = be16(buf, buf.length - 2);\r\n    const actualCrc = crc16CcittFalse(buf.subarray(0, buf.length - 2));\r\n    if (expectedCrc !== actualCrc) {\r\n        throw new Error(`AppFrame CRC mismatch expected=0x${expectedCrc.toString(16)} actual=0x${actualCrc.toString(16)}`);\r\n    }\r\n    const typeFlags = buf[1];\r\n    const msgType = typeFlags & MSG_TYPE_MASK;\r\n    const outer = {\r\n        typeFlags,\r\n        msgType,\r\n        alarmFlag: (typeFlags & FLAG_ALARM_ACK) !== 0,\r\n        externalFlag: (typeFlags & FLAG_GLD_EXT_POWER) !== 0,\r\n        srcId: be16(buf, 2),\r\n        srcIdHex: `0x${be16(buf, 2).toString(16).toUpperCase().padStart(4, \"0\")}`,\r\n        dstId: be16(buf, 4),\r\n        dstIdHex: `0x${be16(buf, 4).toString(16).toUpperCase().padStart(4, \"0\")}`,\r\n        seq: buf[6],\r\n        payloadLen\r\n    };\r\n    const payload = buf.subarray(8, 8 + payloadLen);\r\n    outer.payloadHex = payload.toString(\"hex\").toUpperCase();\r\n    const records = [];\r\n\r\n    if (msgType === MSG_CLUSTER_DATA_RESPONSE) {\r\n        if (payload.length < 6) {\r\n            throw new Error(\"CLUSTER_DATA_RESPONSE payload too short\");\r\n        }\r\n        outer.response = {\r\n            requestId: be16(payload, 0),\r\n            status: payload[2],\r\n            chBatteryMv: be16(payload, 3),\r\n            recordCount: payload[5]\r\n        };\r\n        let offset = 6;\r\n        for (let i = 0; i < outer.response.recordCount; i++) {\r\n            if (offset + 5 > payload.length) {\r\n                throw new Error(`CLUSTER_DATA_RESPONSE record ${i} header truncated at offset ${offset}`);\r\n            }\r\n            const payloadLenAtRecord = payload[offset + 4];\r\n            const len = 5 + payloadLenAtRecord;\r\n            if (offset + len > payload.length) {\r\n                throw new Error(`CLUSTER_DATA_RESPONSE record ${i} body truncated: need ${len} bytes at offset ${offset}, have ${payload.length - offset}`);\r\n            }\r\n            records.push(parseGldRecord(payload.subarray(offset, offset + len)));\r\n            offset += len;\r\n        }\r\n    } else if (msgType === MSG_SERVER_PULL_REQUEST) {\r\n        if (payload.length >= 2 && payload.length % 2 === 0) {\r\n            const hopList = [];\r\n            for (let offset = 2; offset < payload.length; offset += 2) {\r\n                const hop = be16(payload, offset);\r\n                hopList.push(`0x${hop.toString(16).toUpperCase().padStart(4, \"0\")}`);\r\n            }\r\n            outer.request = {\r\n                requestId: be16(payload, 0),\r\n                hopList\r\n            };\r\n        }\r\n        return { outer, records, control: true, ignoredReason: \"server-pull-request\" };\r\n    } else if (msgType === MSG_SENSOR_DATA) {\r\n        records.push(parseGldRecord(payload));\r\n    } else if (msgType === MSG_CH_HELLO) {\r\n        if (payload.length < 8) {\r\n            throw new Error(\"CH_HELLO payload too short\");\r\n        }\r\n        outer.topology = {\r\n            clusterId: be16(payload, 0),\r\n            clusterIdHex: idHex(be16(payload, 0)),\r\n            parentId: be16(payload, 2),\r\n            parentIdHex: idHex(be16(payload, 2)),\r\n            parentAltId: payload.length >= 11 ? be16(payload, 9) : 0,\r\n            parentAltIdHex: payload.length >= 11 ? idHex(be16(payload, 9)) : \"0x0000\",\r\n            batteryMv: be16(payload, 4),\r\n            uptimeSec: be16(payload, 6),\r\n            meshDepth: payload.length >= 9 ? payload[8] : null,\r\n            viaHop: outer.srcId,\r\n            viaHopHex: outer.srcIdHex,\r\n            gatewayId: getGatewayId(),\r\n            gatewayIdHex: idHex(getGatewayId()),\r\n            rssi: msg.payload && typeof msg.payload === \"object\" ? msg.payload.rssi : undefined,\r\n            snr: msg.payload && typeof msg.payload === \"object\" ? msg.payload.snr : undefined\r\n        };\r\n        return { outer, records, topology: true };\r\n    } else if (msgType >= MSG_MESH_CONTROL_MIN && msgType <= MSG_MESH_CONTROL_MAX) {\r\n        return { outer, records, control: true, ignoredReason: \"mesh-control-frame\" };\r\n    } else {\r\n        throw new Error(`unsupported AppFrame msgType 0x${msgType.toString(16)}`);\r\n    }\r\n\r\n    return { outer, records };\r\n}\r\n\r\nfunction normalizeInput(input) {\r\n    if (Buffer.isBuffer(input)) {\r\n        return { kind: \"buffer\", buffer: input };\r\n    }\r\n    if (Array.isArray(input)) {\r\n        return { kind: \"buffer\", buffer: Buffer.from(input) };\r\n    }\r\n    if (typeof input === \"string\") {\r\n        const trimmed = input.trim();\r\n        try {\r\n            return normalizeInput(JSON.parse(trimmed));\r\n        } catch (_) {\r\n            return { kind: \"buffer\", buffer: hexToBuffer(trimmed) };\r\n        }\r\n    }\r\n    if (input && typeof input === \"object\") {\r\n        if (input.gateway_id !== undefined && Array.isArray(input.events)) {\r\n            return { kind: \"gatewayStatus\", status: input };\r\n        }\r\n        if (input.kind === \"ch-topology\" || input.kind === \"gateway-topology\" || input.topology) {\r\n            return { kind: \"topologyObject\", topology: input.topology || input };\r\n        }\r\n        const hex = input.frameHex || input.appFrameHex || input.recordHex || input.payload_hex || input.payloadHex || input.hex;\r\n        if (hex) {\r\n            return {\r\n                kind: input.frameHex || input.appFrameHex ? \"appFrameHex\" : \"recordOrPayloadHex\",\r\n                buffer: hexToBuffer(hex),\r\n                meta: input\r\n            };\r\n        }\r\n    }\r\n    throw new Error(\"unsupported input payload\");\r\n}\r\n\r\nfunction emitGatewayStatus(status) {\r\n    const statusMsg = {\r\n        req: msg.req,\r\n        res: msg.res,\r\n        payload: {\r\n            ok: true,\r\n            kind: \"gateway-status\",\r\n            receivedAt: new Date().toISOString(),\r\n            gatewayId: status.gateway_id,\r\n            clusterCount: Array.isArray(status.clusters) ? status.clusters.length : 0,\r\n            eventCount: Array.isArray(status.events) ? status.events.length : 0,\r\n            clusters: status.clusters || []\r\n        },\r\n        topic: \"gld/gateway/status\"\r\n    };\r\n\r\n    const eventMsgs = [];\r\n    const decodedMsgs = [];\r\n    const quarantineMsgs = [];\r\n    for (const e of status.events || []) {\r\n        const base = {\r\n            ok: true,\r\n            kind: \"gateway-event\",\r\n            receivedAt: new Date().toISOString(),\r\n            gatewayId: status.gateway_id,\r\n            clusterId: e.cluster_id,\r\n            nodeId: e.node_id,\r\n            seq: e.seq,\r\n            flags: e.flags,\r\n            alarm: !!e.alarm,\r\n            payloadHex: e.payload_hex,\r\n            legacy: true,\r\n            raw: e\r\n        };\r\n        if (e.payload_hex) {\r\n            try {\r\n                const payload = hexToBuffer(e.payload_hex);\r\n                let record;\r\n                if (payload.length === GLD_RECORD_LEN) {\r\n                    record = parseGldRecord(payload);\r\n                } else if (payload.length === GLD_ENCRYPTED_LEN) {\r\n                    record = {\r\n                        nodeId: Number(e.node_id),\r\n                        seq: Number(e.seq),\r\n                        flags: Number(e.flags),\r\n                        payloadLen: payload.length,\r\n                        payload\r\n                    };\r\n                }\r\n                if (record) {\r\n                    const routed = routeRecords(\r\n                        [record],\r\n                        { srcId: e.cluster_id, srcIdHex: `0x${Number(e.cluster_id).toString(16).toUpperCase().padStart(4, \"0\")}` },\r\n                        \"gateway-status\"\r\n                    );\r\n                    eventMsgs.push(...routed.eventMsgs);\r\n                    decodedMsgs.push(...routed.decodedMsgs);\r\n                    quarantineMsgs.push(...routed.quarantineMsgs);\r\n                }\r\n            } catch (err) {\r\n                quarantineMsgs.push(fail(\"gateway event decode failed\", { error: err.message, event: e }));\r\n            }\r\n        } else {\r\n            base.unverified = true;\r\n            base.alarmClaimed = base.alarm;\r\n            delete base.alarm;\r\n            eventMsgs.push({ req: msg.req, res: msg.res, payload: base, topic: \"gld/gateway/unverified-events\" });\r\n        }\r\n    }\r\n\r\n    return [statusMsg, eventMsgs, decodedMsgs, quarantineMsgs];\r\n}\r\n\r\ntry {\r\n    const input = normalizeInput(msg.payload);\r\n    if (input.kind === \"gatewayStatus\") {\r\n        return emitGatewayStatus(input.status);\r\n    }\r\n    if (input.kind === \"topologyObject\") {\r\n        const t = input.topology || {};\r\n        const clusterId = Number(t.clusterId || t.cluster_id || t.chId || t.ch_id || t.edgeFrom || t.edge_from);\r\n        const parentId = Number(t.parentId || t.parent_id || t.edgeTo || t.edge_to || 0);\r\n        const event = {\r\n            ok: true,\r\n            kind: \"ch-topology\",\r\n            source: \"gateway-topology-object\",\r\n            receivedAt: new Date().toISOString(),\r\n            sourceTopic: msg.topic,\r\n            report: t.reportType || t.report || t.kind,\r\n            gatewayId: Number(t.gatewayId || t.gateway_id || getGatewayId()),\r\n            gatewayIdHex: idHex(t.gatewayId || t.gateway_id || getGatewayId()),\r\n            clusterId,\r\n            clusterIdHex: idHex(clusterId),\r\n            parentId,\r\n            parentIdHex: idHex(parentId),\r\n            parentAltId: parseIdValue(t.parentAltId || t.parentAltIdHex || t.parent_alt_id || t.altParentId || t.alt_parent_id || 0),\r\n            parentAltIdHex: idHex(parseIdValue(t.parentAltId || t.parentAltIdHex || t.parent_alt_id || t.altParentId || t.alt_parent_id || 0)),\r\n            parentIsRoot: parentId === Number(t.gatewayId || t.gateway_id || getGatewayId()),\r\n            requesterId: t.requesterId !== undefined ? Number(t.requesterId) : undefined,\r\n            requesterIdHex: t.requesterId !== undefined ? idHex(t.requesterId) : undefined,\r\n            batteryMv: Number(t.batteryMv || t.battery_mv || 0xFFFF),\r\n            uptimeSec: Number(t.uptimeSec || t.uptimeSec16 || t.uptime_sec || 0),\r\n            meshDepth: t.meshDepth !== undefined ? Number(t.meshDepth) : (t.depth !== undefined ? Number(t.depth) : null),\r\n            viaHop: Number(t.viaHop || t.via_hop || 0),\r\n            viaHopHex: idHex(t.viaHop || t.via_hop || 0),\r\n            rssi: t.rssi,\r\n            snr: t.snr\r\n        };\r\n        if (event.report === \"ch-config-request\" && event.parentIdHex === \"0x0000\") {\r\n            const topology = getTopologyState();\r\n            const existingRoute = topology.routes && topology.routes[event.clusterIdHex];\r\n            const route = Array.isArray(existingRoute) ? existingRoute : [];\r\n            rememberDiscovery(event);\r\n            event.hopList = route;\r\n            event.nextHop = route.length > 0 ? route[0] : undefined;\r\n            event.nextHopHex = event.nextHop;\r\n            event.lastHop = route.length > 0 ? route[route.length - 1] : event.clusterIdHex;\r\n            event.routeText = route.length > 0\r\n                ? `${event.gatewayIdHex} -> ${route.join(\" -> \")}`\r\n                : `${event.gatewayIdHex} heard CH_CONFIG_REQUEST from ${event.clusterIdHex}; installed route pending`;\r\n            event.requestPayload = route.length > 0 ? { requestId: 1, hopList: route } : undefined;\r\n            event.routeStatus = route.length > 0 ? \"CH_CONFIG request seen; retained fresh installed route\" : \"CH_CONFIG request seen; installed route pending\";\r\n            return [null, [{ req: msg.req, res: msg.res, payload: event, topic: \"gld/server/topology\" }], null, null];\r\n        }\r\n\r\n        if (!isInstalledTopologyReport(event.report)) {\r\n            const { route } = rememberDiscovery(event);\r\n            event.hopList = route;\r\n            event.nextHop = route.length > 0 ? route[0] : undefined;\r\n            event.nextHopHex = event.nextHop;\r\n            event.lastHop = route.length > 0 ? route[route.length - 1] : event.clusterIdHex;\r\n            event.routeText = route.length > 0\r\n                ? `${event.gatewayIdHex} -> ${route.join(\" -> \")}`\r\n                : `${event.gatewayIdHex} heard ${event.report || \"discovery\"} from ${event.clusterIdHex}; installed route pending`;\r\n            event.requestPayload = route.length > 0 ? { requestId: 1, hopList: route } : undefined;\r\n            event.routeStatus = route.length > 0 ? \"CH_CONFIG candidate seen; retained fresh installed route\" : \"CH_CONFIG candidate seen; installed route pending\";\r\n            event.discoveryOnly = true;\r\n            return [null, [{ req: msg.req, res: msg.res, payload: event, topic: \"gld/server/topology\" }], null, null];\r\n        }\r\n\r\n        const { route } = updateTopology(event);\r\n        event.hopList = route;\r\n        event.nextHop = route.length > 0 ? route[0] : undefined;\r\n        event.nextHopHex = event.nextHop;\r\n        event.lastHop = route.length > 0 ? route[route.length - 1] : event.clusterIdHex;\r\n        event.routeText = route.length > 0 ? `${event.gatewayIdHex} -> ${route.join(\" -> \")}` : `${event.gatewayIdHex} -> ${event.clusterIdHex} (pending)`;\r\n        event.requestPayload = route.length > 0 ? { requestId: 1, hopList: route } : undefined;\r\n        event.routeStatus = route.length > 0 ? \"CH route updated\" : \"CH route pending\";\r\n        return [null, [{ req: msg.req, res: msg.res, payload: event, topic: \"gld/server/topology\" }], null, null];\r\n    }\r\n\r\n    let parsed;\r\n    if (input.buffer[0] === 0xAA) {\r\n        parsed = parseAppFrame(input.buffer);\r\n    } else if (input.buffer.length === GLD_RECORD_LEN) {\r\n        parsed = { outer: { srcIdHex: \"direct-record\" }, records: [parseGldRecord(input.buffer)] };\r\n    } else if (input.buffer.length === GLD_ENCRYPTED_LEN && input.meta) {\r\n        parsed = {\r\n            outer: { srcIdHex: \"direct-payload\" },\r\n            records: [{\r\n                nodeId: Number(input.meta.nodeId || input.meta.node_id),\r\n                seq: Number(input.meta.seq),\r\n                flags: Number(input.meta.flags || 0),\r\n                payloadLen: input.buffer.length,\r\n                payload: input.buffer\r\n            }]\r\n        };\r\n    } else {\r\n        throw new Error(`buffer length ${input.buffer.length} is not supported`);\r\n    }\r\n\r\n    if (parsed.control) {\r\n        return [null, null, null, null];\r\n    }\r\n\r\n    if (parsed.topology && parsed.outer && parsed.outer.topology) {\r\n        const event = Object.assign({\r\n            ok: true,\r\n            kind: \"ch-topology\",\r\n            source: \"app-frame\",\r\n            receivedAt: new Date().toISOString(),\r\n            sourceTopic: msg.topic,\r\n            report: \"ch-hello\",\r\n            outer: parsed.outer\r\n        }, parsed.outer.topology);\r\n        const { route } = updateTopology(event);\r\n        event.hopList = route;\r\n        event.nextHop = route.length > 0 ? route[0] : undefined;\r\n        event.nextHopHex = event.nextHop;\r\n        event.lastHop = route.length > 0 ? route[route.length - 1] : event.clusterIdHex;\r\n        event.routeText = route.length > 0 ? `${event.gatewayIdHex} -> ${route.join(\" -> \")}` : `${event.gatewayIdHex} -> ${event.clusterIdHex} (pending)`;\r\n        event.requestPayload = route.length > 0 ? { requestId: 1, hopList: route } : undefined;\r\n        event.routeStatus = route.length > 0 ? \"CH route updated\" : \"CH route pending\";\r\n        return [null, [{ req: msg.req, res: msg.res, payload: event, topic: \"gld/server/topology\" }], null, null];\r\n    }\r\n\r\n    if (parsed.outer && parsed.outer.msgType === MSG_CLUSTER_DATA_RESPONSE) {\r\n        if (parsed.outer.dstId !== getGatewayId()) {\r\n            return [null, null, null, null];\r\n        }\r\n        rememberGldResponse(parsed.outer);\r\n    }\r\n\r\n    const routed = routeRecords(parsed.records, parsed.outer, \"contract\");\r\n    return [null, routed.eventMsgs, routed.decodedMsgs, routed.quarantineMsgs];\r\n} catch (err) {\r\n    return [null, null, null, fail(\"decode failed\", err.message)];\r\n}\r\n",
    "outputs": 4,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "fs",
        "module": "fs"
      },
      {
        "var": "path",
        "module": "path"
      }
    ],
    "x": 700,
    "y": 140,
    "wires": [
      [
        "pgl_mqtt_status",
        "pgl_debug_status"
      ],
      [
        "pgl_mqtt_events",
        "pgl_debug_events",
        "pgl_compact_topology_debug"
      ],
      [
        "pgl_mqtt_decoded",
        "pgl_compact_decoded_debug",
        "pgl_http_decode_ok"
      ],
      [
        "pgl_mqtt_error",
        "pgl_debug_error",
        "pgl_http_decode_error"
      ]
    ]
  },
  {
    "id": "pgl_http_decode_ok",
    "type": "function",
    "z": "pgl_tab",
    "name": "HTTP decode OK",
    "func": "if (!msg.req || !msg.res) {\n    return null;\n}\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1220,
    "y": 340,
    "wires": [
      [
        "pgl_http_decode_response"
      ]
    ]
  },
  {
    "id": "pgl_http_decode_error",
    "type": "function",
    "z": "pgl_tab",
    "name": "HTTP decode error",
    "func": "if (!msg.req || !msg.res) {\n    return null;\n}\nmsg.statusCode = 400;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1220,
    "y": 400,
    "wires": [
      [
        "pgl_http_decode_response"
      ]
    ]
  },
  {
    "id": "pgl_http_decode_response",
    "type": "http response",
    "z": "pgl_tab",
    "name": "HTTP decode response",
    "statusCode": "",
    "headers": {},
    "x": 1460,
    "y": 370,
    "wires": []
  },
  {
    "id": "pgl_http_topology_json_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "GET /pertamina-gld/topology",
    "url": "/pertamina-gld/topology",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 500,
    "wires": [
      [
        "pgl_topology_json"
      ]
    ]
  },
  {
    "id": "pgl_topology_json",
    "type": "function",
    "z": "pgl_tab",
    "name": "build topology JSON",
    "func": "function idHex(value) {\n  const n = Number(value) & 0xFFFF;\n  return \"0x\" + n.toString(16).toUpperCase().padStart(4, \"0\");\n}\n\nconst gatewayIdHex = idHex(Number(env.get(\"PGL_GATEWAY_ID\") || \"0x006F\"));\nconst topology = flow.get(\"pglTopology\") || {\n  gatewayIdHex,\n  parents: {},\n  discovery: {},\n  gatewayLinks: {},\n  hellos: {},\n  routes: {},\n  updatedAt: null\n};\ntopology.gatewayIdHex = topology.gatewayIdHex || gatewayIdHex;\nconst directGatewayMinRssiDbm = Number(env.get(\"PGL_GATEWAY_DIRECT_PARENT_MIN_RSSI_DBM\") || \"-95\");\nconst directGatewayMinSnrDb = Number(env.get(\"PGL_GATEWAY_DIRECT_PARENT_MIN_SNR_DB\") || \"5\");\nconst topologyParentTtlMs = Number(env.get(\"PGL_TOPOLOGY_PARENT_TTL_MS\") || \"900000\");\nconst topologyDiscoveryTtlMs = Number(env.get(\"PGL_TOPOLOGY_DISCOVERY_TTL_MS\") || \"420000\");\nconst topologyGatewayLinkTtlMs = Number(env.get(\"PGL_TOPOLOGY_GATEWAY_LINK_TTL_MS\") || \"420000\");\n\nfunction hasNumber(value) {\n  return value !== undefined && value !== null && value !== \"\" && Number.isFinite(Number(value));\n}\n\nfunction ageMsOf(entry, nowMs = Date.now()) {\n  const t = Date.parse(entry && entry.receivedAt);\n  return Number.isFinite(t) ? Math.max(0, nowMs - t) : Number.POSITIVE_INFINITY;\n}\n\nfunction pruneMapByTtl(map, ttlMs, nowMs = Date.now()) {\n  for (const [key, entry] of Object.entries(map || {})) {\n    if (ageMsOf(entry, nowMs) > ttlMs) {\n      delete map[key];\n    }\n  }\n}\n\nfunction newestIso(...values) {\n  const valid = values\n    .filter(Boolean)\n    .map((value) => ({ value, t: Date.parse(value) }))\n    .filter((item) => Number.isFinite(item.t))\n    .sort((a, b) => b.t - a.t);\n  return valid.length > 0 ? valid[0].value : null;\n}\n\ntopology.parents = topology.parents || {};\ntopology.discovery = topology.discovery || {};\ntopology.gatewayLinks = topology.gatewayLinks || {};\ntopology.hellos = topology.hellos || {};\ntopology.routes = topology.routes || {};\npruneMapByTtl(topology.parents, topologyParentTtlMs);\npruneMapByTtl(topology.discovery, topologyDiscoveryTtlMs);\npruneMapByTtl(topology.gatewayLinks, topologyGatewayLinkTtlMs);\npruneMapByTtl(topology.hellos, topologyParentTtlMs);\nfor (const clusterIdHex of Object.keys(topology.routes)) {\n  if (!topology.parents[clusterIdHex]) {\n    delete topology.routes[clusterIdHex];\n  }\n}\nflow.set(\"pglTopology\", topology);\n\nconst nodes = [{\n  id: topology.gatewayIdHex,\n  label: \"GW\",\n  type: \"gateway\",\n  parent: null,\n  depth: 0,\n  layer: 0,\n  layerLabel: \"Layer 0\",\n  route: [],\n  status: \"root\"\n}];\n\nconst edges = [];\nconst installedIds = new Set(Object.keys(topology.parents || {}));\nconst visibleIds = new Set([topology.gatewayIdHex]);\nfor (const [clusterIdHex, entry] of Object.entries(topology.parents || {})) {\n  const route = Array.isArray((topology.routes || {})[clusterIdHex])\n    ? topology.routes[clusterIdHex]\n    : [];\n  const live = (topology.discovery || {})[clusterIdHex] || null;\n  const liveIsGatewayRequest = live &&\n    live.report === \"ch-config-request\" &&\n    (live.parentIdHex === \"0x0000\" || !live.parentIdHex);\n  const liveRssi = live && hasNumber(live.rssi) ? Number(live.rssi) : undefined;\n  const liveSnr = live && hasNumber(live.snr) ? Number(live.snr) : undefined;\n  const liveBattery = live && hasNumber(live.batteryMv) && Number(live.batteryMv) !== 0xFFFF\n    ? Number(live.batteryMv)\n    : undefined;\n  const gatewayLink = (topology.gatewayLinks || {})[clusterIdHex] || null;\n  const gatewayRssi = gatewayLink && hasNumber(gatewayLink.rssi) ? Number(gatewayLink.rssi) : undefined;\n  const gatewaySnr = gatewayLink && hasNumber(gatewayLink.snr) ? Number(gatewayLink.snr) : undefined;\n  const hello = (topology.hellos || {})[clusterIdHex] || (entry.report === \"ch-hello\" ? entry : null);\n  const lastSeenAgeSec = Math.round(ageMsOf(entry) / 1000);\n  const lastHelloAgeSec = hello ? Math.round(ageMsOf(hello) / 1000) : undefined;\n  const gatewayLinkAgeSec = gatewayLink ? Math.round(ageMsOf(gatewayLink) / 1000) : undefined;\n  const parentIdHex = entry.parentIdHex || \"0x0000\";\n  const parentAltIdHex = entry.parentAltIdHex || \"0x0000\";\n  const routeIsInstalled = route.length > 0 &&\n    (parentIdHex === topology.gatewayIdHex || parentIdHex === \"0x0000\" || installedIds.has(parentIdHex));\n  const depth = routeIsInstalled ? route.length : null;\n  const layer = depth;\n  const layerLabel = hasNumber(layer) ? \"Layer \" + layer : \"Discovery\";\n  const rssiSource = parentIdHex && parentIdHex !== \"0x0000\" ? parentIdHex : (entry.viaHopHex || topology.gatewayIdHex);\n  const rssiTarget = clusterIdHex;\n  const rssiLink = rssiSource + \" -> \" + rssiTarget;\n  const displayRssi = !liveIsGatewayRequest && liveRssi !== undefined ? liveRssi : entry.rssi;\n  const displaySnr = !liveIsGatewayRequest && liveSnr !== undefined ? liveSnr : entry.snr;\n  const linkQualityLabel = displayRssi !== undefined || displaySnr !== undefined\n    ? \"RSSI to Parent: \" + (displayRssi ?? \"-\") + \" dBm, SNR \" + (displaySnr ?? \"-\") + \" dB\"\n    : \"RSSI to Parent: belum ada\";\n  const gatewayQualityLabel = gatewayRssi !== undefined || gatewaySnr !== undefined\n    ? \"RSSI to Gateway: \" + (gatewayRssi ?? \"-\") + \" dBm, SNR \" + (gatewaySnr ?? \"-\") + \" dB\"\n    : \"RSSI to Gateway: belum ada\";\n  const batteryMv = liveBattery !== undefined ? liveBattery : entry.batteryMv;\n  const publicRoute = routeIsInstalled ? route : [];\n  const pendingReason = routeIsInstalled\n    ? null\n    : (parentIdHex && parentIdHex !== \"0x0000\"\n      ? \"pending: waiting installed route via \" + parentIdHex\n      : \"pending: waiting parent topology\");\n  nodes.push({\n    id: clusterIdHex,\n    label: \"CH \" + clusterIdHex,\n    type: \"ch\",\n    parent: parentIdHex,\n    parentAlt: parentAltIdHex,\n    depth,\n    layer,\n    layerLabel,\n    route: publicRoute,\n    routeText: routeIsInstalled ? topology.gatewayIdHex + \" -> \" + route.join(\" -> \") : \"installed route pending\",\n    requestPayload: routeIsInstalled ? { requestId: 1, hopList: route } : null,\n    lastHop: routeIsInstalled ? route[route.length - 1] : clusterIdHex,\n    report: entry.report,\n    rssi: displayRssi,\n    snr: displaySnr,\n    rssiSource,\n    rssiTarget,\n    rssiLink,\n    linkQualityLabel,\n    gatewayRssi,\n    gatewaySnr,\n    gatewayQualityLabel,\n    gatewayLinkUpdatedAt: gatewayLink ? gatewayLink.receivedAt : undefined,\n    gatewayLinkAgeSec,\n    lastHelloAgeSec,\n    lastHelloUpdatedAt: hello ? hello.receivedAt : undefined,\n    liveUpdatedAt: live ? live.receivedAt : undefined,\n    lastSeenAgeSec,\n    batteryMv,\n    batteryLabel: batteryMv !== undefined && batteryMv !== null && Number(batteryMv) !== 0xFFFF\n      ? \"battery: \" + batteryMv + \" mV\"\n      : \"battery: belum ada\",\n    pendingReason,\n    updatedAt: entry.receivedAt || topology.updatedAt,\n    status: routeIsInstalled ? \"installed\" : \"pending\"\n  });\n  visibleIds.add(clusterIdHex);\n  if (routeIsInstalled && parentIdHex && parentIdHex !== \"0x0000\" && parentIdHex !== clusterIdHex) {\n    edges.push({\n      from: parentIdHex,\n      to: clusterIdHex,\n      label: parentIdHex + \" -> \" + clusterIdHex,\n      role: \"main\",\n      rssi: displayRssi,\n      snr: displaySnr,\n      linkQualityLabel\n    });\n  }\n  if (routeIsInstalled && parentAltIdHex && parentAltIdHex !== \"0x0000\" &&\n      parentAltIdHex !== clusterIdHex && parentAltIdHex !== parentIdHex) {\n    edges.push({\n      from: parentAltIdHex,\n      to: clusterIdHex,\n      label: parentAltIdHex + \" -> \" + clusterIdHex,\n      role: \"alternate\",\n      linkQualityLabel: \"Alternative Parent\"\n    });\n  }\n}\n\nfor (const [clusterIdHex, event] of Object.entries(topology.discovery || {})) {\n  if (visibleIds.has(clusterIdHex)) {\n    continue;\n  }\n  const gatewayLink = (topology.gatewayLinks || {})[clusterIdHex] || null;\n  const gatewayRssi = gatewayLink && hasNumber(gatewayLink.rssi) ? Number(gatewayLink.rssi) : undefined;\n  const gatewaySnr = gatewayLink && hasNumber(gatewayLink.snr) ? Number(gatewayLink.snr) : undefined;\n  const hello = (topology.hellos || {})[clusterIdHex] || null;\n  const lastSeenAgeSec = Math.round(ageMsOf(event) / 1000);\n  const lastHelloAgeSec = hello ? Math.round(ageMsOf(hello) / 1000) : undefined;\n  const gatewayLinkAgeSec = gatewayLink ? Math.round(ageMsOf(gatewayLink) / 1000) : undefined;\n  const gatewayQualityLabel = gatewayRssi !== undefined || gatewaySnr !== undefined\n    ? \"RSSI to Gateway: \" + (gatewayRssi ?? \"-\") + \" dBm, SNR \" + (gatewaySnr ?? \"-\") + \" dB\"\n    : \"RSSI to Gateway: belum ada\";\n  const batteryMv = hasNumber(event.batteryMv) && Number(event.batteryMv) !== 0xFFFF\n    ? Number(event.batteryMv)\n    : undefined;\n  const directGatewayCandidate = gatewayRssi !== undefined &&\n    gatewaySnr !== undefined &&\n    gatewayRssi >= directGatewayMinRssiDbm &&\n    gatewaySnr >= directGatewayMinSnrDb;\n  const pendingReason = directGatewayCandidate\n    ? \"pending: direct Gateway candidate is strong; waiting installed CH_HELLO/topology\"\n    : (gatewayRssi !== undefined || gatewaySnr !== undefined\n      ? \"pending: Gateway link RSSI \" + (gatewayRssi ?? \"-\") + \" dBm / SNR \" + (gatewaySnr ?? \"-\") + \" dB below direct threshold \" + directGatewayMinRssiDbm + \" dBm / \" + directGatewayMinSnrDb + \" dB; waiting CH parent response\"\n      : \"pending: waiting CH_CONFIG response\");\n  nodes.push({\n    id: clusterIdHex,\n    label: \"CH \" + clusterIdHex,\n    type: \"ch\",\n    parent: directGatewayCandidate ? topology.gatewayIdHex : null,\n    parentAlt: null,\n    depth: null,\n    layer: null,\n    layerLabel: \"Discovery\",\n    route: [],\n    routeText: directGatewayCandidate ? topology.gatewayIdHex + \" -> \" + clusterIdHex + \" (pending)\" : \"installed route pending\",\n    requestPayload: directGatewayCandidate ? { requestId: 1, hopList: [clusterIdHex] } : null,\n    lastHop: clusterIdHex,\n    report: event.report,\n    rssi: directGatewayCandidate ? gatewayRssi : undefined,\n    snr: directGatewayCandidate ? gatewaySnr : undefined,\n    rssiSource: directGatewayCandidate ? topology.gatewayIdHex : null,\n    rssiTarget: clusterIdHex,\n    rssiLink: directGatewayCandidate ? topology.gatewayIdHex + \" -> \" + clusterIdHex : null,\n    linkQualityLabel: directGatewayCandidate\n      ? \"RSSI to Parent: \" + (gatewayRssi ?? \"-\") + \" dBm, SNR \" + (gatewaySnr ?? \"-\") + \" dB\"\n      : \"RSSI to Parent: belum ada\",\n    gatewayRssi,\n    gatewaySnr,\n    gatewayQualityLabel,\n    gatewayLinkUpdatedAt: gatewayLink ? gatewayLink.receivedAt : undefined,\n    gatewayLinkAgeSec,\n    lastHelloAgeSec,\n    lastHelloUpdatedAt: hello ? hello.receivedAt : undefined,\n    liveUpdatedAt: event.receivedAt,\n    lastSeenAgeSec,\n    batteryMv,\n    batteryLabel: batteryMv !== undefined && batteryMv !== null\n      ? \"battery: \" + batteryMv + \" mV\"\n      : \"battery: belum ada\",\n    pendingReason,\n    updatedAt: event.receivedAt,\n    status: \"discovery\"\n  });\n  visibleIds.add(clusterIdHex);\n}\n\nconst nodeById = new Map(nodes.map((node) => [node.id, node]));\nfunction resolveVisualLayer(node, guard = 0) {\n  if (!node || guard > 16) {\n    return null;\n  }\n  if (node.type === \"gateway\") {\n    return 0;\n  }\n  if (node.status === \"installed\" && Array.isArray(node.route) && node.route.length > 0) {\n    return node.route.length;\n  }\n  if (node.parent && node.parent !== \"0x0000\" && node.parent !== node.id && nodeById.has(node.parent)) {\n    const parentLayer = resolveVisualLayer(nodeById.get(node.parent), guard + 1);\n    return parentLayer !== null ? parentLayer + 1 : null;\n  }\n  if (node.gatewayRssi !== undefined || node.gatewaySnr !== undefined) {\n    return 1;\n  }\n  return null;\n}\n\nfor (const node of nodes) {\n  const visualLayer = resolveVisualLayer(node);\n  if (visualLayer !== null) {\n    node.layer = visualLayer;\n    node.layerLabel = node.status === \"installed\" || node.type === \"gateway\"\n      ? \"Layer \" + visualLayer\n      : \"Layer \" + visualLayer + \" pending\";\n    if (node.status === \"installed\") {\n      node.depth = visualLayer;\n    }\n  }\n}\n\nconst edgeKeys = new Set(edges.map((edge) => edge.role + \":\" + edge.from + \"->\" + edge.to));\nfor (const node of nodes) {\n  if (node.type !== \"ch\" || node.status === \"installed\") {\n    continue;\n  }\n  if (node.parent && node.parent !== \"0x0000\" && node.parent !== node.id && nodeById.has(node.parent)) {\n    const key = \"pending:\" + node.parent + \"->\" + node.id;\n    if (!edgeKeys.has(key)) {\n      edges.push({\n        from: node.parent,\n        to: node.id,\n        label: node.parent + \" -> \" + node.id,\n        role: \"pending\",\n        rssi: node.rssi,\n        snr: node.snr,\n        linkQualityLabel: node.linkQualityLabel || \"Pending Parent\"\n      });\n      edgeKeys.add(key);\n    }\n  }\n}\n\nnodes.sort((a, b) => {\n  const da = a.layer === null ? 99 : a.layer;\n  const db = b.layer === null ? 99 : b.layer;\n  if (da !== db) return da - db;\n  return String(a.id).localeCompare(String(b.id));\n});\n\nconst publicRoutes = {};\nfor (const node of nodes) {\n  if (node.type === \"ch\" && node.status === \"installed\" && Array.isArray(node.route) && node.route.length > 0) {\n    publicRoutes[node.id] = node.route;\n  }\n}\n\nconst gldRequestTimeoutMs = Number(env.get(\"PGL_GLD_REQUEST_TIMEOUT_MS\") || \"20000\");\nconst gldDiscoveryRaw = flow.get(\"pglGldDiscovery\") || {};\nconst gldDiscovery = {};\nconst nowMsGld = Date.now();\nfor (const [chIdHex, entry] of Object.entries(gldDiscoveryRaw)) {\n  const requestedAtMs = Date.parse(entry.requestedAt || \"\");\n  const requestedAgeSec = Number.isFinite(requestedAtMs) ? Math.round((nowMsGld - requestedAtMs) / 1000) : undefined;\n  const statusDisplay = entry.status === \"sent\" && requestedAgeSec !== undefined && requestedAgeSec * 1000 > gldRequestTimeoutMs\n    ? \"timeout\"\n    : (entry.status || \"idle\");\n  const devices = Object.values(entry.devices || {})\n    .map((device) => {\n      const lastSeenAtMs = Date.parse(device.lastSeenAt || \"\");\n      return Object.assign({}, device, {\n        lastSeenAgeSec: Number.isFinite(lastSeenAtMs) ? Math.round((nowMsGld - lastSeenAtMs) / 1000) : undefined\n      });\n    })\n    .sort((a, b) => String(a.nodeIdHex).localeCompare(String(b.nodeIdHex)));\n  gldDiscovery[chIdHex] = {\n    ch: chIdHex,\n    status: statusDisplay,\n    requestId: entry.requestId,\n    hopList: entry.hopList || [],\n    requestedAt: entry.requestedAt || null,\n    requestedAgeSec,\n    respondedAt: entry.respondedAt || null,\n    recordCount: entry.recordCount,\n    chBatteryMv: entry.chBatteryMv,\n    responseStatus: entry.responseStatus,\n    deviceCount: devices.length,\n    devices\n  };\n}\n\nconst latestGldAttachment = new Map();\nfor (const [chIdHex, entry] of Object.entries(gldDiscovery)) {\n  if (!nodeById.has(chIdHex)) continue;\n  for (const device of entry.devices || []) {\n    const key = String(device.nodeIdHex || \"\");\n    if (!key) continue;\n    const seenMs = Date.parse(device.lastSeenAt || \"\") || 0;\n    const current = latestGldAttachment.get(key);\n    if (!current || seenMs > current.seenMs) {\n      latestGldAttachment.set(key, { chIdHex, device, seenMs });\n    }\n  }\n}\n\nlet gldNodeCount = 0;\nfor (const { chIdHex, device } of latestGldAttachment.values()) {\n    const parentNode = nodeById.get(chIdHex);\n    const topologyNodeId = \"gld:\" + chIdHex + \":\" + device.nodeIdHex;\n    const layer = Number.isFinite(Number(parentNode.layer)) ? Number(parentNode.layer) + 1 : null;\n    const node = {\n      id: topologyNodeId,\n      type: \"gld\",\n      label: \"GLD \" + device.nodeIdHex,\n      parent: chIdHex,\n      layer,\n      layerLabel: layer === null ? \"GLD\" : \"Layer \" + layer + \" / GLD\",\n      status: device.alarm ? \"alarm\" : \"online\",\n      nodeIdHex: device.nodeIdHex,\n      chIdHex,\n      gasClass: device.gasClass,\n      gasName: device.gasName,\n      confidence: device.confidence,\n      batteryMv: device.batteryMv,\n      alarm: Boolean(device.alarm),\n      externalPower: Boolean(device.externalPower),\n      seq: device.seq,\n      decryptOk: device.decryptOk,\n      lastSeenAt: device.lastSeenAt,\n      lastSeenAgeSec: device.lastSeenAgeSec\n    };\n    nodes.push(node);\n    nodeById.set(topologyNodeId, node);\n    edges.push({\n      from: chIdHex,\n      to: topologyNodeId,\n      label: chIdHex + \" -> \" + device.nodeIdHex,\n      role: \"gld\"\n    });\n    gldNodeCount++;\n}\n\nnodes.sort((a, b) => {\n  const da = a.layer === null ? 99 : a.layer;\n  const db = b.layer === null ? 99 : b.layer;\n  if (da !== db) return da - db;\n  return String(a.id).localeCompare(String(b.id));\n});\n\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\" };\nmsg.payload = {\n  ok: true,\n  kind: \"pgl-topology\",\n  updatedAt: topology.updatedAt,\n  liveUpdatedAt: newestIso(topology.discoveryUpdatedAt, topology.updatedAt),\n  topologyUpdatedAt: topology.updatedAt,\n  resetAt: topology.resetAt || null,\n  gatewayIdHex: topology.gatewayIdHex,\n  nodeCount: nodes.length,\n  edgeCount: edges.length,\n  mainEdgeCount: edges.filter((edge) => edge.role === \"main\").length,\n  alternateEdgeCount: edges.filter((edge) => edge.role === \"alternate\").length,\n  pendingEdgeCount: edges.filter((edge) => edge.role === \"pending\").length,\n  discoveryCount: Object.keys(topology.discovery || {}).length,\n  gldNodeCount,\n  nodes,\n  edges,\n  routes: publicRoutes,\n  discovery: topology.discovery || {},\n  gldDiscovery\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 500,
    "wires": [
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_reset_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "POST /pertamina-gld/topology/reset",
    "url": "/pertamina-gld/topology/reset",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 600,
    "wires": [
      [
        "pgl_topology_reset"
      ]
    ]
  },
  {
    "id": "pgl_topology_reset",
    "type": "function",
    "z": "pgl_tab",
    "name": "reset topology state",
    "func": "function idHex(value) {\n  const n = Number(value) & 0xFFFF;\n  return \"0x\" + n.toString(16).toUpperCase().padStart(4, \"0\");\n}\n\nconst gatewayIdHex = idHex(Number(env.get(\"PGL_GATEWAY_ID\") || \"0x006F\"));\nconst resetAt = new Date().toISOString();\nconst topology = {\n  gatewayIdHex,\n  parents: {},\n  discovery: {},\n  gatewayLinks: {},\n  hellos: {},\n  routes: {},\n  updatedAt: null,\n  discoveryUpdatedAt: null,\n  resetAt\n};\nflow.set(\"pglTopology\", topology);\nflow.set(\"pglGldDiscovery\", {});\nflow.set(\"pglGldRequestIndex\", {});\n\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\" };\nmsg.payload = {\n  ok: true,\n  kind: \"pgl-topology\",\n  reset: true,\n  resetAt,\n  updatedAt: null,\n  liveUpdatedAt: null,\n  topologyUpdatedAt: null,\n  gatewayIdHex,\n  nodeCount: 1,\n  edgeCount: 0,\n  mainEdgeCount: 0,\n  alternateEdgeCount: 0,\n  discoveryCount: 0,\n  gldNodeCount: 0,\n  nodes: [{\n    id: gatewayIdHex,\n    label: \"GW\",\n    type: \"gateway\",\n    parent: null,\n    depth: 0,\n    layer: 0,\n    layerLabel: \"Layer 0\",\n    route: [],\n    status: \"root\"\n  }],\n  edges: [],\n  routes: {},\n  discovery: {},\n  gatewayLinks: {},\n  gldDiscovery: {}\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 600,
    "wires": [
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_request_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "POST /pertamina-gld/topology/request",
    "url": "/pertamina-gld/topology/request",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 650,
    "wires": [
      [
        "pgl_topology_request"
      ]
    ]
  },
  {
    "id": "pgl_topology_request",
    "type": "function",
    "z": "pgl_tab",
    "name": "request CH pull route",
    "func": "function idHexValue(value) {\n  const raw = String(value || \"\").trim();\n  const n = raw.toLowerCase().startsWith(\"0x\") ? parseInt(raw, 16) : Number(raw);\n  if (!Number.isFinite(n)) return null;\n  return \"0x\" + (n & 0xFFFF).toString(16).toUpperCase().padStart(4, \"0\");\n}\n\nconst clusterIdHex = idHexValue((msg.req && msg.req.query && msg.req.query.ch) || (msg.payload && (msg.payload.ch || msg.payload.clusterId)));\nif (!clusterIdHex) {\n  msg.statusCode = 400;\n  msg.payload = { ok: false, reason: \"invalid-ch-id\" };\n  return [null, msg];\n}\n\nconst topology = flow.get(\"pglTopology\") || {};\nlet route = topology.routes && Array.isArray(topology.routes[clusterIdHex]) ? topology.routes[clusterIdHex] : [];\nif (route.length === 0) {\n  const directGatewayMinRssiDbm = Number(env.get(\"PGL_GATEWAY_DIRECT_PARENT_MIN_RSSI_DBM\") || \"-95\");\n  const directGatewayMinSnrDb = Number(env.get(\"PGL_GATEWAY_DIRECT_PARENT_MIN_SNR_DB\") || \"5\");\n  const gatewayLink = (topology.gatewayLinks || {})[clusterIdHex];\n  const isDirectCandidate = gatewayLink &&\n    Number.isFinite(Number(gatewayLink.rssi)) &&\n    Number.isFinite(Number(gatewayLink.snr)) &&\n    Number(gatewayLink.rssi) >= directGatewayMinRssiDbm &&\n    Number(gatewayLink.snr) >= directGatewayMinSnrDb;\n  if (isDirectCandidate) {\n    route = [clusterIdHex];\n  }\n}\nif (route.length === 0) {\n  msg.statusCode = 409;\n  msg.payload = { ok: false, reason: \"route-not-installed\", ch: clusterIdHex };\n  return [null, msg];\n}\n\nconst requestCorrelationTtlMs = Number(env.get(\"PGL_GLD_REQUEST_CORRELATION_TTL_MS\") || \"120000\");\nconst requestIndex = flow.get(\"pglGldRequestIndex\") || {};\nconst requestNowMs = Date.now();\nfor (const [key, entry] of Object.entries(requestIndex)) {\n  const requestedAtMs = Date.parse(entry && entry.requestedAt || \"\");\n  if (Number.isFinite(requestedAtMs) && requestNowMs - requestedAtMs > requestCorrelationTtlMs) delete requestIndex[key];\n}\nlet requestId = (requestNowMs & 0xFFFF) || 1;\nlet requestIdAvailable = false;\nfor (let guard = 0; guard < 0xFFFF; guard++) {\n  if (requestId !== 0 && !requestIndex[String(requestId)]) {\n    requestIdAvailable = true;\n    break;\n  }\n  requestId = (requestId + 1) & 0xFFFF;\n  if (requestId === 0) requestId = 1;\n}\nif (!requestIdAvailable) {\n  msg.statusCode = 503;\n  msg.payload = { ok: false, reason: \"request-id-pool-exhausted\", ch: clusterIdHex };\n  return [null, msg];\n}\nconst requestedAt = new Date(requestNowMs).toISOString();\nconst command = {\n  requestId,\n  hopList: route\n};\nrequestIndex[String(requestId)] = {\n  requestId,\n  targetChIdHex: clusterIdHex,\n  hopList: route,\n  requestedAt\n};\nflow.set(\"pglGldRequestIndex\", requestIndex);\nconst mqttMsg = {\n  topic: \"gld/gateway/cmd/pull\",\n  payload: command\n};\n\nconst gldDiscovery = flow.get(\"pglGldDiscovery\") || {};\nconst existingGldEntry = gldDiscovery[clusterIdHex] || {};\ngldDiscovery[clusterIdHex] = {\n  status: \"sent\",\n  requestId,\n  hopList: route,\n  requestedAt,\n  respondedAt: existingGldEntry.respondedAt || null,\n  recordCount: existingGldEntry.recordCount,\n  chBatteryMv: existingGldEntry.chBatteryMv,\n  responseStatus: existingGldEntry.responseStatus,\n  devices: existingGldEntry.devices || {}\n};\nflow.set(\"pglGldDiscovery\", gldDiscovery);\n\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\" };\nmsg.payload = { ok: true, kind: \"pgl-topology-request\", ch: clusterIdHex, requestId, hopList: route };\nreturn [mqttMsg, msg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 650,
    "wires": [
      [
        "pgl_mqtt_out_pull_command",
        "pgl_debug_mqtt_command"
      ],
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_delete_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "POST /pertamina-gld/topology/delete",
    "url": "/pertamina-gld/topology/delete",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 700,
    "wires": [
      [
        "pgl_topology_delete"
      ]
    ]
  },
  {
    "id": "pgl_topology_delete",
    "type": "function",
    "z": "pgl_tab",
    "name": "delete CH topology state",
    "func": "function idHexValue(value) {\n  const raw = String(value || \"\").trim();\n  const n = raw.toLowerCase().startsWith(\"0x\") ? parseInt(raw, 16) : Number(raw);\n  if (!Number.isFinite(n)) return null;\n  return \"0x\" + (n & 0xFFFF).toString(16).toUpperCase().padStart(4, \"0\");\n}\n\nconst clusterIdHex = idHexValue((msg.req && msg.req.query && msg.req.query.ch) || (msg.payload && (msg.payload.ch || msg.payload.clusterId)));\nif (!clusterIdHex) {\n  msg.statusCode = 400;\n  msg.payload = { ok: false, reason: \"invalid-ch-id\" };\n  return msg;\n}\n\nconst topology = flow.get(\"pglTopology\") || {};\ntopology.parents = topology.parents || {};\ntopology.discovery = topology.discovery || {};\ntopology.gatewayLinks = topology.gatewayLinks || {};\ntopology.hellos = topology.hellos || {};\ntopology.routes = topology.routes || {};\n\ndelete topology.parents[clusterIdHex];\ndelete topology.discovery[clusterIdHex];\ndelete topology.gatewayLinks[clusterIdHex];\ndelete topology.hellos[clusterIdHex];\ndelete topology.routes[clusterIdHex];\nfor (const [key, route] of Object.entries(topology.routes)) {\n  if (Array.isArray(route) && route.includes(clusterIdHex)) {\n    delete topology.routes[key];\n  }\n}\ntopology.updatedAt = new Date().toISOString();\ntopology.discoveryUpdatedAt = topology.updatedAt;\nflow.set(\"pglTopology\", topology);\n\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\" };\nmsg.payload = { ok: true, deleted: clusterIdHex, kind: \"pgl-topology-delete\", updatedAt: topology.updatedAt };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 700,
    "wires": [
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_view_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "GET /pertamina-gld/topology/view",
    "url": "/pertamina-gld/topology/view",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 550,
    "wires": [
      [
        "pgl_topology_view"
      ]
    ]
  },
  {
    "id": "pgl_topology_view",
    "type": "function",
    "z": "pgl_tab",
    "name": "render topology view",
    "func": "msg.headers = { \"content-type\": \"text/html; charset=utf-8\" };\nmsg.payload = `<!doctype html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Pertamina GLD Topology</title>\n  <style>\n    :root {\n      color-scheme: dark;\n      --bg: #101214;\n      --panel: #171b20;\n      --line: #6b7280;\n      --text: #f3f4f6;\n      --muted: #9ca3af;\n      --gw: #10b981;\n      --ch: #38bdf8;\n      --warn: #f59e0b;\n      --mainLink: #38bdf8;\n      --altLink: #f59e0b;\n    }\n    * { box-sizing: border-box; }\n    body {\n      margin: 0;\n      font-family: \"Segoe UI\", Arial, sans-serif;\n      background: var(--bg);\n      color: var(--text);\n    }\n    header {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      gap: 16px;\n      padding: 16px 20px;\n      border-bottom: 1px solid #2b3036;\n      background: #0f1115;\n    }\n    h1 { margin: 0; font-size: 20px; font-weight: 650; }\n    .meta { color: var(--muted); font-size: 13px; text-align: right; }\n    main { padding: 18px; }\n    .canvas {\n      position: relative;\n      min-height: 560px;\n      border: 1px solid #2b3036;\n      background: radial-gradient(circle at 50% 0%, #192028 0, #12161b 45%, #101214 100%);\n      overflow: auto;\n    }\n    svg {\n      position: absolute;\n      inset: 0;\n      width: 100%;\n      height: 100%;\n      pointer-events: none;\n    }\n    .node {\n      position: absolute;\n      width: 240px;\n      min-height: 210px;\n      padding: 12px;\n      border: 1px solid var(--node-border, #334155);\n      border-left: 5px solid var(--node-accent, var(--node-border, #334155));\n      border-radius: 8px;\n      background: linear-gradient(180deg, var(--node-bg, var(--panel)) 0%, var(--panel) 72%);\n      box-shadow: 0 10px 26px rgba(0,0,0,.26);\n      cursor: grab;\n      touch-action: none;\n      user-select: none;\n    }\n    .node.dragging {\n      cursor: grabbing;\n      z-index: 5;\n      box-shadow: 0 16px 36px rgba(0,0,0,.42);\n    }\n    .node.updated {\n      animation: chUpdateFlash 1.8s ease-out 1;\n    }\n    .node.gateway {\n      --node-border: var(--gw);\n      --node-accent: var(--gw);\n      --node-bg: #12231f;\n      --layer-pill-bg: rgba(16,185,129,.18);\n    }\n    .node.ch {\n      --node-border: var(--ch);\n      --node-accent: var(--ch);\n      --node-bg: #10202a;\n      --layer-pill-bg: rgba(56,189,248,.16);\n    }\n    .node.gld {\n      --node-border: #a78bfa;\n      --node-accent: #a78bfa;\n      --node-bg: #1b172b;\n      --layer-pill-bg: rgba(167,139,250,.17);\n      min-height: 190px;\n    }\n    .node.gld.alarm {\n      --node-border: #ef4444;\n      --node-accent: #ef4444;\n      --node-bg: #2a1414;\n    }\n    .node.pending {\n      outline: 1px solid rgba(245,158,11,.85);\n      outline-offset: 1px;\n    }\n    @keyframes chUpdateFlash {\n      0% {\n        border-color: #fde047;\n        background: #2a2615;\n        box-shadow: 0 0 0 0 rgba(253,224,71,.95), 0 10px 26px rgba(0,0,0,.26);\n      }\n      35% {\n        border-color: #facc15;\n        background: #252319;\n        box-shadow: 0 0 0 8px rgba(253,224,71,.24), 0 16px 34px rgba(0,0,0,.34);\n      }\n      100% {\n        border-color: var(--node-border, var(--ch));\n        background: linear-gradient(180deg, var(--node-bg, var(--panel)) 0%, var(--panel) 72%);\n        box-shadow: 0 0 0 18px rgba(253,224,71,0), 0 10px 26px rgba(0,0,0,.26);\n      }\n    }\n    .title { font-size: 16px; font-weight: 700; margin-bottom: 8px; }\n    .row { color: var(--muted); font-size: 12px; line-height: 1.45; white-space: normal; overflow: visible; overflow-wrap: anywhere; }\n    .layer {\n      display: inline-block;\n      margin-bottom: 7px;\n      padding: 2px 7px;\n      border: 1px solid #475569;\n      border-radius: 999px;\n      color: #e5e7eb;\n      background: var(--layer-pill-bg, transparent);\n      font-size: 11px;\n      line-height: 1.35;\n    }\n    .route {\n      margin-top: 8px;\n      color: #d1d5db;\n      font-size: 12px;\n      line-height: 1.35;\n      white-space: normal;\n    }\n    .toolbar {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 12px;\n      gap: 12px;\n    }\n    .legend {\n      display: flex;\n      align-items: center;\n      gap: 14px;\n      flex-wrap: wrap;\n      color: var(--muted);\n      font-size: 12px;\n    }\n    .legend-item {\n      display: inline-flex;\n      align-items: center;\n      gap: 6px;\n    }\n    .legend-line {\n      width: 28px;\n      height: 0;\n      border-top: 3px solid var(--mainLink);\n    }\n    .legend-line.alt {\n      border-top-color: var(--altLink);\n      border-top-style: dashed;\n    }\n    .legend-line.pending {\n      border-top-color: var(--warn);\n      border-top-style: dotted;\n    }\n    .legend-line.gld { border-top-color: #a78bfa; }\n    button {\n      border: 1px solid #475569;\n      background: #1f2937;\n      color: var(--text);\n      border-radius: 6px;\n      padding: 8px 12px;\n      cursor: pointer;\n    }\n    button:hover { background: #263244; }\n    button:disabled { cursor: wait; opacity: .65; }\n    button.danger {\n      border-color: #7f1d1d;\n      background: #3b1717;\n      color: #fecaca;\n    }\n    button.danger:hover { background: #4c1d1d; }\n    .table-actions {\n      display: flex;\n      gap: 6px;\n      flex-wrap: nowrap;\n    }\n    .table-action {\n      width: auto;\n      min-width: 58px;\n      padding: 5px 8px;\n      border-radius: 6px;\n      font-size: 11px;\n      line-height: 1;\n    }\n    .table-action.delete {\n      color: #fecaca;\n      border-color: rgba(248,113,113,.55);\n      background: rgba(127,29,29,.18);\n    }\n    .table-action:disabled {\n      opacity: .42;\n      cursor: not-allowed;\n    }\n    .actions {\n      display: flex;\n      align-items: center;\n      gap: 8px;\n      flex-wrap: wrap;\n      justify-content: flex-end;\n    }\n    .status { color: var(--muted); font-size: 13px; }\n    .empty {\n      padding: 28px;\n      color: var(--muted);\n      text-align: center;\n    }\n    .pending-section {\n      margin-top: 14px;\n      border: 1px solid #2b3036;\n      background: #11161c;\n      overflow: hidden;\n    }\n    .pending-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      gap: 12px;\n      padding: 12px 14px;\n      border-bottom: 1px solid #2b3036;\n    }\n    .pending-header h2 {\n      margin: 0;\n      font-size: 15px;\n      font-weight: 650;\n    }\n    .pending-count {\n      color: var(--muted);\n      font-size: 12px;\n    }\n    .pending-table-wrap {\n      overflow-x: auto;\n    }\n    .pending-table {\n      width: 100%;\n      border-collapse: collapse;\n      font-size: 12px;\n      min-width: 760px;\n    }\n    .pending-table th,\n    .pending-table td {\n      padding: 9px 12px;\n      border-bottom: 1px solid #252b33;\n      text-align: left;\n      vertical-align: top;\n    }\n    .pending-table th {\n      color: #d1d5db;\n      background: #151b22;\n      font-weight: 650;\n    }\n    .pending-table td {\n      color: var(--muted);\n    }\n    .pending-table tr:last-child td {\n      border-bottom: 0;\n    }\n    .pending-empty {\n      padding: 13px 14px;\n      color: var(--muted);\n      font-size: 12px;\n    }\n    .card-actions {\n      margin-top: 8px;\n      display: flex;\n      justify-content: flex-end;\n    }\n    .card-actions button {\n      padding: 4px 10px;\n      font-size: 11px;\n    }\n    .gld-section {\n      margin-top: 14px;\n      display: grid;\n      grid-template-columns: minmax(260px, 1fr) minmax(420px, 2fr);\n      gap: 14px;\n    }\n    @media (max-width: 960px) {\n      .gld-section { grid-template-columns: 1fr; }\n    }\n    .gld-panel {\n      border: 1px solid #2b3036;\n      background: #11161c;\n      overflow: hidden;\n    }\n    .gld-panel-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      gap: 12px;\n      padding: 12px 14px;\n      border-bottom: 1px solid #2b3036;\n    }\n    .gld-panel-header h2 {\n      margin: 0;\n      font-size: 15px;\n      font-weight: 650;\n    }\n    .gld-request-list {\n      padding: 10px 14px;\n      display: flex;\n      flex-direction: column;\n      gap: 10px;\n      max-height: 420px;\n      overflow-y: auto;\n    }\n    .gld-request-item {\n      border: 1px solid #252b33;\n      border-radius: 8px;\n      padding: 10px 12px;\n      background: #151b22;\n    }\n    .gld-request-item .row1 {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      gap: 8px;\n      margin-bottom: 6px;\n    }\n    .gld-request-item .ch-id { font-weight: 650; font-size: 13px; }\n    .gld-request-item .meta { color: var(--muted); font-size: 11px; line-height: 1.5; }\n    .status-badge {\n      display: inline-flex;\n      align-items: center;\n      gap: 6px;\n      padding: 3px 9px;\n      border-radius: 999px;\n      font-size: 11px;\n      font-weight: 650;\n      border: 1px solid transparent;\n      white-space: nowrap;\n    }\n    .status-badge.sent {\n      color: #93c5fd;\n      background: rgba(59,130,246,.16);\n      border-color: rgba(59,130,246,.4);\n    }\n    .status-badge.received {\n      color: #86efac;\n      background: rgba(34,197,94,.16);\n      border-color: rgba(34,197,94,.4);\n    }\n    .status-badge.timeout {\n      color: #fca5a5;\n      background: rgba(239,68,68,.16);\n      border-color: rgba(239,68,68,.4);\n    }\n    .status-badge.unsolicited,\n    .status-badge.idle {\n      color: var(--muted);\n      background: rgba(148,163,184,.12);\n      border-color: rgba(148,163,184,.3);\n    }\n    .spinner {\n      width: 9px;\n      height: 9px;\n      border-radius: 50%;\n      border: 2px solid rgba(147,197,253,.35);\n      border-top-color: #93c5fd;\n      animation: gldSpin .8s linear infinite;\n    }\n    @keyframes gldSpin {\n      to { transform: rotate(360deg); }\n    }\n    .gld-empty {\n      padding: 13px 14px;\n      color: var(--muted);\n      font-size: 12px;\n    }\n    .gld-table-wrap { overflow-x: auto; }\n    .gld-table {\n      width: 100%;\n      border-collapse: collapse;\n      font-size: 12px;\n      min-width: 760px;\n    }\n    .gld-table th,\n    .gld-table td {\n      padding: 9px 12px;\n      border-bottom: 1px solid #252b33;\n      text-align: left;\n      vertical-align: top;\n    }\n    .gld-table th {\n      color: #d1d5db;\n      background: #151b22;\n      font-weight: 650;\n    }\n    .gld-table td { color: var(--muted); }\n    .gld-table tr:last-child td { border-bottom: 0; }\n    .gld-table .payload-hex {\n      font-family: \"Consolas\", \"Menlo\", monospace;\n      font-size: 11px;\n      color: #9ca3af;\n      max-width: 240px;\n      overflow: hidden;\n      text-overflow: ellipsis;\n      white-space: nowrap;\n      display: inline-block;\n      vertical-align: bottom;\n    }\n    .gld-table .alarm-yes { color: #fca5a5; font-weight: 650; }\n  </style>\n</head>\n<body>\n  <header>\n    <h1>Pertamina GLD Topology</h1>\n    <div class=\"meta\">\n      <div id=\"summary\">loading...</div>\n      <div>Auto refresh 1 detik</div>\n    </div>\n  </header>\n  <main>\n    <div class=\"toolbar\">\n      <div class=\"status\" id=\"status\">Mengambil topology...</div>\n      <div class=\"legend\">\n        <span class=\"legend-item\"><span class=\"legend-line\"></span>Main Parent</span>\n        <span class=\"legend-item\"><span class=\"legend-line alt\"></span>Alternative Parent</span>\n        <span class=\"legend-item\"><span class=\"legend-line pending\"></span>Pending Parent</span>\n        <span class=\"legend-item\"><span class=\"legend-line gld\"></span>CH ke GLD</span>\n      </div>\n      <div class=\"actions\">\n        <button id=\"refresh\">Refresh</button>\n        <button id=\"resetLayout\">Reset Layout</button>\n        <button id=\"resetRouting\" class=\"danger\">Reset Routing</button>\n      </div>\n    </div>\n    <div class=\"canvas\" id=\"canvas\">\n      <svg id=\"links\"></svg>\n      <div id=\"nodes\"></div>\n    </div>\n    <section class=\"pending-section\">\n      <div class=\"pending-header\">\n        <h2>Status CH</h2>\n        <div class=\"pending-count\" id=\"pendingCount\">0 item</div>\n      </div>\n      <div id=\"pendingDetails\"></div>\n    </section>\n    <section class=\"gld-section\">\n      <div class=\"gld-panel\">\n        <div class=\"gld-panel-header\">\n          <h2>Request GLD Discovery</h2>\n          <div class=\"pending-count\" id=\"gldRequestCount\">0 request</div>\n        </div>\n        <div id=\"gldRequestList\" class=\"gld-request-list\"></div>\n      </div>\n      <div class=\"gld-panel\">\n        <div class=\"gld-panel-header\">\n          <h2>GLD Terdiscover</h2>\n          <div class=\"pending-count\" id=\"gldDeviceCount\">0 GLD</div>\n        </div>\n        <div id=\"gldDeviceDetails\"></div>\n      </div>\n    </section>\n  </main>\n  <script>\n    const canvas = document.getElementById(\"canvas\");\n    const nodesEl = document.getElementById(\"nodes\");\n    const linksEl = document.getElementById(\"links\");\n    const statusEl = document.getElementById(\"status\");\n    const summaryEl = document.getElementById(\"summary\");\n    const pendingDetailsEl = document.getElementById(\"pendingDetails\");\n    const pendingCountEl = document.getElementById(\"pendingCount\");\n    const gldRequestListEl = document.getElementById(\"gldRequestList\");\n    const gldRequestCountEl = document.getElementById(\"gldRequestCount\");\n    const gldDeviceDetailsEl = document.getElementById(\"gldDeviceDetails\");\n    const gldDeviceCountEl = document.getElementById(\"gldDeviceCount\");\n    const resetButton = document.getElementById(\"resetRouting\");\n    const resetLayoutButton = document.getElementById(\"resetLayout\");\n    const nodeSignals = new Map();\n    const layoutStorageKey = \"pertamina-gld-topology-layout-v1\";\n    const nodeW = 240;\n    let currentEdges = [];\n    let currentPositions = {};\n    let dragActive = false;\n    let hasRendered = false;\n\n    function loadManualLayout() {\n      try {\n        const saved = JSON.parse(localStorage.getItem(layoutStorageKey) || \"{}\");\n        return saved && typeof saved === \"object\" ? saved : {};\n      } catch (err) {\n        return {};\n      }\n    }\n\n    function saveManualLayout(layout) {\n      localStorage.setItem(layoutStorageKey, JSON.stringify(layout));\n    }\n\n    function clamp(value, min, max) {\n      return Math.min(Math.max(value, min), max);\n    }\n\n    function escapeHtml(value) {\n      return String(value ?? \"\").replace(/[&<>\"']/g, (char) => ({\n        \"&\": \"&amp;\",\n        \"<\": \"&lt;\",\n        \">\": \"&gt;\",\n        '\"': \"&quot;\",\n        \"'\": \"&#39;\"\n      }[char]));\n    }\n\n    function pendingExplanation(node) {\n      const reason = String(node.pendingReason || \"\").toLowerCase();\n      if (reason.includes(\"waiting installed route via\")) {\n        const via = String(node.pendingReason || \"\").split(\"via \").pop() || node.parent || \"-\";\n        return \"Menunggu route parent \" + via + \" terpasang dulu. Biasanya selesai setelah parent mengirim CH_HELLO/topology yang valid ke server.\";\n      }\n      if (reason.includes(\"direct gateway candidate is strong\")) {\n        return \"Gateway sudah terdengar cukup kuat. Server menunggu CH_HELLO/topology dari CH supaya route resmi bisa dipasang.\";\n      }\n      if (reason.includes(\"below direct threshold\")) {\n        return \"Link langsung ke Gateway belum memenuhi threshold. CH sedang menunggu response parent/CH lain dari proses CH_CONFIG.\";\n      }\n      if (reason.includes(\"waiting ch_config response\")) {\n        return \"Menunggu CH_CONFIG_RESPONSE dari Gateway atau parent CH agar kandidat route bisa dipilih.\";\n      }\n      if (reason.includes(\"waiting parent topology\")) {\n        return \"Menunggu topology parent masuk ke server supaya jalur sampai Gateway bisa dihitung.\";\n      }\n      return node.pendingReason || \"Menunggu event routing berikutnya dari CH_CONFIG atau CH_HELLO/topology.\";\n    }\n\n    function ageLabel(seconds) {\n      if (seconds === undefined || seconds === null || !Number.isFinite(Number(seconds))) return \"-\";\n      const sec = Math.max(0, Math.round(Number(seconds)));\n      if (sec < 60) return sec + \"s ago\";\n      const min = Math.floor(sec / 60);\n      const rem = sec % 60;\n      if (min < 60) return min + \"m\" + (rem ? \" \" + rem + \"s\" : \"\") + \" ago\";\n      const hour = Math.floor(min / 60);\n      const minRem = min % 60;\n      return hour + \"h\" + (minRem ? \" \" + minRem + \"m\" : \"\") + \" ago\";\n    }\n\n    function expectedNextEvent(node) {\n      if (node.status === \"installed\") {\n        if (node.lastHelloAgeSec !== undefined) {\n          const remaining = Math.max(0, 300 - Math.round(Number(node.lastHelloAgeSec)));\n          return remaining > 0\n            ? \"Menunggu CH_HELLO periodik berikutnya sekitar \" + remaining + \"s lagi.\"\n            : \"CH_HELLO periodik sudah waktunya masuk; menunggu update berikutnya dari CH.\";\n        }\n        return \"Route sudah installed; menunggu CH_HELLO berikutnya untuk mengisi umur hello.\";\n      }\n      const reason = String(node.pendingReason || \"\").toLowerCase();\n      if (reason.includes(\"direct gateway candidate is strong\")) {\n        return \"Menunggu CH_HELLO pertama dari CH supaya route resmi dipasang.\";\n      }\n      if (reason.includes(\"waiting installed route via\")) {\n        const via = String(node.pendingReason || \"\").split(\"via \").pop() || node.parent || \"-\";\n        return \"Menunggu parent \" + via + \" installed dulu, lalu CH_HELLO dari CH ini.\";\n      }\n      if (reason.includes(\"below direct threshold\")) {\n        return \"Menunggu CH_CONFIG_RESPONSE dari parent CH yang lebih layak.\";\n      }\n      if (reason.includes(\"waiting ch_config response\")) {\n        return \"Menunggu CH_CONFIG_RESPONSE dari GW atau parent CH.\";\n      }\n      if (reason.includes(\"waiting parent topology\")) {\n        return \"Menunggu topology parent masuk ke server.\";\n      }\n      return \"Menunggu event CH_CONFIG atau CH_HELLO berikutnya.\";\n    }\n\n    function renderPendingTable(nodes) {\n      const chNodes = nodes.filter((node) => node.type === \"ch\");\n      const pendingNodes = chNodes.filter((node) => node.status !== \"installed\" || node.pendingReason);\n      pendingCountEl.textContent = pendingNodes.length + \" pending / \" + chNodes.length + \" CH\";\n      if (chNodes.length === 0) {\n        pendingDetailsEl.innerHTML = '<div class=\"pending-empty\">Belum ada CH.</div>';\n        return;\n      }\n      pendingDetailsEl.innerHTML =\n        '<div class=\"pending-table-wrap\">' +\n        '<table class=\"pending-table\">' +\n        '<thead><tr>' +\n        '<th>CH</th><th>Status</th><th>Parent</th><th>Route</th><th>Last CH_HELLO</th><th>Expected Next Event</th><th>Aksi</th><th>Update</th>' +\n        '</tr></thead><tbody>' +\n        chNodes.map((node) =>\n          '<tr>' +\n          '<td>' + escapeHtml(node.label || node.id || \"-\") + '</td>' +\n          '<td>' + escapeHtml(node.status || \"-\") + '</td>' +\n          '<td>' + escapeHtml(node.parent || \"-\") + '</td>' +\n          '<td>' + escapeHtml(node.routeText || \"-\") + '</td>' +\n          '<td>' + escapeHtml(ageLabel(node.lastHelloAgeSec)) + '</td>' +\n          '<td>' + escapeHtml(expectedNextEvent(node)) + '</td>' +\n          '<td><div class=\"table-actions\">' +\n          '<button class=\"table-action\" data-action=\"request\" data-node-id=\"' + escapeHtml(node.id || \"\") + '\"' + (node.requestPayload ? \"\" : \" disabled\") + '>Request</button>' +\n          '<button class=\"table-action delete\" data-action=\"delete\" data-node-id=\"' + escapeHtml(node.id || \"\") + '\">Hapus</button>' +\n          '</div></td>' +\n          '<td>' + escapeHtml(ageLabel(node.lastSeenAgeSec) !== \"-\" ? ageLabel(node.lastSeenAgeSec) : (node.updatedAt || \"-\")) + '</td>' +\n          '</tr>'\n        ).join(\"\") +\n        '</tbody></table></div>';\n    }\n\n    function layerStyleFor(node) {\n      const fallback = { border: \"#64748b\", bg: \"#171b24\", pill: \"rgba(148,163,184,.16)\" };\n      const red = { border: \"#ef4444\", bg: \"#2a1414\", pill: \"rgba(239,68,68,.18)\" };\n      const palette = {\n        0: { border: \"#10b981\", bg: \"#12231f\", pill: \"rgba(16,185,129,.18)\" },\n        1: { border: \"#38bdf8\", bg: \"#10202a\", pill: \"rgba(56,189,248,.16)\" },\n        2: { border: \"#a78bfa\", bg: \"#1b172b\", pill: \"rgba(167,139,250,.17)\" },\n        3: { border: \"#f59e0b\", bg: \"#2a1f10\", pill: \"rgba(245,158,11,.17)\" },\n        4: { border: \"#fb7185\", bg: \"#2a151b\", pill: \"rgba(251,113,133,.16)\" },\n        5: { border: \"#22c55e\", bg: \"#102317\", pill: \"rgba(34,197,94,.15)\" },\n        6: { border: \"#06b6d4\", bg: \"#10232a\", pill: \"rgba(6,182,212,.16)\" },\n        7: { border: \"#84cc16\", bg: \"#1a230f\", pill: \"rgba(132,204,22,.16)\" },\n        8: { border: \"#f97316\", bg: \"#2a1a10\", pill: \"rgba(249,115,22,.17)\" },\n        9: { border: \"#6366f1\", bg: \"#17172b\", pill: \"rgba(99,102,241,.17)\" }\n      };\n      const layer = Number.isFinite(Number(node.layer)) ? Math.trunc(Number(node.layer)) : null;\n      if (layer === null) return fallback;\n      if (layer >= 10) return red;\n      return palette[layer] || fallback;\n    }\n\n    function applyLayerStyle(div, node) {\n      const style = layerStyleFor(node);\n      div.style.setProperty(\"--node-border\", style.border);\n      div.style.setProperty(\"--node-accent\", style.border);\n      div.style.setProperty(\"--node-bg\", style.bg);\n      div.style.setProperty(\"--layer-pill-bg\", style.pill);\n    }\n\n    function updateCanvasHeight() {\n      const maxY = Object.values(currentPositions).reduce((acc, pos) => Math.max(acc, pos.y + (pos.h || 260)), 560);\n      canvas.style.minHeight = Math.max(560, maxY + 24) + \"px\";\n    }\n\n    function measureNodePositions() {\n      for (const div of nodesEl.querySelectorAll(\".node[data-node-id]\")) {\n        const nodeId = div.dataset.nodeId;\n        const pos = currentPositions[nodeId];\n        if (!pos) continue;\n        pos.w = div.offsetWidth || nodeW;\n        pos.h = div.offsetHeight || 210;\n        pos.cx = pos.x + pos.w / 2;\n      }\n    }\n\n    function edgeAnchors(a, b) {\n      const aW = a.w || nodeW;\n      const bW = b.w || nodeW;\n      const aH = a.h || 210;\n      const bH = b.h || 210;\n      const aCenterY = a.y + aH / 2;\n      const bCenterY = b.y + bH / 2;\n      if (aCenterY <= bCenterY) {\n        return {\n          x1: a.x + aW / 2,\n          y1: a.y + aH,\n          x2: b.x + bW / 2,\n          y2: b.y\n        };\n      }\n      return {\n        x1: a.x + aW / 2,\n        y1: a.y,\n        x2: b.x + bW / 2,\n        y2: b.y + bH\n      };\n    }\n\n    function renderLinks() {\n      measureNodePositions();\n      linksEl.innerHTML = \"\";\n      for (const edge of currentEdges) {\n        const a = currentPositions[edge.from];\n        const b = currentPositions[edge.to];\n        if (!a || !b) continue;\n        const anchor = edgeAnchors(a, b);\n        const line = document.createElementNS(\"http://www.w3.org/2000/svg\", \"line\");\n        line.setAttribute(\"x1\", anchor.x1);\n        line.setAttribute(\"y1\", anchor.y1);\n        line.setAttribute(\"x2\", anchor.x2);\n        line.setAttribute(\"y2\", anchor.y2);\n        line.setAttribute(\"stroke\", edge.role === \"gld\" ? \"#a78bfa\" : (edge.role === \"alternate\" ? \"#f59e0b\" : (edge.role === \"pending\" ? \"#f59e0b\" : \"#38bdf8\")));\n        line.setAttribute(\"stroke-width\", edge.role === \"main\" ? \"3\" : \"2\");\n        if (edge.role === \"alternate\") {\n          line.setAttribute(\"stroke-dasharray\", \"7 7\");\n        } else if (edge.role === \"pending\") {\n          line.setAttribute(\"stroke-dasharray\", \"3 7\");\n        }\n        linksEl.appendChild(line);\n      }\n    }\n\n    function attachDrag(div, nodeId) {\n      let startX = 0;\n      let startY = 0;\n      let pointerStartX = 0;\n      let pointerStartY = 0;\n      div.addEventListener(\"pointerdown\", (event) => {\n        if (event.button !== undefined && event.button !== 0) return;\n        if (event.target.closest(\"button\")) return;\n        const pos = currentPositions[nodeId];\n        if (!pos) return;\n        event.preventDefault();\n        dragActive = true;\n        div.classList.add(\"dragging\");\n        div.setPointerCapture(event.pointerId);\n        startX = pos.x;\n        startY = pos.y;\n        pointerStartX = event.clientX;\n        pointerStartY = event.clientY;\n      });\n      div.addEventListener(\"pointermove\", (event) => {\n        if (!div.classList.contains(\"dragging\")) return;\n        const width = Math.max(canvas.clientWidth, 760);\n        const nextX = clamp(startX + event.clientX - pointerStartX, 16, Math.max(16, width - nodeW - 16));\n        const nextY = Math.max(16, startY + event.clientY - pointerStartY);\n        currentPositions[nodeId] = {\n          x: nextX,\n          y: nextY,\n          w: currentPositions[nodeId].w || div.offsetWidth || nodeW,\n          h: currentPositions[nodeId].h || div.offsetHeight || 210,\n          cx: nextX + (currentPositions[nodeId].w || div.offsetWidth || nodeW) / 2\n        };\n        div.style.left = nextX + \"px\";\n        div.style.top = nextY + \"px\";\n        updateCanvasHeight();\n        renderLinks();\n      });\n      const finishDrag = (event) => {\n        if (!div.classList.contains(\"dragging\")) return;\n        div.classList.remove(\"dragging\");\n        try {\n          div.releasePointerCapture(event.pointerId);\n        } catch (err) {}\n        const layout = loadManualLayout();\n        const pos = currentPositions[nodeId];\n        if (pos) {\n          layout[nodeId] = { x: Math.round(pos.x), y: Math.round(pos.y) };\n          saveManualLayout(layout);\n        }\n        dragActive = false;\n      };\n      div.addEventListener(\"pointerup\", finishDrag);\n      div.addEventListener(\"pointercancel\", finishDrag);\n    }\n\n    function groupByDepth(nodes) {\n      const groups = new Map();\n      const finiteLayers = nodes\n        .map((node) => node.layer !== null && node.layer !== undefined && Number.isFinite(Number(node.layer)) ? Number(node.layer) : null)\n        .filter((layer) => layer !== null);\n      const fallbackLayer = finiteLayers.length > 0 ? Math.max(...finiteLayers) + 1 : 1;\n      for (const node of nodes) {\n        const layer = node.layer !== null && node.layer !== undefined && Number.isFinite(Number(node.layer)) ? Number(node.layer) : fallbackLayer;\n        if (!groups.has(layer)) groups.set(layer, []);\n        groups.get(layer).push(node);\n      }\n      return [...groups.entries()].sort((a, b) => a[0] - b[0]);\n    }\n\n    function gldStatusLabel(status) {\n      switch (status) {\n        case \"sent\": return \"Mengirim / menunggu respon\";\n        case \"received\": return \"Diterima\";\n        case \"timeout\": return \"Timeout, tidak ada respon\";\n        case \"unsolicited\": return \"Data masuk tanpa request\";\n        default: return status || \"-\";\n      }\n    }\n\n    function renderGldRequests(gldDiscovery) {\n      const entries = Object.values(gldDiscovery || {}).sort((a, b) => {\n        const ta = Date.parse(a.requestedAt || a.respondedAt || 0) || 0;\n        const tb = Date.parse(b.requestedAt || b.respondedAt || 0) || 0;\n        return tb - ta;\n      });\n      gldRequestCountEl.textContent = entries.length + \" CH\";\n      if (entries.length === 0) {\n        gldRequestListEl.innerHTML = '<div class=\"gld-empty\">Belum ada request GLD dikirim.</div>';\n        return;\n      }\n      gldRequestListEl.innerHTML = entries.map((entry) => {\n        const status = entry.status || \"idle\";\n        const spinner = status === \"sent\" ? '<span class=\"spinner\"></span>' : \"\";\n        return '<div class=\"gld-request-item\">' +\n          '<div class=\"row1\"><span class=\"ch-id\">' + escapeHtml(entry.ch) + '</span>' +\n          '<span class=\"status-badge ' + escapeHtml(status) + '\">' + spinner + escapeHtml(gldStatusLabel(status)) + '</span></div>' +\n          '<div class=\"meta\">Request ID: ' + escapeHtml(entry.requestId ?? \"-\") + ' | Hop: ' + escapeHtml((entry.hopList || []).join(\" -> \") || \"-\") + '</div>' +\n          '<div class=\"meta\">Dikirim: ' + escapeHtml(entry.requestedAt ? ageLabel(entry.requestedAgeSec) : \"-\") + '</div>' +\n          '<div class=\"meta\">Direspon: ' + escapeHtml(entry.respondedAt || \"-\") + (entry.recordCount !== undefined ? \" | \" + entry.recordCount + \" record\" : \"\") + '</div>' +\n          '</div>';\n      }).join(\"\");\n    }\n\n    function renderGldDevices(gldDiscovery) {\n      const latestByNodeId = new Map();\n      for (const entry of Object.values(gldDiscovery || {})) {\n        for (const device of entry.devices || []) {\n          const row = Object.assign({ ch: entry.ch }, device);\n          const nodeIdHex = String(device.nodeIdHex || \"\");\n          if (!nodeIdHex) continue;\n          const current = latestByNodeId.get(nodeIdHex);\n          const rowSeenMs = Date.parse(row.lastSeenAt || 0) || 0;\n          const currentSeenMs = current ? (Date.parse(current.lastSeenAt || 0) || 0) : -1;\n          if (!current || rowSeenMs > currentSeenMs) latestByNodeId.set(nodeIdHex, row);\n        }\n      }\n      const rows = [...latestByNodeId.values()];\n      rows.sort((a, b) => (Date.parse(b.lastSeenAt || 0) || 0) - (Date.parse(a.lastSeenAt || 0) || 0));\n      gldDeviceCountEl.textContent = rows.length + \" GLD\";\n      if (rows.length === 0) {\n        gldDeviceDetailsEl.innerHTML = '<div class=\"gld-empty\">Belum ada GLD yang terdiscover.</div>';\n        return;\n      }\n      gldDeviceDetailsEl.innerHTML =\n        '<div class=\"gld-table-wrap\"><table class=\"gld-table\"><thead><tr>' +\n        '<th>CH</th><th>GLD</th><th>Gas</th><th>Confidence</th><th>Battery</th><th>Alarm</th><th>Last Seen</th><th>Decoded Payload</th>' +\n        '</tr></thead><tbody>' +\n        rows.map((device) => {\n          const decodedSummary = device.decryptOk === false\n            ? \"gagal decode\"\n            : (device.gasName || \"-\") + \" | conf \" + (device.confidence ?? \"-\") + \"%\";\n          return '<tr>' +\n            '<td>' + escapeHtml(device.ch) + '</td>' +\n            '<td>' + escapeHtml(device.nodeIdHex) + '</td>' +\n            '<td>' + escapeHtml(device.gasName || \"-\") + '</td>' +\n            '<td>' + escapeHtml(device.confidence ?? \"-\") + '%</td>' +\n            '<td>' + escapeHtml(device.batteryMv !== undefined && device.batteryMv !== null ? device.batteryMv + \" mV\" : \"-\") + '</td>' +\n            '<td>' + (device.alarm ? '<span class=\"alarm-yes\">YA</span>' : \"tidak\") + '</td>' +\n            '<td>' + escapeHtml(ageLabel(device.lastSeenAgeSec)) + '</td>' +\n            '<td><span class=\"payload-hex\" title=\"' + escapeHtml(decodedSummary + \" | \" + (device.plaintextHex || \"-\")) + '\">' + escapeHtml(decodedSummary) + '</span></td>' +\n            '</tr>';\n        }).join(\"\") +\n        '</tbody></table></div>';\n    }\n\n    function draw(data) {\n      nodesEl.innerHTML = \"\";\n      linksEl.innerHTML = \"\";\n      const nodes = data.nodes || [];\n      const edges = data.edges || [];\n      const manualLayout = loadManualLayout();\n      currentEdges = edges;\n      currentPositions = {};\n      summaryEl.textContent = data.nodeCount + \" node (\" + (data.gldNodeCount || 0) + \" GLD), \" + (data.mainEdgeCount ?? data.edgeCount) + \" main link, \" + (data.alternateEdgeCount || 0) + \" alt link, \" + (data.pendingEdgeCount || 0) + \" pending link, \" + (data.discoveryCount || 0) + \" discovery\";\n      statusEl.textContent = \"Topology: \" + (data.topologyUpdatedAt || data.updatedAt || \"belum ada topology event\") +\n        \" | Live: \" + (data.liveUpdatedAt || \"belum ada live event\");\n      if (data.resetAt && nodes.length <= 1) {\n        statusEl.textContent = \"Routing reset: \" + data.resetAt + \" | Menunggu update routing berikutnya\";\n      }\n      if (nodes.length <= 1) {\n        nodesEl.innerHTML = '<div class=\"empty\">Belum ada CH route. Tunggu CH_CONFIG/CH_HELLO masuk dari Gateway.</div>';\n      }\n      renderPendingTable(nodes);\n      renderGldRequests(data.gldDiscovery);\n      renderGldDevices(data.gldDiscovery);\n\n      const groups = groupByDepth(nodes);\n      const width = Math.max(canvas.clientWidth, 760);\n      const rowGap = 360;\n      const top = 56;\n      for (const [layer, items] of groups) {\n        items.sort((a, b) => String(a.id).localeCompare(String(b.id)));\n        const totalW = items.length * nodeW + Math.max(0, items.length - 1) * 44;\n        const startX = Math.max(24, (width - totalW) / 2);\n        items.forEach((node, index) => {\n          const autoX = startX + index * (nodeW + 44);\n          const autoY = top + layer * rowGap;\n          const saved = manualLayout[node.id];\n          const x = saved && Number.isFinite(Number(saved.x))\n            ? clamp(Number(saved.x), 16, Math.max(16, width - nodeW - 16))\n            : autoX;\n          const y = saved && Number.isFinite(Number(saved.y)) ? Math.max(16, Number(saved.y)) : autoY;\n          currentPositions[node.id] = { x, y, w: nodeW, h: 210, cx: x + nodeW / 2 };\n          const div = document.createElement(\"div\");\n          div.dataset.nodeId = node.id;\n          const signal = [\n            node.liveUpdatedAt || \"\",\n            node.updatedAt || \"\",\n            node.parent || \"\",\n            node.parentAlt || \"\",\n            node.depth ?? \"\",\n            node.routeText || \"\"\n          ].join(\"|\");\n          const previousSignal = nodeSignals.get(node.id);\n          const shouldFlash = hasRendered && node.type === \"ch\" && previousSignal !== undefined && previousSignal !== signal;\n          nodeSignals.set(node.id, signal);\n          div.className = \"node \" + node.type + \" \" + node.status + (shouldFlash ? \" updated\" : \"\");\n          if (node.type !== \"gld\") applyLayerStyle(div, node);\n          div.style.left = x + \"px\";\n          div.style.top = y + \"px\";\n          const metric = node.type === \"gateway\"\n            ? \"root\"\n            : (node.type === \"gld\"\n              ? \"terdiscover di \" + (node.chIdHex || node.parent || \"-\")\n              : (node.linkQualityLabel || (\"RSSI to Parent: \" + (node.rssi ?? \"-\") + \" dBm, SNR \" + (node.snr ?? \"-\") + \" dB\")));\n\n          const gatewayMetric = node.type === \"gateway\"\n            ? \"\"\n            : (node.gatewayQualityLabel || \"RSSI to Gateway: belum ada\");\n          const ageMetric = node.type === \"gateway\"\n            ? \"\"\n            : (\"last update: \" + (node.lastSeenAgeSec !== undefined ? node.lastSeenAgeSec + \"s ago\" : \"belum ada\"));\n          div.innerHTML = node.type === \"gld\"\n            ? '<div class=\"title\">' + escapeHtml(node.label || \"-\") + '</div>' +\n              '<div class=\"layer\">' + escapeHtml(node.layerLabel || \"GLD\") + '</div>' +\n              '<div class=\"row\">CH: ' + escapeHtml(node.chIdHex || node.parent || \"-\") + '</div>' +\n              '<div class=\"row\">gas: ' + escapeHtml(node.gasName || \"-\") + ' (class ' + escapeHtml(node.gasClass ?? \"-\") + ')</div>' +\n              '<div class=\"row\">confidence: ' + escapeHtml(node.confidence ?? \"-\") + '%</div>' +\n              '<div class=\"row\">battery: ' + escapeHtml(node.batteryMv !== undefined && node.batteryMv !== null ? node.batteryMv + \" mV\" : \"-\") + '</div>' +\n              '<div class=\"row\">power: ' + (node.externalPower ? \"external\" : \"battery\") + '</div>' +\n              '<div class=\"row\">alarm: ' + (node.alarm ? \"YA\" : \"tidak\") + '</div>' +\n              '<div class=\"row\">seq: ' + escapeHtml(node.seq ?? \"-\") + ' | decode: ' + (node.decryptOk === false ? \"gagal\" : \"OK\") + '</div>' +\n              '<div class=\"row\">last seen: ' + escapeHtml(ageLabel(node.lastSeenAgeSec)) + '</div>'\n            :\n            '<div class=\"title\">' + escapeHtml(node.label || \"-\") + '</div>' +\n            '<div class=\"layer\">' + escapeHtml(node.layerLabel || (\"Layer \" + (node.layer ?? \"?\"))) + '</div>' +\n            '<div class=\"row\">parent: ' + escapeHtml(node.parent || \"-\") + '</div>' +\n            '<div class=\"row\">alt parent: ' + escapeHtml(node.parentAlt && node.parentAlt !== \"0x0000\" ? node.parentAlt : \"-\") + '</div>' +\n            '<div class=\"row\">route depth: ' + escapeHtml(node.depth ?? \"-\") + '</div>' +\n            '<div class=\"row\">' + escapeHtml(node.batteryLabel || \"battery: belum ada\") + '</div>' +\n            '<div class=\"row\" title=\"' + escapeHtml(metric) + '\">' + escapeHtml(metric) + '</div>' +\n            '<div class=\"row\" title=\"' + escapeHtml(gatewayMetric) + '\">' + escapeHtml(gatewayMetric) + '</div>' +\n            '<div class=\"row\" title=\"' + escapeHtml(ageMetric) + '\">' + escapeHtml(ageMetric) + '</div>' +\n            '<div class=\"row\">status: ' + escapeHtml(node.status || \"-\") + '</div>' +\n            '<div class=\"route\">' + escapeHtml(node.routeText || \"\") + '</div>' +\n            (node.type === \"ch\"\n              ? '<div class=\"card-actions\"><button class=\"table-action\" data-action=\"request\" data-node-id=\"' + escapeHtml(node.id || \"\") + '\"' + (node.requestPayload ? \"\" : \" disabled\") + '>Request GLD</button></div>'\n              : \"\");\n          attachDrag(div, node.id);\n          nodesEl.appendChild(div);\n        });\n      }\n\n      canvas.style.minHeight = Math.max(560, top + (groups.length + 1) * rowGap) + \"px\";\n      updateCanvasHeight();\n      renderLinks();\n      hasRendered = true;\n    }\n\n    async function refresh() {\n      if (dragActive) return;\n      try {\n        const res = await fetch(\"/pertamina-gld/topology\", { cache: \"no-store\" });\n        const data = await res.json();\n        draw(data);\n      } catch (err) {\n        statusEl.textContent = \"Topology fetch failed: \" + err.message;\n      }\n    }\n    async function resetRouting() {\n      try {\n        resetButton.disabled = true;\n        const res = await fetch(\"/pertamina-gld/topology/reset\", { method: \"POST\", cache: \"no-store\" });\n        const data = await res.json();\n        nodeSignals.clear();\n        hasRendered = false;\n        draw(data);\n      } catch (err) {\n        statusEl.textContent = \"Topology reset failed: \" + err.message;\n      } finally {\n        resetButton.disabled = false;\n      }\n    }\n    async function requestNode(nodeId, button) {\n      if (!nodeId) return;\n      try {\n        if (button) button.disabled = true;\n        const res = await fetch(\"/pertamina-gld/topology/request?ch=\" + encodeURIComponent(nodeId), { method: \"POST\", cache: \"no-store\" });\n        const data = await res.json();\n        if (!res.ok || !data.ok) {\n          statusEl.textContent = \"Request gagal: \" + (data.reason || res.status);\n          return;\n        }\n        statusEl.textContent = \"Request dikirim ke \" + nodeId + \" via \" + (Array.isArray(data.hopList) ? data.hopList.join(\" -> \") : \"-\");\n      } catch (err) {\n        statusEl.textContent = \"Request gagal: \" + err.message;\n      } finally {\n        if (button) button.disabled = false;\n      }\n    }\n    async function deleteNode(nodeId, button) {\n      if (!nodeId) return;\n      try {\n        if (button) button.disabled = true;\n        const res = await fetch(\"/pertamina-gld/topology/delete?ch=\" + encodeURIComponent(nodeId), { method: \"POST\", cache: \"no-store\" });\n        const data = await res.json();\n        if (!res.ok || !data.ok) {\n          statusEl.textContent = \"Hapus gagal: \" + (data.reason || res.status);\n          return;\n        }\n        nodeSignals.delete(nodeId);\n        hasRendered = false;\n        await refresh();\n      } catch (err) {\n        statusEl.textContent = \"Hapus gagal: \" + err.message;\n      } finally {\n        if (button) button.disabled = false;\n      }\n    }\n    document.getElementById(\"refresh\").addEventListener(\"click\", refresh);\n    nodesEl.addEventListener(\"click\", (event) => {\n      const button = event.target.closest(\"button[data-action][data-node-id]\");\n      if (!button) return;\n      if (button.dataset.action === \"request\") {\n        requestNode(button.dataset.nodeId, button);\n      }\n    });\n    pendingDetailsEl.addEventListener(\"click\", (event) => {\n      const button = event.target.closest(\"button[data-action][data-node-id]\");\n      if (!button) return;\n      const nodeId = button.dataset.nodeId;\n      if (button.dataset.action === \"request\") {\n        requestNode(nodeId, button);\n      } else if (button.dataset.action === \"delete\") {\n        deleteNode(nodeId, button);\n      }\n    });\n    resetLayoutButton.addEventListener(\"click\", () => {\n      localStorage.removeItem(layoutStorageKey);\n      refresh();\n    });\n    resetButton.addEventListener(\"click\", resetRouting);\n    refresh();\n    setInterval(refresh, 1000);\n  </script>\n</body>\n</html>`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 550,
    "wires": [
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_response",
    "type": "http response",
    "z": "pgl_tab",
    "name": "HTTP topology response",
    "statusCode": "",
    "headers": {},
    "x": 760,
    "y": 550,
    "wires": []
  },
  {
    "id": "pgl_decode_catch",
    "type": "catch",
    "z": "pgl_tab",
    "name": "catch decode errors",
    "scope": [
      "pgl_decode",
      "pgl_http_decode_ok",
      "pgl_http_decode_error"
    ],
    "uncaught": false,
    "x": 700,
    "y": 460,
    "wires": [
      [
        "pgl_decode_catch_response",
        "pgl_debug_error"
      ]
    ]
  },
  {
    "id": "pgl_decode_catch_response",
    "type": "function",
    "z": "pgl_tab",
    "name": "HTTP catch response",
    "func": "msg.statusCode = 500;\nmsg.payload = { ok:false, kind:'pertamina-gld-error', reason:'node-red-function-error', detail: msg.error ? msg.error.message : 'unknown error' };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 970,
    "y": 460,
    "wires": [
      [
        "pgl_http_decode_response"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_status",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT gateway status",
    "topic": "gld/gateway/status",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 990,
    "y": 80,
    "wires": []
  },
  {
    "id": "pgl_mqtt_events",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT gateway events",
    "topic": "gld/gateway/events",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 990,
    "y": 120,
    "wires": []
  },
  {
    "id": "pgl_mqtt_decoded",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT decoded/alarm",
    "topic": "",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 990,
    "y": 160,
    "wires": []
  },
  {
    "id": "pgl_compact_decoded_debug",
    "type": "function",
    "z": "pgl_tab",
    "name": "compact decoded debug",
    "func": "const p = msg.payload || {};\nconst outer = p.outer || {};\nconst response = outer.response || {};\nconst msgTypeHex = outer.msgType !== undefined ? \"0x\" + Number(outer.msgType).toString(16).toUpperCase().padStart(2, \"0\") : undefined;\nconst ownerChIdHex = outer.response ? outer.responseTargetChIdHex : outer.srcIdHex;\nconst route = outer.srcIdHex && outer.dstIdHex ? outer.srcIdHex + \" -> \" + outer.dstIdHex : undefined;\nconst responseText = msgTypeHex\n  ? msgTypeHex + \" owner=\" + (ownerChIdHex || \"?\") + \" via=\" + (outer.srcIdHex || \"?\") + \" -> \" + (outer.dstIdHex || \"?\") + \" req=\" + (response.requestId ?? \"-\") + \" status=\" + (response.status ?? \"-\") + \" records=\" + (response.recordCount ?? 0)\n  : undefined;\nconst gasText = p.gasName\n  ? p.gasName + \" class=\" + p.gasClass + \" conf=\" + p.confidence + \"% batt=\" + (p.batteryMv ?? \"-\") + \"mV\"\n  : \"no GLD record\";\nmsg.payload = {\n  summary: \"GLD \" + (p.nodeIdHex || \"-\") + \" | CH=\" + (ownerChIdHex || \"-\") + \" | req=\" + (response.requestId ?? \"-\") + \" | \" + gasText,\n  response: responseText,\n  route,\n  nodeIdHex: p.nodeIdHex,\n  ownerChIdHex,\n  transportSrcIdHex: outer.srcIdHex,\n  responseCorrelation: outer.responseCorrelation,\n  requestId: response.requestId,\n  gasName: p.gasName,\n  confidence: p.confidence,\n  alarm: p.alarm,\n  batteryMv: p.batteryMv,\n  decryptOk: p.decryptOk,\n  responsePayloadHex: outer.payloadHex\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 990,
    "y": 340,
    "wires": [
      [
        "pgl_debug_decoded"
      ]
    ]
  },
  {
    "id": "pgl_compact_topology_debug",
    "type": "function",
    "z": "pgl_tab",
    "name": "compact topology debug",
    "func": "const p = msg.payload || {};\nif (p.kind !== \"ch-topology\") {\n  return null;\n}\n\nconst hopList = Array.isArray(p.hopList) ? p.hopList : [];\nconst lastHop = hopList.length > 0 ? hopList[hopList.length - 1] : p.clusterIdHex;\nconst routeText = hopList.length > 0 ? p.gatewayIdHex + \" -> \" + hopList.join(\" -> \") : \"route pending\";\nconst layer = hopList.length > 0 ? hopList.length : undefined;\nconst isConfigRequest = p.report === \"ch-config-request\" && (p.parentIdHex === \"0x0000\" || !p.parentIdHex);\nconst linkText = isConfigRequest\n  ? \"CH \" + (p.ch || p.clusterIdHex || \"-\") + \" request heard by \" + (p.gatewayIdHex || \"GW\")\n  : \"CH \" + (p.ch || p.clusterIdHex || \"-\") + \" parent \" + (p.parent || p.parentIdHex || \"-\");\nconst rssiSource = isConfigRequest ? (p.gatewayIdHex || \"GW\") : (p.parentIdHex || p.parent || p.viaHopHex || p.gatewayIdHex || \"-\");\nconst rssiTarget = p.clusterIdHex || p.ch || \"-\";\nconst rssiLabel = isConfigRequest ? \"RSSI to Gateway\" : \"RSSI\";\nconst receivedAtMs = Date.parse(p.receivedAt || \"\");\nconst ageSec = Number.isFinite(receivedAtMs) ? Math.max(0, Math.round((Date.now() - receivedAtMs) / 1000)) : undefined;\nconst ttlSec = p.discoveryOnly || isConfigRequest\n  ? Math.round(Number(env.get(\"PGL_TOPOLOGY_DISCOVERY_TTL_MS\") || \"420000\") / 1000)\n  : Math.round(Number(env.get(\"PGL_TOPOLOGY_PARENT_TTL_MS\") || \"900000\") / 1000);\nconst stale = ageSec !== undefined && ageSec > ttlSec;\nconst stateLabel = stale\n  ? \"STALE \" + (p.discoveryOnly || isConfigRequest ? \"DISCOVERY\" : \"INSTALLED\")\n  : (p.discoveryOnly || isConfigRequest ? \"DISCOVERY CANDIDATE\" : \"INSTALLED\");\nconst debugDiscovery = String(env.get(\"PGL_TOPOLOGY_DEBUG_DISCOVERY\") || \"\").trim() === \"1\";\nif ((p.discoveryOnly || isConfigRequest) && !debugDiscovery) {\n  return null;\n}\nconst routeSource = hopList.length > 0 && (p.discoveryOnly || isConfigRequest)\n  ? \"retained current installed route; TTL checked\"\n  : (hopList.length > 0 ? \"installed route\" : \"no installed route\");\nmsg.payload = {\n  summary: stateLabel + \" | \" + (p.routeStatus || \"CH route updated\") + \" | \" + linkText,\n  layer: layer !== undefined ? \"Layer \" + layer : undefined,\n  route: routeText,\n  routeSource,\n  pull: hopList.length > 0 ? JSON.stringify({ requestId: 1, hopList }) : undefined,\n  report: p.report,\n  discoveryOnly: p.discoveryOnly ? true : undefined,\n  stale: stale ? true : undefined,\n  ageSec,\n  ttlSec,\n  ch: p.clusterIdHex,\n  parent: isConfigRequest ? undefined : p.parentIdHex,\n  rssiSnr: (p.rssi !== undefined || p.snr !== undefined) ? rssiLabel + \" \" + rssiSource + \" -> \" + rssiTarget + \": \" + (p.rssi ?? \"-\") + \" dBm, SNR \" + (p.snr ?? \"-\") + \" dB\" : undefined,\n  hopList,\n  lastHop,\n  updatedAt: p.receivedAt\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 990,
    "y": 300,
    "wires": [
      [
        "pgl_debug_topology"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_error",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT errors",
    "topic": "gld/gateway/error",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 990,
    "y": 200,
    "wires": []
  },
  {
    "id": "pgl_debug_status",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[STATUS] gateway alive",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.kind",
    "statusType": "msg",
    "x": 970,
    "y": 260,
    "wires": []
  },
  {
    "id": "pgl_debug_events",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[EVENT] gateway envelope",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.kind",
    "statusType": "msg",
    "x": 970,
    "y": 300,
    "wires": []
  },
  {
    "id": "pgl_debug_decoded",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[DECODED FINAL] GLD server data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.summary",
    "statusType": "msg",
    "x": 1240,
    "y": 340,
    "wires": []
  },
  {
    "id": "pgl_debug_topology",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[TOPOLOGY] CH route",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.summary",
    "statusType": "msg",
    "x": 1240,
    "y": 300,
    "wires": []
  },
  {
    "id": "pgl_debug_error",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[ERROR] decode/server",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.reason",
    "statusType": "msg",
    "x": 970,
    "y": 380,
    "wires": []
  },
  {
    "id": "pgl_mqtt_cmd_pull",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "HTTP debug cmd pull",
    "topic": "gld/gateway/debug/http-pull",
    "qos": "0",
    "datatype": "json",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 500,
    "wires": [
      [
        "pgl_build_pull"
      ]
    ]
  },
  {
    "id": "pgl_build_pull",
    "type": "function",
    "z": "pgl_tab",
    "name": "build /api/pull POST",
    "func": "const base = env.get('GATEWAY_BASE_URL') || 'http://172.26.166.180';\nconst p = msg.payload || {};\nconst hopList = Array.isArray(p.hopList) ? p.hopList : (Array.isArray(p.hop_list) ? p.hop_list : [p.cluster || p.clusterId || '0x0064']);\nconst cluster = hopList[hopList.length - 1] || '0x0064';\nmsg.method = 'POST';\nmsg.url = `${base}/api/pull?cluster=${encodeURIComponent(cluster)}`;\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 500,
    "wires": [
      [
        "pgl_http_command",
        "pgl_debug_command"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_cmd_node",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "HTTP debug cmd node",
    "topic": "gld/gateway/debug/http-node",
    "qos": "0",
    "datatype": "json",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 560,
    "wires": [
      [
        "pgl_build_node_command"
      ]
    ]
  },
  {
    "id": "pgl_build_node_command",
    "type": "function",
    "z": "pgl_tab",
    "name": "build /api/command POST",
    "func": "const base = env.get('GATEWAY_BASE_URL') || 'http://172.26.166.180';\nconst p = msg.payload || {};\nconst cluster = p.cluster || p.clusterId || '0x0064';\nconst nodeIdParam = p.node || p.nodeId || '0xF001';\nconst id = p.id || p.commandId || 1;\nconst ttl = p.ttl || p.ttlSec || 600;\nconst hex = p.hex || '';\nmsg.method = 'POST';\nmsg.url = `${base}/api/command?cluster=${encodeURIComponent(cluster)}&node=${encodeURIComponent(nodeIdParam)}&id=${encodeURIComponent(id)}&ttl=${encodeURIComponent(ttl)}&hex=${encodeURIComponent(hex)}`;\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 560,
    "wires": [
      [
        "pgl_http_command",
        "pgl_debug_command"
      ]
    ]
  },
  {
    "id": "pgl_http_command",
    "type": "http request",
    "z": "pgl_tab",
    "name": "POST Gateway command",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "x": 720,
    "y": 530,
    "wires": [
      [
        "pgl_debug_command_response"
      ]
    ]
  },
  {
    "id": "pgl_debug_command",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[CMD] HTTP bridge request",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "url",
    "targetType": "msg",
    "statusVal": "url",
    "statusType": "msg",
    "x": 720,
    "y": 610,
    "wires": []
  },
  {
    "id": "pgl_debug_command_response",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[CMD] HTTP bridge response",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "statusCode",
    "statusType": "msg",
    "x": 990,
    "y": 530,
    "wires": []
  },
  {
    "id": "pgl_inject_pull_ch",
    "type": "inject",
    "z": "pgl_tab",
    "name": "Inject SERVER_PULL_REQUEST hopList",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0.1",
    "topic": "gld/gateway/cmd/pull",
    "payload": "{\"requestId\":1,\"hopList\":[\"0x0064\",\"0x0065\",\"0x0066\"]}",
    "payloadType": "json",
    "x": 220,
    "y": 700,
    "wires": [
      [
        "pgl_resolve_pull_route"
      ]
    ]
  },
  {
    "id": "pgl_resolve_pull_route",
    "type": "function",
    "z": "pgl_tab",
    "name": "normalize pull hopList",
    "func": "function idHex(value) {\n  const raw = String(value || '').trim();\n  const n = raw.toLowerCase().startsWith('0x') ? parseInt(raw, 16) : Number(raw);\n  if (!Number.isFinite(n)) return null;\n  return '0x' + (n & 0xFFFF).toString(16).toUpperCase().padStart(4, '0');\n}\n\nconst p = msg.payload || {};\nconst rawHopList = Array.isArray(p.hopList) ? p.hopList : (Array.isArray(p.hop_list) ? p.hop_list : null);\nif (!rawHopList || rawHopList.length === 0) {\n  node.warn('pull command requires hopList; last hop is the target CH');\n  return null;\n}\n\nconst hopList = rawHopList.map(idHex);\nif (hopList.some((hop) => hop === null)) {\n  node.warn('pull command has invalid hopList entry');\n  return null;\n}\n\nconst requestId = Number(p.requestId || p.request_id || 1) & 0xFFFF;\nconst requestedAt = new Date().toISOString();\nconst requestIndex = flow.get('pglGldRequestIndex') || {};\nrequestIndex[String(requestId)] = {\n  requestId,\n  targetChIdHex: hopList[hopList.length - 1],\n  hopList,\n  requestedAt\n};\nflow.set('pglGldRequestIndex', requestIndex);\n\nmsg.payload = {\n  requestId,\n  hopList\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 700,
    "wires": [
      [
        "pgl_mqtt_out_pull_command",
        "pgl_debug_mqtt_command"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_out_pull_command",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT publish pull request",
    "topic": "gld/gateway/cmd/pull",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 800,
    "y": 700,
    "wires": []
  },
  {
    "id": "pgl_mqtt_server_node_command",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "MQTT high-level node command",
    "topic": "gld/server/cmd/node",
    "qos": "0",
    "datatype": "json",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 740,
    "wires": [
      [
        "pgl_build_node_command_auth"
      ]
    ]
  },
  {
    "id": "pgl_inject_node_command",
    "type": "inject",
    "z": "pgl_tab",
    "name": "Inject GLD SET_MODE dataset",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0.1",
    "topic": "gld/server/cmd/node",
    "payload": "{\"cluster\":\"0x0064\",\"node\":\"0xF001\",\"id\":1,\"ttl\":600,\"mode\":\"dataset\"}",
    "payloadType": "json",
    "x": 200,
    "y": 800,
    "wires": [
      [
        "pgl_mark_trusted_node_command"
      ]
    ]
  },
  {
    "id": "pgl_mark_trusted_node_command",
    "type": "function",
    "z": "pgl_tab",
    "name": "mark local node command",
    "func": "msg._pglTrustedLocal = true; return msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "fs",
        "module": "fs"
      },
      {
        "var": "path",
        "module": "path"
      }
    ],
    "x": 450,
    "y": 800,
    "wires": [
      [
        "pgl_build_node_command_auth"
      ]
    ]
  },
  {
    "id": "pgl_build_node_command_auth",
    "type": "function",
    "z": "pgl_tab",
    "name": "build authenticated node command",
    "func": "function cleanHex(input) {\n  return String(input || \"\").replace(/^0x/i, \"\").replace(/[^0-9a-fA-F]/g, \"\");\n}\n\nfunction parseRequiredId(value, label) {\n  if (value === undefined || value === null || value === \"\") {\n    throw new Error(`${label} is required`);\n  }\n  const text = String(value).trim();\n  if (!/^(?:0x)?[0-9a-fA-F]{1,4}$/.test(text)) {\n    throw new Error(`${label} must be a 1..4 digit hexadecimal node ID`);\n  }\n  const parsed = parseInt(text.replace(/^0x/i, \"\"), 16);\n  if (parsed <= 0 || parsed >= 0xFFFF) {\n    throw new Error(`${label} must be between 0x0001 and 0xFFFE`);\n  }\n  return parsed;\n}\n\nfunction parseHopList(value) {\n  if (value === undefined || value === null) return null;\n  if (!Array.isArray(value) || value.length < 1 || value.length > 29) {\n    throw new Error(\"hopList must be an array containing 1..29 node IDs\");\n  }\n  const hops = value.map((hop, index) => parseRequiredId(hop, `hopList[${index}]`));\n  if (new Set(hops).size !== hops.length) {\n    throw new Error(\"hopList must not contain duplicate node IDs\");\n  }\n  return hops;\n}\n\nfunction formatNodeId(value) {\n  return `0x${value.toString(16).toUpperCase().padStart(4, \"0\")}`;\n}\n\nfunction u16be(value) {\n  return Buffer.from([(value >> 8) & 0xFF, value & 0xFF]);\n}\n\nfunction xor16(a, b) {\n  const out = Buffer.alloc(16);\n  for (let i = 0; i < 16; i++) out[i] = a[i] ^ b[i];\n  return out;\n}\n\nfunction leftShiftOne(block) {\n  const out = Buffer.alloc(16);\n  let carry = 0;\n  for (let i = 15; i >= 0; i--) {\n    const value = block[i];\n    out[i] = ((value << 1) & 0xFF) | carry;\n    carry = (value & 0x80) ? 1 : 0;\n  }\n  return out;\n}\n\nfunction aesBlock(cryptoModule, key, block) {\n  const cipher = cryptoModule.createCipheriv(\"aes-128-ecb\", key, null);\n  cipher.setAutoPadding(false);\n  return Buffer.concat([cipher.update(block), cipher.final()]);\n}\n\nfunction aesCmac(cryptoModule, key, message) {\n  const zero = Buffer.alloc(16);\n  const rb = 0x87;\n  const l = aesBlock(cryptoModule, key, zero);\n  const k1 = leftShiftOne(l);\n  if (l[0] & 0x80) k1[15] ^= rb;\n  const k2 = leftShiftOne(k1);\n  if (k1[0] & 0x80) k2[15] ^= rb;\n\n  const complete = message.length > 0 && message.length % 16 === 0;\n  const blockCount = complete ? message.length / 16 : Math.floor(message.length / 16) + 1;\n  let last = Buffer.alloc(16);\n  const lastOffset = (blockCount - 1) * 16;\n  if (complete) {\n    last = xor16(message.subarray(lastOffset, lastOffset + 16), k1);\n  } else {\n    message.copy(last, 0, lastOffset);\n    last[message.length - lastOffset] = 0x80;\n    last = xor16(last, k2);\n  }\n\n  let x = Buffer.alloc(16);\n  for (let i = 0; i < blockCount - 1; i++) {\n    x = aesBlock(cryptoModule, key, xor16(x, message.subarray(i * 16, i * 16 + 16)));\n  }\n  return aesBlock(cryptoModule, key, xor16(x, last));\n}\n\nfunction reject(reason) {\n  node.error(reason, msg);\n  return null;\n}\n\ntry {\n  const p = msg.payload;\n  if (!p || typeof p !== \"object\" || Array.isArray(p)) return reject(\"command payload must be a JSON object\");\n  const cryptoModule = global.get(\"crypto\") || (typeof crypto !== \"undefined\" ? crypto : null);\n  if (!cryptoModule || typeof cryptoModule.createCipheriv !== \"function\") {\n    return reject(\"Node-RED crypto module is required for authenticated GLD node commands\");\n  }\n\n  if (msg._pglTrustedLocal !== true) {\n    const expected = String(env.get(\"PGL_COMMAND_AUTH_TOKEN\") || \"\");\n    const supplied = String(p.authorization || p.authToken || \"\").replace(/^Bearer\\s+/i, \"\");\n    if (expected.length < 32 || supplied.length !== expected.length) {\n      return reject(\"command authorization failed\");\n    }\n    const expectedBytes = Buffer.from(expected, \"utf8\");\n    const suppliedBytes = Buffer.from(supplied, \"utf8\");\n    if (!cryptoModule.timingSafeEqual(expectedBytes, suppliedBytes)) {\n      return reject(\"command authorization failed\");\n    }\n  }\n\n  const keyHex = cleanHex(env.get(\"GLD_AES128_KEY_HEX\"));\n  if (keyHex.length !== 32) {\n    return reject(\"GLD_AES128_KEY_HEX must be set to 32 hex chars before building GLD node commands\");\n  }\n\n  const modeMap = { inference: 0, running: 0, dataset: 1, nulling: 2 };\n  const modeText = String(p.mode ?? \"\").trim().toLowerCase();\n  const mode = modeMap[modeText] !== undefined ? modeMap[modeText] : Number(p.mode);\n  if (!Number.isInteger(mode) || mode < 0 || mode > 2) {\n    return reject(\"mode must be inference/running, dataset, nulling, or 0..2\");\n  }\n\n  const hopList = parseHopList(p.hopList ?? p.hops);\n  let cluster;\n  if (hopList) {\n    cluster = hopList[hopList.length - 1];\n    const explicitCluster = p.cluster ?? p.clusterId;\n    if (explicitCluster !== undefined && explicitCluster !== null && explicitCluster !== \"\") {\n      const requestedCluster = parseRequiredId(explicitCluster, \"cluster\");\n      if (requestedCluster !== cluster) {\n        throw new Error(\"cluster must match the final hopList node ID\");\n      }\n    }\n  } else {\n    cluster = parseRequiredId(p.cluster ?? p.clusterId, \"cluster\");\n  }\n  const nodeId = parseRequiredId(p.node ?? p.nodeId, \"node\");\n  const commandId = parseRequiredId(p.id ?? p.commandId, \"command id\");\n  const ttl = p.ttl === undefined ? 600 : Number(p.ttl);\n  if (!Number.isInteger(ttl) || ttl < 1 || ttl > 3600) return reject(\"ttl must be an integer from 1 to 3600 seconds\");\n\n  const appSeq = commandId & 0xFF;\n  const command = Buffer.from([0x81, mode & 0xFF, (commandId >> 8) & 0xFF, commandId & 0xFF]);\n  const macInput = Buffer.concat([u16be(cluster), u16be(nodeId), Buffer.from([appSeq]), command]);\n  const tag = aesCmac(cryptoModule, Buffer.from(keyHex, \"hex\"), macInput).subarray(0, 4);\n\n  msg.payload = {\n    cluster: formatNodeId(cluster),\n    node: formatNodeId(nodeId),\n    id: commandId,\n    ttl,\n    mode,\n    hex: Buffer.concat([command, tag]).toString(\"hex\").toUpperCase(),\n    commandAuth: \"aes-cmac-32\",\n    commandPayload: \"cmdType(0x81)+mode+commandId+cmacTag4\"\n  };\n  if (hopList) msg.payload.hopList = hopList.map(formatNodeId);\n  delete msg._pglTrustedLocal;\n  return msg;\n} catch (err) {\n  return reject(err.message);\n}\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 780,
    "wires": [
      [
        "pgl_mqtt_out_node_command",
        "pgl_debug_mqtt_command"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_out_node_command",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT publish node command",
    "topic": "gld/gateway/cmd/node",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 820,
    "y": 780,
    "wires": []
  },
  {
    "id": "pgl_debug_mqtt_command",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[CMD] MQTT command inject",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "topic",
    "statusType": "msg",
    "x": 560,
    "y": 820,
    "wires": []
  },
  {
    "id": "pgl_mqtt_broker",
    "type": "mqtt-broker",
    "name": "Pertamina GLD MQTT",
    "broker": "172.26.166.142",
    "port": "1884",
    "clientid": "node-red-pertamina-gld",
    "autoConnect": true,
    "usetls": false,
    "tls": "",
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]