server/nodered/pertamina-gld-server.flow.json
[
  {
    "id": "pgl_tab",
    "type": "tab",
    "label": "Pertamina GLD Server",
    "disabled": false,
    "info": "Generated by D:\\PertaminaGLD\\server\\nodered\\apply-pertamina-gld-flow.js",
    "env": [
      {
        "name": "GATEWAY_STATUS_URL",
        "value": "http://192.168.4.1/api/status",
        "type": "str"
      },
      {
        "name": "GATEWAY_BASE_URL",
        "value": "http://192.168.4.1",
        "type": "str"
      },
      {
        "name": "PGL_GATEWAY_ID",
        "value": "0x006F",
        "type": "str"
      }
    ]
  },
  {
    "id": "pgl_poll_gateway",
    "type": "inject",
    "z": "pgl_tab",
    "name": "poll Gateway /api/status",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "2",
    "topic": "gateway/status/poll",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "pgl_http_gateway_status"
      ]
    ]
  },
  {
    "id": "pgl_http_gateway_status",
    "type": "http request",
    "z": "pgl_tab",
    "name": "GET Gateway status",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.4.1/api/status",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "x": 420,
    "y": 100,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_test_vector",
    "type": "inject",
    "z": "pgl_tab",
    "name": "GLD AES-GCM test vector",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0.1",
    "topic": "gld/test/vector",
    "payload": "{\"recordHex\":\"F0012A111D01101112131415161718191A1BC57E0DDBF88ABEC591E9F5BFAD982A6C\"}",
    "payloadType": "json",
    "x": 190,
    "y": 180,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_http_decode_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "POST /pertamina-gld/decode",
    "url": "/pertamina-gld/decode",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 240,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_uplink",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "MQTT Gateway uplink",
    "topic": "gld/gateway/uplink",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 300,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_topology",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "MQTT Gateway topology",
    "topic": "gld/gateway/topology",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 330,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_raw",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "MQTT Gateway raw",
    "topic": "gld/gateway/raw",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 380,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_pertamina_uplink",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "MQTT Pertamina uplink",
    "topic": "pertamina/gld/uplink",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 440,
    "wires": [
      [
        "pgl_decode"
      ]
    ]
  },
  {
    "id": "pgl_decode",
    "type": "function",
    "z": "pgl_tab",
    "name": "decode Gateway/GLD contract",
    "func": "const GAS_CLASS = {\n    0: \"clearGas\",\n    1: \"LPG\",\n    2: \"methane\",\n    3: \"propane\",\n    4: \"butane\",\n    5: \"reserve\",\n    6: \"anomaly\"\n};\n\nconst MSG_SENSOR_DATA = 0x10;\nconst MSG_SERVER_PULL_REQUEST = 0x30;\nconst MSG_CLUSTER_DATA_RESPONSE = 0x31;\nconst MSG_CH_HELLO = 0x33;\nconst MSG_MESH_CONTROL_MIN = 0x30;\nconst MSG_MESH_CONTROL_MAX = 0x3F;\nconst MSG_TYPE_MASK = 0x3F;\nconst FLAG_ALARM_ACK = 0x40;\nconst FLAG_GLD_EXT_POWER = 0x80;\nconst NC_FLAG_ALARM = 0x01;\nconst NC_FLAG_EXT_POWER = 0x10;\nconst GLD_ENCRYPTED_LEN = 29;\nconst GLD_RECORD_LEN = 34;\nconst DEFAULT_TEST_KEY_HEX = \"000102030405060708090A0B0C0D0E0F\";\nconst DEFAULT_GATEWAY_ID = 0x006F;\n\nfunction fail(reason, detail) {\n    return {\n        req: msg.req,\n        res: msg.res,\n        payload: {\n            ok: false,\n            kind: \"pertamina-gld-error\",\n            reason,\n            detail,\n            sourceTopic: msg.topic,\n            receivedAt: new Date().toISOString()\n        },\n        topic: \"gld/gateway/error\"\n    };\n}\n\nfunction cleanHex(input) {\n    return String(input || \"\").replace(/^0x/i, \"\").replace(/[^0-9a-fA-F]/g, \"\");\n}\n\nfunction hexToBuffer(input) {\n    const hex = cleanHex(input);\n    if (hex.length === 0 || hex.length % 2 !== 0) {\n        throw new Error(\"invalid hex length\");\n    }\n    return Buffer.from(hex, \"hex\");\n}\n\nfunction be16(buf, offset) {\n    return (buf[offset] << 8) | buf[offset + 1];\n}\n\nfunction crc16CcittFalse(buf) {\n    let crc = 0xFFFF;\n    for (const byte of buf) {\n        crc ^= byte << 8;\n        for (let i = 0; i < 8; i++) {\n            crc = (crc & 0x8000) ? ((crc << 1) ^ 0x1021) : (crc << 1);\n            crc &= 0xFFFF;\n        }\n    }\n    return crc;\n}\n\nfunction getAesKey(keyId) {\n    const envKeyId = Number(env.get(\"GLD_KEY_ID\") || \"1\");\n    if (keyId !== envKeyId) {\n        throw new Error(`unknown keyId ${keyId}, expected ${envKeyId}`);\n    }\n\n    const keyHex = cleanHex(env.get(\"GLD_AES128_KEY_HEX\") || DEFAULT_TEST_KEY_HEX).toUpperCase();\n    if (keyHex.length !== 32) {\n        throw new Error(\"GLD_AES128_KEY_HEX must be 32 hex characters\");\n    }\n    return {\n        key: Buffer.from(keyHex, \"hex\"),\n        source: env.get(\"GLD_AES128_KEY_HEX\") ? \"env\" : \"default_test_key\"\n    };\n}\n\nfunction getGatewayId() {\n    const raw = String(env.get(\"PGL_GATEWAY_ID\") || env.get(\"GATEWAY_ID\") || \"0x006F\").trim();\n    const value = raw.toLowerCase().startsWith(\"0x\") ? parseInt(raw, 16) : Number(raw);\n    return Number.isFinite(value) ? value : DEFAULT_GATEWAY_ID;\n}\n\nfunction idHex(value) {\n    const n = Number(value) & 0xFFFF;\n    return `0x${n.toString(16).toUpperCase().padStart(4, \"0\")}`;\n}\n\nfunction parseIdValue(value, fallback = 0) {\n    if (value === undefined || value === null || value === \"\") {\n        return fallback;\n    }\n    if (typeof value === \"string\") {\n        const trimmed = value.trim();\n        const parsed = trimmed.toLowerCase().startsWith(\"0x\") ? parseInt(trimmed, 16) : Number(trimmed);\n        return Number.isFinite(parsed) ? parsed : fallback;\n    }\n    const parsed = Number(value);\n    return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nfunction envNumber(name, fallback) {\n    const value = Number(env.get(name));\n    return Number.isFinite(value) && value >= 0 ? value : fallback;\n}\n\nconst TOPOLOGY_PARENT_TTL_MS = envNumber(\"PGL_TOPOLOGY_PARENT_TTL_MS\", 900000);\nconst TOPOLOGY_DISCOVERY_TTL_MS = envNumber(\"PGL_TOPOLOGY_DISCOVERY_TTL_MS\", 420000);\nconst TOPOLOGY_GATEWAY_LINK_TTL_MS = envNumber(\"PGL_TOPOLOGY_GATEWAY_LINK_TTL_MS\", 420000);\n\nfunction ageMsOf(entry, nowMs = Date.now()) {\n    const t = Date.parse(entry && entry.receivedAt);\n    return Number.isFinite(t) ? Math.max(0, nowMs - t) : Number.POSITIVE_INFINITY;\n}\n\nfunction pruneTopology(topology, nowMs = Date.now()) {\n    topology.parents = topology.parents || {};\n    topology.discovery = topology.discovery || {};\n    topology.gatewayLinks = topology.gatewayLinks || {};\n    topology.hellos = topology.hellos || {};\n    topology.routes = topology.routes || {};\n\n    for (const [clusterIdHex, entry] of Object.entries(topology.parents)) {\n        if (ageMsOf(entry, nowMs) > TOPOLOGY_PARENT_TTL_MS) {\n            delete topology.parents[clusterIdHex];\n            delete topology.routes[clusterIdHex];\n        }\n    }\n    for (const [clusterIdHex, entry] of Object.entries(topology.hellos)) {\n        if (ageMsOf(entry, nowMs) > TOPOLOGY_PARENT_TTL_MS) {\n            delete topology.hellos[clusterIdHex];\n        }\n    }\n    for (const [clusterIdHex, entry] of Object.entries(topology.discovery)) {\n        if (ageMsOf(entry, nowMs) > TOPOLOGY_DISCOVERY_TTL_MS) {\n            delete topology.discovery[clusterIdHex];\n        }\n    }\n    for (const [clusterIdHex, entry] of Object.entries(topology.gatewayLinks)) {\n        if (ageMsOf(entry, nowMs) > TOPOLOGY_GATEWAY_LINK_TTL_MS) {\n            delete topology.gatewayLinks[clusterIdHex];\n        }\n    }\n    for (const clusterIdHex of Object.keys(topology.routes)) {\n        if (!topology.parents[clusterIdHex]) {\n            delete topology.routes[clusterIdHex];\n        }\n    }\n    return topology;\n}\n\nfunction getTopologyState() {\n    return pruneTopology(flow.get(\"pglTopology\") || {\n        gatewayIdHex: idHex(getGatewayId()),\n        parents: {},\n        discovery: {},\n        gatewayLinks: {},\n        hellos: {},\n        routes: {},\n        updatedAt: null\n    });\n}\n\nfunction buildRouteTo(clusterIdHex, topology) {\n    const gatewayIdHex = topology.gatewayIdHex || idHex(getGatewayId());\n    const route = [];\n    const seen = {};\n    let current = clusterIdHex;\n\n    for (let guard = 0; guard < 16; guard++) {\n        if (!current || current === gatewayIdHex || current === \"0x0000\" || seen[current]) {\n            break;\n        }\n        seen[current] = true;\n        const entry = topology.parents[current];\n        if (!entry) {\n            return [];\n        }\n        route.unshift(current);\n        current = entry.parentIdHex;\n    }\n    return route;\n}\n\nfunction updateTopology(topologyEvent) {\n    const topology = getTopologyState();\n    topology.gatewayIdHex = idHex(topologyEvent.gatewayId || getGatewayId());\n    topology.discovery = topology.discovery || {};\n    topology.gatewayLinks = topology.gatewayLinks || {};\n    topology.hellos = topology.hellos || {};\n    delete topology.resetAt;\n    topology.updatedAt = new Date().toISOString();\n    topology.parents[topologyEvent.clusterIdHex] = topologyEvent;\n    if (String(topologyEvent.report || \"\").toLowerCase() === \"ch-hello\") {\n        topology.hellos[topologyEvent.clusterIdHex] = topologyEvent;\n    }\n    delete topology.discovery[topologyEvent.clusterIdHex];\n\n    for (const clusterIdHex of Object.keys(topology.parents)) {\n        topology.routes[clusterIdHex] = buildRouteTo(clusterIdHex, topology);\n    }\n    const route = topology.routes[topologyEvent.clusterIdHex] || [];\n    flow.set(\"pglTopology\", topology);\n    return { topology, route };\n}\n\nfunction rememberDiscovery(topologyEvent) {\n    const topology = getTopologyState();\n    topology.gatewayIdHex = idHex(topologyEvent.gatewayId || getGatewayId());\n    topology.discovery = topology.discovery || {};\n    topology.gatewayLinks = topology.gatewayLinks || {};\n    const hasFreshInstalledRoute = Boolean(topology.parents[topologyEvent.clusterIdHex]);\n    if (hasFreshInstalledRoute) {\n        delete topology.discovery[topologyEvent.clusterIdHex];\n    } else {\n        topology.discovery[topologyEvent.clusterIdHex] = topologyEvent;\n    }\n    if (topologyEvent.report === \"ch-config-request\" &&\n        topologyEvent.parentIdHex === \"0x0000\" &&\n        topologyEvent.rssi !== undefined) {\n        topology.gatewayLinks[topologyEvent.clusterIdHex] = {\n            clusterIdHex: topologyEvent.clusterIdHex,\n            gatewayIdHex: topology.gatewayIdHex,\n            rssi: topologyEvent.rssi,\n            snr: topologyEvent.snr,\n            receivedAt: topologyEvent.receivedAt,\n            report: topologyEvent.report\n        };\n    }\n    if (!hasFreshInstalledRoute) {\n        topology.discoveryUpdatedAt = new Date().toISOString();\n    }\n    pruneTopology(topology);\n    flow.set(\"pglTopology\", topology);\n    const route = topology.routes[topologyEvent.clusterIdHex] || [];\n    return { topology, route };\n}\n\nfunction isInstalledTopologyReport(report) {\n    const normalized = String(report || \"\").toLowerCase();\n    return normalized === \"ch-hello\" ||\n        normalized === \"ch-topology\" ||\n        normalized === \"installed\" ||\n        normalized === \"stable-parent\";\n}\n\nfunction decryptGldPayload(record) {\n    if (record.payload.length !== GLD_ENCRYPTED_LEN) {\n        return {\n            decryptOk: false,\n            skipped: true,\n            skipReason: `payload length ${record.payload.length} is not encrypted phase-1 length ${GLD_ENCRYPTED_LEN}`\n        };\n    }\n\n    const keyId = record.payload[0];\n    const nonce = record.payload.subarray(1, 13);\n    const ciphertext = record.payload.subarray(13, 17);\n    const tag = record.payload.subarray(17, 29);\n    const aad = Buffer.from([\n        (record.nodeId >> 8) & 0xFF,\n        record.nodeId & 0xFF,\n        record.seq & 0xFF,\n        record.flags & 0xFF,\n        keyId & 0xFF\n    ]);\n    const { key, source } = getAesKey(keyId);\n\n    let cryptoModule = global.get(\"crypto\");\n    if (!cryptoModule && typeof crypto !== \"undefined\") {\n        cryptoModule = crypto;\n    }\n    if (!cryptoModule || typeof cryptoModule.createDecipheriv !== \"function\") {\n        throw new Error(\"Node-RED crypto module is not available; set functionGlobalContext.crypto in settings.js\");\n    }\n\n    const decipher = cryptoModule.createDecipheriv(\"aes-128-gcm\", key, nonce, { authTagLength: 12 });\n    decipher.setAAD(aad);\n    decipher.setAuthTag(tag);\n    const plaintext = Buffer.concat([decipher.update(ciphertext), decipher.final()]);\n    if (plaintext.length !== 4) {\n        throw new Error(`plaintext length ${plaintext.length} invalid`);\n    }\n\n    const gasClass = plaintext[0];\n    const confidence = plaintext[1];\n    const batteryMv = be16(plaintext, 2);\n    const gasName = GAS_CLASS[gasClass] || \"invalid\";\n    const confidenceValid = confidence <= 100;\n    const gasClassValid = gasClass <= 6;\n\n    return {\n        decryptOk: true,\n        keyId,\n        keySource: source,\n        nonceHex: nonce.toString(\"hex\").toUpperCase(),\n        aadHex: aad.toString(\"hex\").toUpperCase(),\n        plaintextHex: plaintext.toString(\"hex\").toUpperCase(),\n        gasClass,\n        gasName,\n        confidence,\n        confidenceValid,\n        batteryMv,\n        batteryValid: batteryMv !== 0xFFFF,\n        gasClassValid\n    };\n}\n\nfunction parseGldRecord(buf) {\n    if (buf.length < 5) {\n        throw new Error(\"GLDRecord too short\");\n    }\n    const payloadLen = buf[4];\n    if (buf.length !== 5 + payloadLen) {\n        throw new Error(`GLDRecord length mismatch: buffer=${buf.length}, payloadLen=${payloadLen}`);\n    }\n    return {\n        nodeId: be16(buf, 0),\n        seq: buf[2],\n        flags: buf[3],\n        payloadLen,\n        payload: buf.subarray(5),\n        recordHex: buf.toString(\"hex\").toUpperCase()\n    };\n}\n\nfunction recordToEvent(record, outer, source) {\n    const event = {\n        ok: true,\n        kind: \"gld-event\",\n        source,\n        receivedAt: new Date().toISOString(),\n        sourceTopic: msg.topic,\n        outer,\n        nodeId: record.nodeId,\n        nodeIdHex: `0x${record.nodeId.toString(16).toUpperCase().padStart(4, \"0\")}`,\n        seq: record.seq,\n        flags: record.flags,\n        alarm: (record.flags & NC_FLAG_ALARM) !== 0,\n        externalPower: (record.flags & NC_FLAG_EXT_POWER) !== 0,\n        testDevice: record.nodeId >= 0xF000 && record.nodeId <= 0xFEFF,\n        payloadLen: record.payloadLen,\n        payloadHex: record.payload.toString(\"hex\").toUpperCase(),\n        dedupKey: `${outer && outer.srcIdHex ? outer.srcIdHex : \"no-cluster\"}:${record.nodeId}:${record.seq}:${(record.flags & NC_FLAG_ALARM) ? \"alarm\" : \"normal\"}`\n    };\n\n    try {\n        Object.assign(event, decryptGldPayload(record));\n    } catch (err) {\n        event.decryptOk = false;\n        event.decryptError = err.message;\n    }\n\n    return event;\n}\n\nfunction parseAppFrame(buf) {\n    if (buf.length < 10 || buf[0] !== 0xAA) {\n        throw new Error(\"AppFrame magic/length invalid\");\n    }\n    const payloadLen = buf[7];\n    if (buf.length !== 10 + payloadLen) {\n        throw new Error(`AppFrame length mismatch: buffer=${buf.length}, payloadLen=${payloadLen}`);\n    }\n    const expectedCrc = be16(buf, buf.length - 2);\n    const actualCrc = crc16CcittFalse(buf.subarray(0, buf.length - 2));\n    if (expectedCrc !== actualCrc) {\n        throw new Error(`AppFrame CRC mismatch expected=0x${expectedCrc.toString(16)} actual=0x${actualCrc.toString(16)}`);\n    }\n    const typeFlags = buf[1];\n    const msgType = typeFlags & MSG_TYPE_MASK;\n    const outer = {\n        typeFlags,\n        msgType,\n        alarmFlag: (typeFlags & FLAG_ALARM_ACK) !== 0,\n        externalFlag: (typeFlags & FLAG_GLD_EXT_POWER) !== 0,\n        srcId: be16(buf, 2),\n        srcIdHex: `0x${be16(buf, 2).toString(16).toUpperCase().padStart(4, \"0\")}`,\n        dstId: be16(buf, 4),\n        dstIdHex: `0x${be16(buf, 4).toString(16).toUpperCase().padStart(4, \"0\")}`,\n        seq: buf[6],\n        payloadLen\n    };\n    const payload = buf.subarray(8, 8 + payloadLen);\n    outer.payloadHex = payload.toString(\"hex\").toUpperCase();\n    const records = [];\n\n    if (msgType === MSG_CLUSTER_DATA_RESPONSE) {\n        if (payload.length < 6) {\n            throw new Error(\"CLUSTER_DATA_RESPONSE payload too short\");\n        }\n        outer.response = {\n            requestId: be16(payload, 0),\n            status: payload[2],\n            chBatteryMv: be16(payload, 3),\n            recordCount: payload[5]\n        };\n        let offset = 6;\n        for (let i = 0; i < outer.response.recordCount; i++) {\n            const payloadLenAtRecord = payload[offset + 4];\n            const len = 5 + payloadLenAtRecord;\n            records.push(parseGldRecord(payload.subarray(offset, offset + len)));\n            offset += len;\n        }\n    } else if (msgType === MSG_SERVER_PULL_REQUEST) {\n        if (payload.length >= 2 && payload.length % 2 === 0) {\n            const hopList = [];\n            for (let offset = 2; offset < payload.length; offset += 2) {\n                const hop = be16(payload, offset);\n                hopList.push(`0x${hop.toString(16).toUpperCase().padStart(4, \"0\")}`);\n            }\n            outer.request = {\n                requestId: be16(payload, 0),\n                hopList\n            };\n        }\n        return { outer, records, control: true, ignoredReason: \"server-pull-request\" };\n    } else if (msgType === MSG_SENSOR_DATA) {\n        records.push(parseGldRecord(payload));\n    } else if (msgType === MSG_CH_HELLO) {\n        if (payload.length < 8) {\n            throw new Error(\"CH_HELLO payload too short\");\n        }\n        outer.topology = {\n            clusterId: be16(payload, 0),\n            clusterIdHex: idHex(be16(payload, 0)),\n            parentId: be16(payload, 2),\n            parentIdHex: idHex(be16(payload, 2)),\n            parentAltId: payload.length >= 11 ? be16(payload, 9) : 0,\n            parentAltIdHex: payload.length >= 11 ? idHex(be16(payload, 9)) : \"0x0000\",\n            batteryMv: be16(payload, 4),\n            uptimeSec: be16(payload, 6),\n            meshDepth: payload.length >= 9 ? payload[8] : null,\n            viaHop: outer.srcId,\n            viaHopHex: outer.srcIdHex,\n            gatewayId: getGatewayId(),\n            gatewayIdHex: idHex(getGatewayId()),\n            rssi: msg.payload && typeof msg.payload === \"object\" ? msg.payload.rssi : undefined,\n            snr: msg.payload && typeof msg.payload === \"object\" ? msg.payload.snr : undefined\n        };\n        return { outer, records, topology: true };\n    } else if (msgType >= MSG_MESH_CONTROL_MIN && msgType <= MSG_MESH_CONTROL_MAX) {\n        return { outer, records, control: true, ignoredReason: \"mesh-control-frame\" };\n    } else {\n        throw new Error(`unsupported AppFrame msgType 0x${msgType.toString(16)}`);\n    }\n\n    return { outer, records };\n}\n\nfunction normalizeInput(input) {\n    if (Buffer.isBuffer(input)) {\n        return { kind: \"buffer\", buffer: input };\n    }\n    if (Array.isArray(input)) {\n        return { kind: \"buffer\", buffer: Buffer.from(input) };\n    }\n    if (typeof input === \"string\") {\n        const trimmed = input.trim();\n        try {\n            return normalizeInput(JSON.parse(trimmed));\n        } catch (_) {\n            return { kind: \"buffer\", buffer: hexToBuffer(trimmed) };\n        }\n    }\n    if (input && typeof input === \"object\") {\n        if (input.gateway_id !== undefined && Array.isArray(input.events)) {\n            return { kind: \"gatewayStatus\", status: input };\n        }\n        if (input.kind === \"ch-topology\" || input.kind === \"gateway-topology\" || input.topology) {\n            return { kind: \"topologyObject\", topology: input.topology || input };\n        }\n        const hex = input.frameHex || input.appFrameHex || input.recordHex || input.payload_hex || input.payloadHex || input.hex;\n        if (hex) {\n            return {\n                kind: input.frameHex || input.appFrameHex ? \"appFrameHex\" : \"recordOrPayloadHex\",\n                buffer: hexToBuffer(hex),\n                meta: input\n            };\n        }\n    }\n    throw new Error(\"unsupported input payload\");\n}\n\nfunction emitGatewayStatus(status) {\n    const statusMsg = {\n        req: msg.req,\n        res: msg.res,\n        payload: {\n            ok: true,\n            kind: \"gateway-status\",\n            receivedAt: new Date().toISOString(),\n            gatewayId: status.gateway_id,\n            clusterCount: Array.isArray(status.clusters) ? status.clusters.length : 0,\n            eventCount: Array.isArray(status.events) ? status.events.length : 0,\n            clusters: status.clusters || []\n        },\n        topic: \"gld/gateway/status\"\n    };\n\n    const eventMsgs = [];\n    const decodedMsgs = [];\n    for (const e of status.events || []) {\n        const base = {\n            ok: true,\n            kind: \"gateway-event\",\n            receivedAt: new Date().toISOString(),\n            gatewayId: status.gateway_id,\n            clusterId: e.cluster_id,\n            nodeId: e.node_id,\n            seq: e.seq,\n            flags: e.flags,\n            alarm: !!e.alarm,\n            payloadHex: e.payload_hex,\n            legacy: true,\n            raw: e\n        };\n        eventMsgs.push({ req: msg.req, res: msg.res, payload: base, topic: \"gld/gateway/events\" });\n\n        if (e.payload_hex) {\n            try {\n                const payload = hexToBuffer(e.payload_hex);\n                let record;\n                if (payload.length === GLD_RECORD_LEN) {\n                    record = parseGldRecord(payload);\n                } else if (payload.length === GLD_ENCRYPTED_LEN) {\n                    record = {\n                        nodeId: Number(e.node_id),\n                        seq: Number(e.seq),\n                        flags: Number(e.flags),\n                        payloadLen: payload.length,\n                        payload\n                    };\n                }\n                if (record) {\n                    const decoded = recordToEvent(record, { srcId: e.cluster_id, srcIdHex: `0x${Number(e.cluster_id).toString(16).toUpperCase().padStart(4, \"0\")}` }, \"gateway-status\");\n                    decoded.rawGatewayEvent = e;\n                    decodedMsgs.push({\n                        req: msg.req,\n                        res: msg.res,\n                        payload: decoded,\n                        topic: decoded.alarm ? \"gld/server/alarm\" : \"gld/server/decoded\"\n                    });\n                }\n            } catch (err) {\n                eventMsgs.push(fail(\"gateway event decode failed\", { error: err.message, event: e }));\n            }\n        }\n    }\n\n    return [statusMsg, eventMsgs, decodedMsgs, null];\n}\n\ntry {\n    const input = normalizeInput(msg.payload);\n    if (input.kind === \"gatewayStatus\") {\n        return emitGatewayStatus(input.status);\n    }\n    if (input.kind === \"topologyObject\") {\n        const t = input.topology || {};\n        const clusterId = Number(t.clusterId || t.cluster_id || t.chId || t.ch_id || t.edgeFrom || t.edge_from);\n        const parentId = Number(t.parentId || t.parent_id || t.edgeTo || t.edge_to || 0);\n        const event = {\n            ok: true,\n            kind: \"ch-topology\",\n            source: \"gateway-topology-object\",\n            receivedAt: new Date().toISOString(),\n            sourceTopic: msg.topic,\n            report: t.reportType || t.report || t.kind,\n            gatewayId: Number(t.gatewayId || t.gateway_id || getGatewayId()),\n            gatewayIdHex: idHex(t.gatewayId || t.gateway_id || getGatewayId()),\n            clusterId,\n            clusterIdHex: idHex(clusterId),\n            parentId,\n            parentIdHex: idHex(parentId),\n            parentAltId: parseIdValue(t.parentAltId || t.parentAltIdHex || t.parent_alt_id || t.altParentId || t.alt_parent_id || 0),\n            parentAltIdHex: idHex(parseIdValue(t.parentAltId || t.parentAltIdHex || t.parent_alt_id || t.altParentId || t.alt_parent_id || 0)),\n            parentIsRoot: parentId === Number(t.gatewayId || t.gateway_id || getGatewayId()),\n            requesterId: t.requesterId !== undefined ? Number(t.requesterId) : undefined,\n            requesterIdHex: t.requesterId !== undefined ? idHex(t.requesterId) : undefined,\n            batteryMv: Number(t.batteryMv || t.battery_mv || 0xFFFF),\n            uptimeSec: Number(t.uptimeSec || t.uptimeSec16 || t.uptime_sec || 0),\n            meshDepth: t.meshDepth !== undefined ? Number(t.meshDepth) : (t.depth !== undefined ? Number(t.depth) : null),\n            viaHop: Number(t.viaHop || t.via_hop || 0),\n            viaHopHex: idHex(t.viaHop || t.via_hop || 0),\n            rssi: t.rssi,\n            snr: t.snr\n        };\n        if (event.report === \"ch-config-request\" && event.parentIdHex === \"0x0000\") {\n            const topology = getTopologyState();\n            const existingRoute = topology.routes && topology.routes[event.clusterIdHex];\n            const route = Array.isArray(existingRoute) ? existingRoute : [];\n            rememberDiscovery(event);\n            event.hopList = route;\n            event.nextHop = route.length > 0 ? route[0] : undefined;\n            event.nextHopHex = event.nextHop;\n            event.lastHop = route.length > 0 ? route[route.length - 1] : event.clusterIdHex;\n            event.routeText = route.length > 0\n                ? `${event.gatewayIdHex} -> ${route.join(\" -> \")}`\n                : `${event.gatewayIdHex} heard CH_CONFIG_REQUEST from ${event.clusterIdHex}; installed route pending`;\n            event.requestPayload = route.length > 0 ? { requestId: 1, hopList: route } : undefined;\n            event.routeStatus = route.length > 0 ? \"CH_CONFIG request seen; retained fresh installed route\" : \"CH_CONFIG request seen; installed route pending\";\n            return [null, [{ req: msg.req, res: msg.res, payload: event, topic: \"gld/server/topology\" }], null, null];\n        }\n\n        if (!isInstalledTopologyReport(event.report)) {\n            const { route } = rememberDiscovery(event);\n            event.hopList = route;\n            event.nextHop = route.length > 0 ? route[0] : undefined;\n            event.nextHopHex = event.nextHop;\n            event.lastHop = route.length > 0 ? route[route.length - 1] : event.clusterIdHex;\n            event.routeText = route.length > 0\n                ? `${event.gatewayIdHex} -> ${route.join(\" -> \")}`\n                : `${event.gatewayIdHex} heard ${event.report || \"discovery\"} from ${event.clusterIdHex}; installed route pending`;\n            event.requestPayload = route.length > 0 ? { requestId: 1, hopList: route } : undefined;\n            event.routeStatus = route.length > 0 ? \"CH_CONFIG candidate seen; retained fresh installed route\" : \"CH_CONFIG candidate seen; installed route pending\";\n            event.discoveryOnly = true;\n            return [null, [{ req: msg.req, res: msg.res, payload: event, topic: \"gld/server/topology\" }], null, null];\n        }\n\n        const { route } = updateTopology(event);\n        event.hopList = route;\n        event.nextHop = route.length > 0 ? route[0] : undefined;\n        event.nextHopHex = event.nextHop;\n        event.lastHop = route.length > 0 ? route[route.length - 1] : event.clusterIdHex;\n        event.routeText = route.length > 0 ? `${event.gatewayIdHex} -> ${route.join(\" -> \")}` : `${event.gatewayIdHex} -> ${event.clusterIdHex} (pending)`;\n        event.requestPayload = route.length > 0 ? { requestId: 1, hopList: route } : undefined;\n        event.routeStatus = route.length > 0 ? \"CH route updated\" : \"CH route pending\";\n        return [null, [{ req: msg.req, res: msg.res, payload: event, topic: \"gld/server/topology\" }], null, null];\n    }\n\n    let parsed;\n    if (input.buffer[0] === 0xAA) {\n        parsed = parseAppFrame(input.buffer);\n    } else if (input.buffer.length === GLD_RECORD_LEN) {\n        parsed = { outer: { srcIdHex: \"direct-record\" }, records: [parseGldRecord(input.buffer)] };\n    } else if (input.buffer.length === GLD_ENCRYPTED_LEN && input.meta) {\n        parsed = {\n            outer: { srcIdHex: \"direct-payload\" },\n            records: [{\n                nodeId: Number(input.meta.nodeId || input.meta.node_id),\n                seq: Number(input.meta.seq),\n                flags: Number(input.meta.flags || 0),\n                payloadLen: input.buffer.length,\n                payload: input.buffer\n            }]\n        };\n    } else {\n        throw new Error(`buffer length ${input.buffer.length} is not supported`);\n    }\n\n    if (parsed.control) {\n        return [null, null, null, null];\n    }\n\n    if (parsed.topology && parsed.outer && parsed.outer.topology) {\n        const event = Object.assign({\n            ok: true,\n            kind: \"ch-topology\",\n            source: \"app-frame\",\n            receivedAt: new Date().toISOString(),\n            sourceTopic: msg.topic,\n            report: \"ch-hello\",\n            outer: parsed.outer\n        }, parsed.outer.topology);\n        const { route } = updateTopology(event);\n        event.hopList = route;\n        event.nextHop = route.length > 0 ? route[0] : undefined;\n        event.nextHopHex = event.nextHop;\n        event.lastHop = route.length > 0 ? route[route.length - 1] : event.clusterIdHex;\n        event.routeText = route.length > 0 ? `${event.gatewayIdHex} -> ${route.join(\" -> \")}` : `${event.gatewayIdHex} -> ${event.clusterIdHex} (pending)`;\n        event.requestPayload = route.length > 0 ? { requestId: 1, hopList: route } : undefined;\n        event.routeStatus = route.length > 0 ? \"CH route updated\" : \"CH route pending\";\n        return [null, [{ req: msg.req, res: msg.res, payload: event, topic: \"gld/server/topology\" }], null, null];\n    }\n\n    if (parsed.outer && parsed.outer.msgType === MSG_CLUSTER_DATA_RESPONSE && parsed.outer.dstId !== getGatewayId()) {\n        return [null, null, null, null];\n    }\n\n    const decodedMsgs = parsed.records.map((record) => ({\n        req: msg.req,\n        res: msg.res,\n        payload: recordToEvent(record, parsed.outer, \"contract\"),\n        topic: (record.flags & NC_FLAG_ALARM) ? \"gld/server/alarm\" : \"gld/server/decoded\"\n    }));\n    const eventMsgs = decodedMsgs.map((m) => ({\n        req: msg.req,\n        res: msg.res,\n        payload: {\n            ok: true,\n            kind: \"gld-event-envelope\",\n            outer: parsed.outer,\n            nodeId: m.payload.nodeId,\n            seq: m.payload.seq,\n            flags: m.payload.flags,\n            alarm: m.payload.alarm,\n            decryptOk: m.payload.decryptOk\n        },\n        topic: \"gld/gateway/events\"\n    }));\n    return [null, eventMsgs, decodedMsgs, null];\n} catch (err) {\n    return [null, null, null, fail(\"decode failed\", err.message)];\n}\n",
    "outputs": 4,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 140,
    "wires": [
      [
        "pgl_mqtt_status",
        "pgl_debug_status"
      ],
      [
        "pgl_mqtt_events",
        "pgl_debug_events",
        "pgl_compact_topology_debug"
      ],
      [
        "pgl_mqtt_decoded",
        "pgl_compact_decoded_debug",
        "pgl_http_decode_ok"
      ],
      [
        "pgl_mqtt_error",
        "pgl_debug_error",
        "pgl_http_decode_error"
      ]
    ]
  },
  {
    "id": "pgl_http_decode_ok",
    "type": "function",
    "z": "pgl_tab",
    "name": "HTTP decode OK",
    "func": "if (!msg.req || !msg.res) {\n    return null;\n}\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1220,
    "y": 340,
    "wires": [
      [
        "pgl_http_decode_response"
      ]
    ]
  },
  {
    "id": "pgl_http_decode_error",
    "type": "function",
    "z": "pgl_tab",
    "name": "HTTP decode error",
    "func": "if (!msg.req || !msg.res) {\n    return null;\n}\nmsg.statusCode = 400;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1220,
    "y": 400,
    "wires": [
      [
        "pgl_http_decode_response"
      ]
    ]
  },
  {
    "id": "pgl_http_decode_response",
    "type": "http response",
    "z": "pgl_tab",
    "name": "HTTP decode response",
    "statusCode": "",
    "headers": {},
    "x": 1460,
    "y": 370,
    "wires": []
  },
  {
    "id": "pgl_http_topology_json_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "GET /pertamina-gld/topology",
    "url": "/pertamina-gld/topology",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 500,
    "wires": [
      [
        "pgl_topology_json"
      ]
    ]
  },
  {
    "id": "pgl_topology_json",
    "type": "function",
    "z": "pgl_tab",
    "name": "build topology JSON",
    "func": "function idHex(value) {\n  const n = Number(value) & 0xFFFF;\n  return \"0x\" + n.toString(16).toUpperCase().padStart(4, \"0\");\n}\n\nconst gatewayIdHex = idHex(Number(env.get(\"PGL_GATEWAY_ID\") || \"0x006F\"));\nconst topology = flow.get(\"pglTopology\") || {\n  gatewayIdHex,\n  parents: {},\n  discovery: {},\n  gatewayLinks: {},\n  hellos: {},\n  routes: {},\n  updatedAt: null\n};\ntopology.gatewayIdHex = topology.gatewayIdHex || gatewayIdHex;\nconst directGatewayMinRssiDbm = Number(env.get(\"PGL_GATEWAY_DIRECT_PARENT_MIN_RSSI_DBM\") || \"-95\");\nconst directGatewayMinSnrDb = Number(env.get(\"PGL_GATEWAY_DIRECT_PARENT_MIN_SNR_DB\") || \"5\");\nconst topologyParentTtlMs = Number(env.get(\"PGL_TOPOLOGY_PARENT_TTL_MS\") || \"900000\");\nconst topologyDiscoveryTtlMs = Number(env.get(\"PGL_TOPOLOGY_DISCOVERY_TTL_MS\") || \"420000\");\nconst topologyGatewayLinkTtlMs = Number(env.get(\"PGL_TOPOLOGY_GATEWAY_LINK_TTL_MS\") || \"420000\");\n\nfunction hasNumber(value) {\n  return value !== undefined && value !== null && value !== \"\" && Number.isFinite(Number(value));\n}\n\nfunction ageMsOf(entry, nowMs = Date.now()) {\n  const t = Date.parse(entry && entry.receivedAt);\n  return Number.isFinite(t) ? Math.max(0, nowMs - t) : Number.POSITIVE_INFINITY;\n}\n\nfunction pruneMapByTtl(map, ttlMs, nowMs = Date.now()) {\n  for (const [key, entry] of Object.entries(map || {})) {\n    if (ageMsOf(entry, nowMs) > ttlMs) {\n      delete map[key];\n    }\n  }\n}\n\nfunction newestIso(...values) {\n  const valid = values\n    .filter(Boolean)\n    .map((value) => ({ value, t: Date.parse(value) }))\n    .filter((item) => Number.isFinite(item.t))\n    .sort((a, b) => b.t - a.t);\n  return valid.length > 0 ? valid[0].value : null;\n}\n\ntopology.parents = topology.parents || {};\ntopology.discovery = topology.discovery || {};\ntopology.gatewayLinks = topology.gatewayLinks || {};\ntopology.hellos = topology.hellos || {};\ntopology.routes = topology.routes || {};\npruneMapByTtl(topology.parents, topologyParentTtlMs);\npruneMapByTtl(topology.discovery, topologyDiscoveryTtlMs);\npruneMapByTtl(topology.gatewayLinks, topologyGatewayLinkTtlMs);\npruneMapByTtl(topology.hellos, topologyParentTtlMs);\nfor (const clusterIdHex of Object.keys(topology.routes)) {\n  if (!topology.parents[clusterIdHex]) {\n    delete topology.routes[clusterIdHex];\n  }\n}\nflow.set(\"pglTopology\", topology);\n\nconst nodes = [{\n  id: topology.gatewayIdHex,\n  label: \"GW\",\n  type: \"gateway\",\n  parent: null,\n  depth: 0,\n  layer: 0,\n  layerLabel: \"Layer 0\",\n  route: [],\n  status: \"root\"\n}];\n\nconst edges = [];\nconst installedIds = new Set(Object.keys(topology.parents || {}));\nconst visibleIds = new Set([topology.gatewayIdHex]);\nfor (const [clusterIdHex, entry] of Object.entries(topology.parents || {})) {\n  const route = Array.isArray((topology.routes || {})[clusterIdHex])\n    ? topology.routes[clusterIdHex]\n    : [];\n  const live = (topology.discovery || {})[clusterIdHex] || null;\n  const liveIsGatewayRequest = live &&\n    live.report === \"ch-config-request\" &&\n    (live.parentIdHex === \"0x0000\" || !live.parentIdHex);\n  const liveRssi = live && hasNumber(live.rssi) ? Number(live.rssi) : undefined;\n  const liveSnr = live && hasNumber(live.snr) ? Number(live.snr) : undefined;\n  const liveBattery = live && hasNumber(live.batteryMv) && Number(live.batteryMv) !== 0xFFFF\n    ? Number(live.batteryMv)\n    : undefined;\n  const gatewayLink = (topology.gatewayLinks || {})[clusterIdHex] || null;\n  const gatewayRssi = gatewayLink && hasNumber(gatewayLink.rssi) ? Number(gatewayLink.rssi) : undefined;\n  const gatewaySnr = gatewayLink && hasNumber(gatewayLink.snr) ? Number(gatewayLink.snr) : undefined;\n  const hello = (topology.hellos || {})[clusterIdHex] || (entry.report === \"ch-hello\" ? entry : null);\n  const lastSeenAgeSec = Math.round(ageMsOf(entry) / 1000);\n  const lastHelloAgeSec = hello ? Math.round(ageMsOf(hello) / 1000) : undefined;\n  const gatewayLinkAgeSec = gatewayLink ? Math.round(ageMsOf(gatewayLink) / 1000) : undefined;\n  const parentIdHex = entry.parentIdHex || \"0x0000\";\n  const parentAltIdHex = entry.parentAltIdHex || \"0x0000\";\n  const routeIsInstalled = route.length > 0 &&\n    (parentIdHex === topology.gatewayIdHex || parentIdHex === \"0x0000\" || installedIds.has(parentIdHex));\n  const depth = routeIsInstalled ? route.length : null;\n  const layer = depth;\n  const layerLabel = hasNumber(layer) ? \"Layer \" + layer : \"Discovery\";\n  const rssiSource = parentIdHex && parentIdHex !== \"0x0000\" ? parentIdHex : (entry.viaHopHex || topology.gatewayIdHex);\n  const rssiTarget = clusterIdHex;\n  const rssiLink = rssiSource + \" -> \" + rssiTarget;\n  const displayRssi = !liveIsGatewayRequest && liveRssi !== undefined ? liveRssi : entry.rssi;\n  const displaySnr = !liveIsGatewayRequest && liveSnr !== undefined ? liveSnr : entry.snr;\n  const linkQualityLabel = displayRssi !== undefined || displaySnr !== undefined\n    ? \"RSSI to Parent: \" + (displayRssi ?? \"-\") + \" dBm, SNR \" + (displaySnr ?? \"-\") + \" dB\"\n    : \"RSSI to Parent: belum ada\";\n  const gatewayQualityLabel = gatewayRssi !== undefined || gatewaySnr !== undefined\n    ? \"RSSI to Gateway: \" + (gatewayRssi ?? \"-\") + \" dBm, SNR \" + (gatewaySnr ?? \"-\") + \" dB\"\n    : \"RSSI to Gateway: belum ada\";\n  const batteryMv = liveBattery !== undefined ? liveBattery : entry.batteryMv;\n  const publicRoute = routeIsInstalled ? route : [];\n  const pendingReason = routeIsInstalled\n    ? null\n    : (parentIdHex && parentIdHex !== \"0x0000\"\n      ? \"pending: waiting installed route via \" + parentIdHex\n      : \"pending: waiting parent topology\");\n  nodes.push({\n    id: clusterIdHex,\n    label: \"CH \" + clusterIdHex,\n    type: \"ch\",\n    parent: parentIdHex,\n    parentAlt: parentAltIdHex,\n    depth,\n    layer,\n    layerLabel,\n    route: publicRoute,\n    routeText: routeIsInstalled ? topology.gatewayIdHex + \" -> \" + route.join(\" -> \") : \"installed route pending\",\n    requestPayload: routeIsInstalled ? { requestId: 1, hopList: route } : null,\n    lastHop: routeIsInstalled ? route[route.length - 1] : clusterIdHex,\n    report: entry.report,\n    rssi: displayRssi,\n    snr: displaySnr,\n    rssiSource,\n    rssiTarget,\n    rssiLink,\n    linkQualityLabel,\n    gatewayRssi,\n    gatewaySnr,\n    gatewayQualityLabel,\n    gatewayLinkUpdatedAt: gatewayLink ? gatewayLink.receivedAt : undefined,\n    gatewayLinkAgeSec,\n    lastHelloAgeSec,\n    lastHelloUpdatedAt: hello ? hello.receivedAt : undefined,\n    liveUpdatedAt: live ? live.receivedAt : undefined,\n    lastSeenAgeSec,\n    batteryMv,\n    batteryLabel: batteryMv !== undefined && batteryMv !== null && Number(batteryMv) !== 0xFFFF\n      ? \"battery: \" + batteryMv + \" mV\"\n      : \"battery: belum ada\",\n    pendingReason,\n    updatedAt: entry.receivedAt || topology.updatedAt,\n    status: routeIsInstalled ? \"installed\" : \"pending\"\n  });\n  visibleIds.add(clusterIdHex);\n  if (routeIsInstalled && parentIdHex && parentIdHex !== \"0x0000\" && parentIdHex !== clusterIdHex) {\n    edges.push({\n      from: parentIdHex,\n      to: clusterIdHex,\n      label: parentIdHex + \" -> \" + clusterIdHex,\n      role: \"main\",\n      rssi: displayRssi,\n      snr: displaySnr,\n      linkQualityLabel\n    });\n  }\n  if (routeIsInstalled && parentAltIdHex && parentAltIdHex !== \"0x0000\" &&\n      parentAltIdHex !== clusterIdHex && parentAltIdHex !== parentIdHex) {\n    edges.push({\n      from: parentAltIdHex,\n      to: clusterIdHex,\n      label: parentAltIdHex + \" -> \" + clusterIdHex,\n      role: \"alternate\",\n      linkQualityLabel: \"Alternative Parent\"\n    });\n  }\n}\n\nfor (const [clusterIdHex, event] of Object.entries(topology.discovery || {})) {\n  if (visibleIds.has(clusterIdHex)) {\n    continue;\n  }\n  const gatewayLink = (topology.gatewayLinks || {})[clusterIdHex] || null;\n  const gatewayRssi = gatewayLink && hasNumber(gatewayLink.rssi) ? Number(gatewayLink.rssi) : undefined;\n  const gatewaySnr = gatewayLink && hasNumber(gatewayLink.snr) ? Number(gatewayLink.snr) : undefined;\n  const hello = (topology.hellos || {})[clusterIdHex] || null;\n  const lastSeenAgeSec = Math.round(ageMsOf(event) / 1000);\n  const lastHelloAgeSec = hello ? Math.round(ageMsOf(hello) / 1000) : undefined;\n  const gatewayLinkAgeSec = gatewayLink ? Math.round(ageMsOf(gatewayLink) / 1000) : undefined;\n  const gatewayQualityLabel = gatewayRssi !== undefined || gatewaySnr !== undefined\n    ? \"RSSI to Gateway: \" + (gatewayRssi ?? \"-\") + \" dBm, SNR \" + (gatewaySnr ?? \"-\") + \" dB\"\n    : \"RSSI to Gateway: belum ada\";\n  const batteryMv = hasNumber(event.batteryMv) && Number(event.batteryMv) !== 0xFFFF\n    ? Number(event.batteryMv)\n    : undefined;\n  const directGatewayCandidate = gatewayRssi !== undefined &&\n    gatewaySnr !== undefined &&\n    gatewayRssi >= directGatewayMinRssiDbm &&\n    gatewaySnr >= directGatewayMinSnrDb;\n  const pendingReason = directGatewayCandidate\n    ? \"pending: direct Gateway candidate is strong; waiting installed CH_HELLO/topology\"\n    : (gatewayRssi !== undefined || gatewaySnr !== undefined\n      ? \"pending: Gateway link RSSI \" + (gatewayRssi ?? \"-\") + \" dBm / SNR \" + (gatewaySnr ?? \"-\") + \" dB below direct threshold \" + directGatewayMinRssiDbm + \" dBm / \" + directGatewayMinSnrDb + \" dB; waiting CH parent response\"\n      : \"pending: waiting CH_CONFIG response\");\n  nodes.push({\n    id: clusterIdHex,\n    label: \"CH \" + clusterIdHex,\n    type: \"ch\",\n    parent: directGatewayCandidate ? topology.gatewayIdHex : null,\n    parentAlt: null,\n    depth: null,\n    layer: null,\n    layerLabel: \"Discovery\",\n    route: [],\n    routeText: directGatewayCandidate ? topology.gatewayIdHex + \" -> \" + clusterIdHex + \" (pending)\" : \"installed route pending\",\n    requestPayload: null,\n    lastHop: clusterIdHex,\n    report: event.report,\n    rssi: directGatewayCandidate ? gatewayRssi : undefined,\n    snr: directGatewayCandidate ? gatewaySnr : undefined,\n    rssiSource: directGatewayCandidate ? topology.gatewayIdHex : null,\n    rssiTarget: clusterIdHex,\n    rssiLink: directGatewayCandidate ? topology.gatewayIdHex + \" -> \" + clusterIdHex : null,\n    linkQualityLabel: directGatewayCandidate\n      ? \"RSSI to Parent: \" + (gatewayRssi ?? \"-\") + \" dBm, SNR \" + (gatewaySnr ?? \"-\") + \" dB\"\n      : \"RSSI to Parent: belum ada\",\n    gatewayRssi,\n    gatewaySnr,\n    gatewayQualityLabel,\n    gatewayLinkUpdatedAt: gatewayLink ? gatewayLink.receivedAt : undefined,\n    gatewayLinkAgeSec,\n    lastHelloAgeSec,\n    lastHelloUpdatedAt: hello ? hello.receivedAt : undefined,\n    liveUpdatedAt: event.receivedAt,\n    lastSeenAgeSec,\n    batteryMv,\n    batteryLabel: batteryMv !== undefined && batteryMv !== null\n      ? \"battery: \" + batteryMv + \" mV\"\n      : \"battery: belum ada\",\n    pendingReason,\n    updatedAt: event.receivedAt,\n    status: \"discovery\"\n  });\n  visibleIds.add(clusterIdHex);\n}\n\nconst nodeById = new Map(nodes.map((node) => [node.id, node]));\nfunction resolveVisualLayer(node, guard = 0) {\n  if (!node || guard > 16) {\n    return null;\n  }\n  if (node.type === \"gateway\") {\n    return 0;\n  }\n  if (node.status === \"installed\" && Array.isArray(node.route) && node.route.length > 0) {\n    return node.route.length;\n  }\n  if (node.parent && node.parent !== \"0x0000\" && node.parent !== node.id && nodeById.has(node.parent)) {\n    const parentLayer = resolveVisualLayer(nodeById.get(node.parent), guard + 1);\n    return parentLayer !== null ? parentLayer + 1 : null;\n  }\n  if (node.gatewayRssi !== undefined || node.gatewaySnr !== undefined) {\n    return 1;\n  }\n  return null;\n}\n\nfor (const node of nodes) {\n  const visualLayer = resolveVisualLayer(node);\n  if (visualLayer !== null) {\n    node.layer = visualLayer;\n    node.layerLabel = node.status === \"installed\" || node.type === \"gateway\"\n      ? \"Layer \" + visualLayer\n      : \"Layer \" + visualLayer + \" pending\";\n    if (node.status === \"installed\") {\n      node.depth = visualLayer;\n    }\n  }\n}\n\nconst edgeKeys = new Set(edges.map((edge) => edge.role + \":\" + edge.from + \"->\" + edge.to));\nfor (const node of nodes) {\n  if (node.type !== \"ch\" || node.status === \"installed\") {\n    continue;\n  }\n  if (node.parent && node.parent !== \"0x0000\" && node.parent !== node.id && nodeById.has(node.parent)) {\n    const key = \"pending:\" + node.parent + \"->\" + node.id;\n    if (!edgeKeys.has(key)) {\n      edges.push({\n        from: node.parent,\n        to: node.id,\n        label: node.parent + \" -> \" + node.id,\n        role: \"pending\",\n        rssi: node.rssi,\n        snr: node.snr,\n        linkQualityLabel: node.linkQualityLabel || \"Pending Parent\"\n      });\n      edgeKeys.add(key);\n    }\n  }\n}\n\nnodes.sort((a, b) => {\n  const da = a.layer === null ? 99 : a.layer;\n  const db = b.layer === null ? 99 : b.layer;\n  if (da !== db) return da - db;\n  return String(a.id).localeCompare(String(b.id));\n});\n\nconst publicRoutes = {};\nfor (const node of nodes) {\n  if (node.type === \"ch\" && node.status === \"installed\" && Array.isArray(node.route) && node.route.length > 0) {\n    publicRoutes[node.id] = node.route;\n  }\n}\n\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\" };\nmsg.payload = {\n  ok: true,\n  kind: \"pgl-topology\",\n  updatedAt: topology.updatedAt,\n  liveUpdatedAt: newestIso(topology.discoveryUpdatedAt, topology.updatedAt),\n  topologyUpdatedAt: topology.updatedAt,\n  resetAt: topology.resetAt || null,\n  gatewayIdHex: topology.gatewayIdHex,\n  nodeCount: nodes.length,\n  edgeCount: edges.length,\n  mainEdgeCount: edges.filter((edge) => edge.role === \"main\").length,\n  alternateEdgeCount: edges.filter((edge) => edge.role === \"alternate\").length,\n  pendingEdgeCount: edges.filter((edge) => edge.role === \"pending\").length,\n  discoveryCount: Object.keys(topology.discovery || {}).length,\n  nodes,\n  edges,\n  routes: publicRoutes,\n  discovery: topology.discovery || {}\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 500,
    "wires": [
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_reset_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "POST /pertamina-gld/topology/reset",
    "url": "/pertamina-gld/topology/reset",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 600,
    "wires": [
      [
        "pgl_topology_reset"
      ]
    ]
  },
  {
    "id": "pgl_topology_reset",
    "type": "function",
    "z": "pgl_tab",
    "name": "reset topology state",
    "func": "function idHex(value) {\n  const n = Number(value) & 0xFFFF;\n  return \"0x\" + n.toString(16).toUpperCase().padStart(4, \"0\");\n}\n\nconst gatewayIdHex = idHex(Number(env.get(\"PGL_GATEWAY_ID\") || \"0x006F\"));\nconst resetAt = new Date().toISOString();\nconst topology = {\n  gatewayIdHex,\n  parents: {},\n  discovery: {},\n  gatewayLinks: {},\n  hellos: {},\n  routes: {},\n  updatedAt: null,\n  discoveryUpdatedAt: null,\n  resetAt\n};\nflow.set(\"pglTopology\", topology);\n\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\" };\nmsg.payload = {\n  ok: true,\n  kind: \"pgl-topology\",\n  reset: true,\n  resetAt,\n  updatedAt: null,\n  liveUpdatedAt: null,\n  topologyUpdatedAt: null,\n  gatewayIdHex,\n  nodeCount: 1,\n  edgeCount: 0,\n  mainEdgeCount: 0,\n  alternateEdgeCount: 0,\n  discoveryCount: 0,\n  nodes: [{\n    id: gatewayIdHex,\n    label: \"GW\",\n    type: \"gateway\",\n    parent: null,\n    depth: 0,\n    layer: 0,\n    layerLabel: \"Layer 0\",\n    route: [],\n    status: \"root\"\n  }],\n  edges: [],\n  routes: {},\n  discovery: {},\n  gatewayLinks: {}\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 600,
    "wires": [
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_request_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "POST /pertamina-gld/topology/request",
    "url": "/pertamina-gld/topology/request",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 650,
    "wires": [
      [
        "pgl_topology_request"
      ]
    ]
  },
  {
    "id": "pgl_topology_request",
    "type": "function",
    "z": "pgl_tab",
    "name": "request CH pull route",
    "func": "function idHexValue(value) {\n  const raw = String(value || \"\").trim();\n  const n = raw.toLowerCase().startsWith(\"0x\") ? parseInt(raw, 16) : Number(raw);\n  if (!Number.isFinite(n)) return null;\n  return \"0x\" + (n & 0xFFFF).toString(16).toUpperCase().padStart(4, \"0\");\n}\n\nconst clusterIdHex = idHexValue((msg.req && msg.req.query && msg.req.query.ch) || (msg.payload && (msg.payload.ch || msg.payload.clusterId)));\nif (!clusterIdHex) {\n  msg.statusCode = 400;\n  msg.payload = { ok: false, reason: \"invalid-ch-id\" };\n  return [null, msg];\n}\n\nconst topology = flow.get(\"pglTopology\") || {};\nconst route = topology.routes && Array.isArray(topology.routes[clusterIdHex]) ? topology.routes[clusterIdHex] : [];\nif (route.length === 0) {\n  msg.statusCode = 409;\n  msg.payload = { ok: false, reason: \"route-not-installed\", ch: clusterIdHex };\n  return [null, msg];\n}\n\nconst requestId = Date.now() & 0xFFFF;\nconst command = {\n  requestId,\n  hopList: route\n};\nconst mqttMsg = {\n  topic: \"gld/gateway/cmd/pull\",\n  payload: command\n};\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\" };\nmsg.payload = { ok: true, kind: \"pgl-topology-request\", ch: clusterIdHex, requestId, hopList: route };\nreturn [mqttMsg, msg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 650,
    "wires": [
      [
        "pgl_mqtt_out_pull_command",
        "pgl_debug_mqtt_command"
      ],
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_delete_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "POST /pertamina-gld/topology/delete",
    "url": "/pertamina-gld/topology/delete",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 700,
    "wires": [
      [
        "pgl_topology_delete"
      ]
    ]
  },
  {
    "id": "pgl_topology_delete",
    "type": "function",
    "z": "pgl_tab",
    "name": "delete CH topology state",
    "func": "function idHexValue(value) {\n  const raw = String(value || \"\").trim();\n  const n = raw.toLowerCase().startsWith(\"0x\") ? parseInt(raw, 16) : Number(raw);\n  if (!Number.isFinite(n)) return null;\n  return \"0x\" + (n & 0xFFFF).toString(16).toUpperCase().padStart(4, \"0\");\n}\n\nconst clusterIdHex = idHexValue((msg.req && msg.req.query && msg.req.query.ch) || (msg.payload && (msg.payload.ch || msg.payload.clusterId)));\nif (!clusterIdHex) {\n  msg.statusCode = 400;\n  msg.payload = { ok: false, reason: \"invalid-ch-id\" };\n  return msg;\n}\n\nconst topology = flow.get(\"pglTopology\") || {};\ntopology.parents = topology.parents || {};\ntopology.discovery = topology.discovery || {};\ntopology.gatewayLinks = topology.gatewayLinks || {};\ntopology.hellos = topology.hellos || {};\ntopology.routes = topology.routes || {};\n\ndelete topology.parents[clusterIdHex];\ndelete topology.discovery[clusterIdHex];\ndelete topology.gatewayLinks[clusterIdHex];\ndelete topology.hellos[clusterIdHex];\ndelete topology.routes[clusterIdHex];\nfor (const [key, route] of Object.entries(topology.routes)) {\n  if (Array.isArray(route) && route.includes(clusterIdHex)) {\n    delete topology.routes[key];\n  }\n}\ntopology.updatedAt = new Date().toISOString();\ntopology.discoveryUpdatedAt = topology.updatedAt;\nflow.set(\"pglTopology\", topology);\n\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\" };\nmsg.payload = { ok: true, deleted: clusterIdHex, kind: \"pgl-topology-delete\", updatedAt: topology.updatedAt };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 700,
    "wires": [
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_view_in",
    "type": "http in",
    "z": "pgl_tab",
    "name": "GET /pertamina-gld/topology/view",
    "url": "/pertamina-gld/topology/view",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 550,
    "wires": [
      [
        "pgl_topology_view"
      ]
    ]
  },
  {
    "id": "pgl_topology_view",
    "type": "function",
    "z": "pgl_tab",
    "name": "render topology view",
    "func": "msg.headers = { \"content-type\": \"text/html; charset=utf-8\" };\nmsg.payload = `<!doctype html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Pertamina GLD Topology</title>\n  <style>\n    :root {\n      color-scheme: dark;\n      --bg: #101214;\n      --panel: #171b20;\n      --line: #6b7280;\n      --text: #f3f4f6;\n      --muted: #9ca3af;\n      --gw: #10b981;\n      --ch: #38bdf8;\n      --warn: #f59e0b;\n      --mainLink: #38bdf8;\n      --altLink: #f59e0b;\n    }\n    * { box-sizing: border-box; }\n    body {\n      margin: 0;\n      font-family: \"Segoe UI\", Arial, sans-serif;\n      background: var(--bg);\n      color: var(--text);\n    }\n    header {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      gap: 16px;\n      padding: 16px 20px;\n      border-bottom: 1px solid #2b3036;\n      background: #0f1115;\n    }\n    h1 { margin: 0; font-size: 20px; font-weight: 650; }\n    .meta { color: var(--muted); font-size: 13px; text-align: right; }\n    main { padding: 18px; }\n    .canvas {\n      position: relative;\n      min-height: 560px;\n      border: 1px solid #2b3036;\n      background: radial-gradient(circle at 50% 0%, #192028 0, #12161b 45%, #101214 100%);\n      overflow: auto;\n    }\n    svg {\n      position: absolute;\n      inset: 0;\n      width: 100%;\n      height: 100%;\n      pointer-events: none;\n    }\n    .node {\n      position: absolute;\n      width: 240px;\n      min-height: 210px;\n      padding: 12px;\n      border: 1px solid var(--node-border, #334155);\n      border-left: 5px solid var(--node-accent, var(--node-border, #334155));\n      border-radius: 8px;\n      background: linear-gradient(180deg, var(--node-bg, var(--panel)) 0%, var(--panel) 72%);\n      box-shadow: 0 10px 26px rgba(0,0,0,.26);\n      cursor: grab;\n      touch-action: none;\n      user-select: none;\n    }\n    .node.dragging {\n      cursor: grabbing;\n      z-index: 5;\n      box-shadow: 0 16px 36px rgba(0,0,0,.42);\n    }\n    .node.updated {\n      animation: chUpdateFlash 1.8s ease-out 1;\n    }\n    .node.gateway {\n      --node-border: var(--gw);\n      --node-accent: var(--gw);\n      --node-bg: #12231f;\n      --layer-pill-bg: rgba(16,185,129,.18);\n    }\n    .node.ch {\n      --node-border: var(--ch);\n      --node-accent: var(--ch);\n      --node-bg: #10202a;\n      --layer-pill-bg: rgba(56,189,248,.16);\n    }\n    .node.pending {\n      outline: 1px solid rgba(245,158,11,.85);\n      outline-offset: 1px;\n    }\n    @keyframes chUpdateFlash {\n      0% {\n        border-color: #fde047;\n        background: #2a2615;\n        box-shadow: 0 0 0 0 rgba(253,224,71,.95), 0 10px 26px rgba(0,0,0,.26);\n      }\n      35% {\n        border-color: #facc15;\n        background: #252319;\n        box-shadow: 0 0 0 8px rgba(253,224,71,.24), 0 16px 34px rgba(0,0,0,.34);\n      }\n      100% {\n        border-color: var(--node-border, var(--ch));\n        background: linear-gradient(180deg, var(--node-bg, var(--panel)) 0%, var(--panel) 72%);\n        box-shadow: 0 0 0 18px rgba(253,224,71,0), 0 10px 26px rgba(0,0,0,.26);\n      }\n    }\n    .title { font-size: 16px; font-weight: 700; margin-bottom: 8px; }\n    .row { color: var(--muted); font-size: 12px; line-height: 1.45; white-space: normal; overflow: visible; overflow-wrap: anywhere; }\n    .layer {\n      display: inline-block;\n      margin-bottom: 7px;\n      padding: 2px 7px;\n      border: 1px solid #475569;\n      border-radius: 999px;\n      color: #e5e7eb;\n      background: var(--layer-pill-bg, transparent);\n      font-size: 11px;\n      line-height: 1.35;\n    }\n    .route {\n      margin-top: 8px;\n      color: #d1d5db;\n      font-size: 12px;\n      line-height: 1.35;\n      white-space: normal;\n    }\n    .toolbar {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 12px;\n      gap: 12px;\n    }\n    .legend {\n      display: flex;\n      align-items: center;\n      gap: 14px;\n      flex-wrap: wrap;\n      color: var(--muted);\n      font-size: 12px;\n    }\n    .legend-item {\n      display: inline-flex;\n      align-items: center;\n      gap: 6px;\n    }\n    .legend-line {\n      width: 28px;\n      height: 0;\n      border-top: 3px solid var(--mainLink);\n    }\n    .legend-line.alt {\n      border-top-color: var(--altLink);\n      border-top-style: dashed;\n    }\n    .legend-line.pending {\n      border-top-color: var(--warn);\n      border-top-style: dotted;\n    }\n    button {\n      border: 1px solid #475569;\n      background: #1f2937;\n      color: var(--text);\n      border-radius: 6px;\n      padding: 8px 12px;\n      cursor: pointer;\n    }\n    button:hover { background: #263244; }\n    button:disabled { cursor: wait; opacity: .65; }\n    button.danger {\n      border-color: #7f1d1d;\n      background: #3b1717;\n      color: #fecaca;\n    }\n    button.danger:hover { background: #4c1d1d; }\n    .table-actions {\n      display: flex;\n      gap: 6px;\n      flex-wrap: nowrap;\n    }\n    .table-action {\n      width: auto;\n      min-width: 58px;\n      padding: 5px 8px;\n      border-radius: 6px;\n      font-size: 11px;\n      line-height: 1;\n    }\n    .table-action.delete {\n      color: #fecaca;\n      border-color: rgba(248,113,113,.55);\n      background: rgba(127,29,29,.18);\n    }\n    .table-action:disabled {\n      opacity: .42;\n      cursor: not-allowed;\n    }\n    .actions {\n      display: flex;\n      align-items: center;\n      gap: 8px;\n      flex-wrap: wrap;\n      justify-content: flex-end;\n    }\n    .status { color: var(--muted); font-size: 13px; }\n    .empty {\n      padding: 28px;\n      color: var(--muted);\n      text-align: center;\n    }\n    .pending-section {\n      margin-top: 14px;\n      border: 1px solid #2b3036;\n      background: #11161c;\n      overflow: hidden;\n    }\n    .pending-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      gap: 12px;\n      padding: 12px 14px;\n      border-bottom: 1px solid #2b3036;\n    }\n    .pending-header h2 {\n      margin: 0;\n      font-size: 15px;\n      font-weight: 650;\n    }\n    .pending-count {\n      color: var(--muted);\n      font-size: 12px;\n    }\n    .pending-table-wrap {\n      overflow-x: auto;\n    }\n    .pending-table {\n      width: 100%;\n      border-collapse: collapse;\n      font-size: 12px;\n      min-width: 760px;\n    }\n    .pending-table th,\n    .pending-table td {\n      padding: 9px 12px;\n      border-bottom: 1px solid #252b33;\n      text-align: left;\n      vertical-align: top;\n    }\n    .pending-table th {\n      color: #d1d5db;\n      background: #151b22;\n      font-weight: 650;\n    }\n    .pending-table td {\n      color: var(--muted);\n    }\n    .pending-table tr:last-child td {\n      border-bottom: 0;\n    }\n    .pending-empty {\n      padding: 13px 14px;\n      color: var(--muted);\n      font-size: 12px;\n    }\n  </style>\n</head>\n<body>\n  <header>\n    <h1>Pertamina GLD Topology</h1>\n    <div class=\"meta\">\n      <div id=\"summary\">loading...</div>\n      <div>Auto refresh 1 detik</div>\n    </div>\n  </header>\n  <main>\n    <div class=\"toolbar\">\n      <div class=\"status\" id=\"status\">Mengambil topology...</div>\n      <div class=\"legend\">\n        <span class=\"legend-item\"><span class=\"legend-line\"></span>Main Parent</span>\n        <span class=\"legend-item\"><span class=\"legend-line alt\"></span>Alternative Parent</span>\n        <span class=\"legend-item\"><span class=\"legend-line pending\"></span>Pending Parent</span>\n      </div>\n      <div class=\"actions\">\n        <button id=\"refresh\">Refresh</button>\n        <button id=\"resetLayout\">Reset Layout</button>\n        <button id=\"resetRouting\" class=\"danger\">Reset Routing</button>\n      </div>\n    </div>\n    <div class=\"canvas\" id=\"canvas\">\n      <svg id=\"links\"></svg>\n      <div id=\"nodes\"></div>\n    </div>\n    <section class=\"pending-section\">\n      <div class=\"pending-header\">\n        <h2>Status CH</h2>\n        <div class=\"pending-count\" id=\"pendingCount\">0 item</div>\n      </div>\n      <div id=\"pendingDetails\"></div>\n    </section>\n  </main>\n  <script>\n    const canvas = document.getElementById(\"canvas\");\n    const nodesEl = document.getElementById(\"nodes\");\n    const linksEl = document.getElementById(\"links\");\n    const statusEl = document.getElementById(\"status\");\n    const summaryEl = document.getElementById(\"summary\");\n    const pendingDetailsEl = document.getElementById(\"pendingDetails\");\n    const pendingCountEl = document.getElementById(\"pendingCount\");\n    const resetButton = document.getElementById(\"resetRouting\");\n    const resetLayoutButton = document.getElementById(\"resetLayout\");\n    const nodeSignals = new Map();\n    const layoutStorageKey = \"pertamina-gld-topology-layout-v1\";\n    const nodeW = 240;\n    let currentEdges = [];\n    let currentPositions = {};\n    let dragActive = false;\n    let hasRendered = false;\n\n    function loadManualLayout() {\n      try {\n        const saved = JSON.parse(localStorage.getItem(layoutStorageKey) || \"{}\");\n        return saved && typeof saved === \"object\" ? saved : {};\n      } catch (err) {\n        return {};\n      }\n    }\n\n    function saveManualLayout(layout) {\n      localStorage.setItem(layoutStorageKey, JSON.stringify(layout));\n    }\n\n    function clamp(value, min, max) {\n      return Math.min(Math.max(value, min), max);\n    }\n\n    function escapeHtml(value) {\n      return String(value ?? \"\").replace(/[&<>\"']/g, (char) => ({\n        \"&\": \"&amp;\",\n        \"<\": \"&lt;\",\n        \">\": \"&gt;\",\n        '\"': \"&quot;\",\n        \"'\": \"&#39;\"\n      }[char]));\n    }\n\n    function pendingExplanation(node) {\n      const reason = String(node.pendingReason || \"\").toLowerCase();\n      if (reason.includes(\"waiting installed route via\")) {\n        const via = String(node.pendingReason || \"\").split(\"via \").pop() || node.parent || \"-\";\n        return \"Menunggu route parent \" + via + \" terpasang dulu. Biasanya selesai setelah parent mengirim CH_HELLO/topology yang valid ke server.\";\n      }\n      if (reason.includes(\"direct gateway candidate is strong\")) {\n        return \"Gateway sudah terdengar cukup kuat. Server menunggu CH_HELLO/topology dari CH supaya route resmi bisa dipasang.\";\n      }\n      if (reason.includes(\"below direct threshold\")) {\n        return \"Link langsung ke Gateway belum memenuhi threshold. CH sedang menunggu response parent/CH lain dari proses CH_CONFIG.\";\n      }\n      if (reason.includes(\"waiting ch_config response\")) {\n        return \"Menunggu CH_CONFIG_RESPONSE dari Gateway atau parent CH agar kandidat route bisa dipilih.\";\n      }\n      if (reason.includes(\"waiting parent topology\")) {\n        return \"Menunggu topology parent masuk ke server supaya jalur sampai Gateway bisa dihitung.\";\n      }\n      return node.pendingReason || \"Menunggu event routing berikutnya dari CH_CONFIG atau CH_HELLO/topology.\";\n    }\n\n    function ageLabel(seconds) {\n      if (seconds === undefined || seconds === null || !Number.isFinite(Number(seconds))) return \"-\";\n      const sec = Math.max(0, Math.round(Number(seconds)));\n      if (sec < 60) return sec + \"s ago\";\n      const min = Math.floor(sec / 60);\n      const rem = sec % 60;\n      if (min < 60) return min + \"m\" + (rem ? \" \" + rem + \"s\" : \"\") + \" ago\";\n      const hour = Math.floor(min / 60);\n      const minRem = min % 60;\n      return hour + \"h\" + (minRem ? \" \" + minRem + \"m\" : \"\") + \" ago\";\n    }\n\n    function expectedNextEvent(node) {\n      if (node.status === \"installed\") {\n        if (node.lastHelloAgeSec !== undefined) {\n          const remaining = Math.max(0, 300 - Math.round(Number(node.lastHelloAgeSec)));\n          return remaining > 0\n            ? \"Menunggu CH_HELLO periodik berikutnya sekitar \" + remaining + \"s lagi.\"\n            : \"CH_HELLO periodik sudah waktunya masuk; menunggu update berikutnya dari CH.\";\n        }\n        return \"Route sudah installed; menunggu CH_HELLO berikutnya untuk mengisi umur hello.\";\n      }\n      const reason = String(node.pendingReason || \"\").toLowerCase();\n      if (reason.includes(\"direct gateway candidate is strong\")) {\n        return \"Menunggu CH_HELLO pertama dari CH supaya route resmi dipasang.\";\n      }\n      if (reason.includes(\"waiting installed route via\")) {\n        const via = String(node.pendingReason || \"\").split(\"via \").pop() || node.parent || \"-\";\n        return \"Menunggu parent \" + via + \" installed dulu, lalu CH_HELLO dari CH ini.\";\n      }\n      if (reason.includes(\"below direct threshold\")) {\n        return \"Menunggu CH_CONFIG_RESPONSE dari parent CH yang lebih layak.\";\n      }\n      if (reason.includes(\"waiting ch_config response\")) {\n        return \"Menunggu CH_CONFIG_RESPONSE dari GW atau parent CH.\";\n      }\n      if (reason.includes(\"waiting parent topology\")) {\n        return \"Menunggu topology parent masuk ke server.\";\n      }\n      return \"Menunggu event CH_CONFIG atau CH_HELLO berikutnya.\";\n    }\n\n    function renderPendingTable(nodes) {\n      const chNodes = nodes.filter((node) => node.type === \"ch\");\n      const pendingNodes = chNodes.filter((node) => node.status !== \"installed\" || node.pendingReason);\n      pendingCountEl.textContent = pendingNodes.length + \" pending / \" + chNodes.length + \" CH\";\n      if (chNodes.length === 0) {\n        pendingDetailsEl.innerHTML = '<div class=\"pending-empty\">Belum ada CH.</div>';\n        return;\n      }\n      pendingDetailsEl.innerHTML =\n        '<div class=\"pending-table-wrap\">' +\n        '<table class=\"pending-table\">' +\n        '<thead><tr>' +\n        '<th>CH</th><th>Status</th><th>Parent</th><th>Route</th><th>Last CH_HELLO</th><th>Expected Next Event</th><th>Aksi</th><th>Update</th>' +\n        '</tr></thead><tbody>' +\n        chNodes.map((node) =>\n          '<tr>' +\n          '<td>' + escapeHtml(node.label || node.id || \"-\") + '</td>' +\n          '<td>' + escapeHtml(node.status || \"-\") + '</td>' +\n          '<td>' + escapeHtml(node.parent || \"-\") + '</td>' +\n          '<td>' + escapeHtml(node.routeText || \"-\") + '</td>' +\n          '<td>' + escapeHtml(ageLabel(node.lastHelloAgeSec)) + '</td>' +\n          '<td>' + escapeHtml(expectedNextEvent(node)) + '</td>' +\n          '<td><div class=\"table-actions\">' +\n          '<button class=\"table-action\" data-action=\"request\" data-node-id=\"' + escapeHtml(node.id || \"\") + '\"' + (node.requestPayload ? \"\" : \" disabled\") + '>Request</button>' +\n          '<button class=\"table-action delete\" data-action=\"delete\" data-node-id=\"' + escapeHtml(node.id || \"\") + '\">Hapus</button>' +\n          '</div></td>' +\n          '<td>' + escapeHtml(ageLabel(node.lastSeenAgeSec) !== \"-\" ? ageLabel(node.lastSeenAgeSec) : (node.updatedAt || \"-\")) + '</td>' +\n          '</tr>'\n        ).join(\"\") +\n        '</tbody></table></div>';\n    }\n\n    function layerStyleFor(node) {\n      const fallback = { border: \"#64748b\", bg: \"#171b24\", pill: \"rgba(148,163,184,.16)\" };\n      const red = { border: \"#ef4444\", bg: \"#2a1414\", pill: \"rgba(239,68,68,.18)\" };\n      const palette = {\n        0: { border: \"#10b981\", bg: \"#12231f\", pill: \"rgba(16,185,129,.18)\" },\n        1: { border: \"#38bdf8\", bg: \"#10202a\", pill: \"rgba(56,189,248,.16)\" },\n        2: { border: \"#a78bfa\", bg: \"#1b172b\", pill: \"rgba(167,139,250,.17)\" },\n        3: { border: \"#f59e0b\", bg: \"#2a1f10\", pill: \"rgba(245,158,11,.17)\" },\n        4: { border: \"#fb7185\", bg: \"#2a151b\", pill: \"rgba(251,113,133,.16)\" },\n        5: { border: \"#22c55e\", bg: \"#102317\", pill: \"rgba(34,197,94,.15)\" },\n        6: { border: \"#06b6d4\", bg: \"#10232a\", pill: \"rgba(6,182,212,.16)\" },\n        7: { border: \"#84cc16\", bg: \"#1a230f\", pill: \"rgba(132,204,22,.16)\" },\n        8: { border: \"#f97316\", bg: \"#2a1a10\", pill: \"rgba(249,115,22,.17)\" },\n        9: { border: \"#6366f1\", bg: \"#17172b\", pill: \"rgba(99,102,241,.17)\" }\n      };\n      const layer = Number.isFinite(Number(node.layer)) ? Math.trunc(Number(node.layer)) : null;\n      if (layer === null) return fallback;\n      if (layer >= 10) return red;\n      return palette[layer] || fallback;\n    }\n\n    function applyLayerStyle(div, node) {\n      const style = layerStyleFor(node);\n      div.style.setProperty(\"--node-border\", style.border);\n      div.style.setProperty(\"--node-accent\", style.border);\n      div.style.setProperty(\"--node-bg\", style.bg);\n      div.style.setProperty(\"--layer-pill-bg\", style.pill);\n    }\n\n    function updateCanvasHeight() {\n      const maxY = Object.values(currentPositions).reduce((acc, pos) => Math.max(acc, pos.y + (pos.h || 260)), 560);\n      canvas.style.minHeight = Math.max(560, maxY + 24) + \"px\";\n    }\n\n    function measureNodePositions() {\n      for (const div of nodesEl.querySelectorAll(\".node[data-node-id]\")) {\n        const nodeId = div.dataset.nodeId;\n        const pos = currentPositions[nodeId];\n        if (!pos) continue;\n        pos.w = div.offsetWidth || nodeW;\n        pos.h = div.offsetHeight || 210;\n        pos.cx = pos.x + pos.w / 2;\n      }\n    }\n\n    function edgeAnchors(a, b) {\n      const aW = a.w || nodeW;\n      const bW = b.w || nodeW;\n      const aH = a.h || 210;\n      const bH = b.h || 210;\n      const aCenterY = a.y + aH / 2;\n      const bCenterY = b.y + bH / 2;\n      if (aCenterY <= bCenterY) {\n        return {\n          x1: a.x + aW / 2,\n          y1: a.y + aH,\n          x2: b.x + bW / 2,\n          y2: b.y\n        };\n      }\n      return {\n        x1: a.x + aW / 2,\n        y1: a.y,\n        x2: b.x + bW / 2,\n        y2: b.y + bH\n      };\n    }\n\n    function renderLinks() {\n      measureNodePositions();\n      linksEl.innerHTML = \"\";\n      for (const edge of currentEdges) {\n        const a = currentPositions[edge.from];\n        const b = currentPositions[edge.to];\n        if (!a || !b) continue;\n        const anchor = edgeAnchors(a, b);\n        const line = document.createElementNS(\"http://www.w3.org/2000/svg\", \"line\");\n        line.setAttribute(\"x1\", anchor.x1);\n        line.setAttribute(\"y1\", anchor.y1);\n        line.setAttribute(\"x2\", anchor.x2);\n        line.setAttribute(\"y2\", anchor.y2);\n        line.setAttribute(\"stroke\", edge.role === \"alternate\" ? \"#f59e0b\" : (edge.role === \"pending\" ? \"#f59e0b\" : \"#38bdf8\"));\n        line.setAttribute(\"stroke-width\", edge.role === \"main\" ? \"3\" : \"2\");\n        if (edge.role === \"alternate\") {\n          line.setAttribute(\"stroke-dasharray\", \"7 7\");\n        } else if (edge.role === \"pending\") {\n          line.setAttribute(\"stroke-dasharray\", \"3 7\");\n        }\n        linksEl.appendChild(line);\n      }\n    }\n\n    function attachDrag(div, nodeId) {\n      let startX = 0;\n      let startY = 0;\n      let pointerStartX = 0;\n      let pointerStartY = 0;\n      div.addEventListener(\"pointerdown\", (event) => {\n        if (event.button !== undefined && event.button !== 0) return;\n        const pos = currentPositions[nodeId];\n        if (!pos) return;\n        event.preventDefault();\n        dragActive = true;\n        div.classList.add(\"dragging\");\n        div.setPointerCapture(event.pointerId);\n        startX = pos.x;\n        startY = pos.y;\n        pointerStartX = event.clientX;\n        pointerStartY = event.clientY;\n      });\n      div.addEventListener(\"pointermove\", (event) => {\n        if (!div.classList.contains(\"dragging\")) return;\n        const width = Math.max(canvas.clientWidth, 760);\n        const nextX = clamp(startX + event.clientX - pointerStartX, 16, Math.max(16, width - nodeW - 16));\n        const nextY = Math.max(16, startY + event.clientY - pointerStartY);\n        currentPositions[nodeId] = {\n          x: nextX,\n          y: nextY,\n          w: currentPositions[nodeId].w || div.offsetWidth || nodeW,\n          h: currentPositions[nodeId].h || div.offsetHeight || 210,\n          cx: nextX + (currentPositions[nodeId].w || div.offsetWidth || nodeW) / 2\n        };\n        div.style.left = nextX + \"px\";\n        div.style.top = nextY + \"px\";\n        updateCanvasHeight();\n        renderLinks();\n      });\n      const finishDrag = (event) => {\n        if (!div.classList.contains(\"dragging\")) return;\n        div.classList.remove(\"dragging\");\n        try {\n          div.releasePointerCapture(event.pointerId);\n        } catch (err) {}\n        const layout = loadManualLayout();\n        const pos = currentPositions[nodeId];\n        if (pos) {\n          layout[nodeId] = { x: Math.round(pos.x), y: Math.round(pos.y) };\n          saveManualLayout(layout);\n        }\n        dragActive = false;\n      };\n      div.addEventListener(\"pointerup\", finishDrag);\n      div.addEventListener(\"pointercancel\", finishDrag);\n    }\n\n    function groupByDepth(nodes) {\n      const groups = new Map();\n      const finiteLayers = nodes\n        .map((node) => node.layer !== null && node.layer !== undefined && Number.isFinite(Number(node.layer)) ? Number(node.layer) : null)\n        .filter((layer) => layer !== null);\n      const fallbackLayer = finiteLayers.length > 0 ? Math.max(...finiteLayers) + 1 : 1;\n      for (const node of nodes) {\n        const layer = node.layer !== null && node.layer !== undefined && Number.isFinite(Number(node.layer)) ? Number(node.layer) : fallbackLayer;\n        if (!groups.has(layer)) groups.set(layer, []);\n        groups.get(layer).push(node);\n      }\n      return [...groups.entries()].sort((a, b) => a[0] - b[0]);\n    }\n\n    function draw(data) {\n      nodesEl.innerHTML = \"\";\n      linksEl.innerHTML = \"\";\n      const nodes = data.nodes || [];\n      const edges = data.edges || [];\n      const manualLayout = loadManualLayout();\n      currentEdges = edges;\n      currentPositions = {};\n      summaryEl.textContent = data.nodeCount + \" node, \" + (data.mainEdgeCount ?? data.edgeCount) + \" main link, \" + (data.alternateEdgeCount || 0) + \" alt link, \" + (data.pendingEdgeCount || 0) + \" pending link, \" + (data.discoveryCount || 0) + \" discovery\";\n      statusEl.textContent = \"Topology: \" + (data.topologyUpdatedAt || data.updatedAt || \"belum ada topology event\") +\n        \" | Live: \" + (data.liveUpdatedAt || \"belum ada live event\");\n      if (data.resetAt && nodes.length <= 1) {\n        statusEl.textContent = \"Routing reset: \" + data.resetAt + \" | Menunggu update routing berikutnya\";\n      }\n      if (nodes.length <= 1) {\n        nodesEl.innerHTML = '<div class=\"empty\">Belum ada CH route. Tunggu CH_CONFIG/CH_HELLO masuk dari Gateway.</div>';\n      }\n      renderPendingTable(nodes);\n\n      const groups = groupByDepth(nodes);\n      const width = Math.max(canvas.clientWidth, 760);\n      const rowGap = 270;\n      const top = 56;\n      for (const [layer, items] of groups) {\n        items.sort((a, b) => String(a.id).localeCompare(String(b.id)));\n        const totalW = items.length * nodeW + Math.max(0, items.length - 1) * 44;\n        const startX = Math.max(24, (width - totalW) / 2);\n        items.forEach((node, index) => {\n          const autoX = startX + index * (nodeW + 44);\n          const autoY = top + layer * rowGap;\n          const saved = manualLayout[node.id];\n          const x = saved && Number.isFinite(Number(saved.x))\n            ? clamp(Number(saved.x), 16, Math.max(16, width - nodeW - 16))\n            : autoX;\n          const y = saved && Number.isFinite(Number(saved.y)) ? Math.max(16, Number(saved.y)) : autoY;\n          currentPositions[node.id] = { x, y, w: nodeW, h: 210, cx: x + nodeW / 2 };\n          const div = document.createElement(\"div\");\n          div.dataset.nodeId = node.id;\n          const signal = [\n            node.liveUpdatedAt || \"\",\n            node.updatedAt || \"\",\n            node.parent || \"\",\n            node.parentAlt || \"\",\n            node.depth ?? \"\",\n            node.routeText || \"\"\n          ].join(\"|\");\n          const previousSignal = nodeSignals.get(node.id);\n          const shouldFlash = hasRendered && node.type === \"ch\" && previousSignal !== undefined && previousSignal !== signal;\n          nodeSignals.set(node.id, signal);\n          div.className = \"node \" + node.type + \" \" + node.status + (shouldFlash ? \" updated\" : \"\");\n          applyLayerStyle(div, node);\n          div.style.left = x + \"px\";\n          div.style.top = y + \"px\";\n          const metric = node.type === \"gateway\"\n            ? \"root\"\n            : (node.linkQualityLabel || (\"RSSI to Parent: \" + (node.rssi ?? \"-\") + \" dBm, SNR \" + (node.snr ?? \"-\") + \" dB\"));\n          const gatewayMetric = node.type === \"gateway\"\n            ? \"\"\n            : (node.gatewayQualityLabel || \"RSSI to Gateway: belum ada\");\n          const ageMetric = node.type === \"gateway\"\n            ? \"\"\n            : (\"last update: \" + (node.lastSeenAgeSec !== undefined ? node.lastSeenAgeSec + \"s ago\" : \"belum ada\"));\n          div.innerHTML =\n            '<div class=\"title\">' + node.label + '</div>' +\n            '<div class=\"layer\">' + (node.layerLabel || (\"Layer \" + (node.layer ?? \"?\"))) + '</div>' +\n            '<div class=\"row\">parent: ' + (node.parent || \"-\") + '</div>' +\n            '<div class=\"row\">alt parent: ' + (node.parentAlt && node.parentAlt !== \"0x0000\" ? node.parentAlt : \"-\") + '</div>' +\n            '<div class=\"row\">route depth: ' + (node.depth ?? \"-\") + '</div>' +\n            '<div class=\"row\">' + (node.batteryLabel || \"battery: belum ada\") + '</div>' +\n            '<div class=\"row\" title=\"' + metric + '\">' + metric + '</div>' +\n            '<div class=\"row\" title=\"' + gatewayMetric + '\">' + gatewayMetric + '</div>' +\n            '<div class=\"row\" title=\"' + ageMetric + '\">' + ageMetric + '</div>' +\n            '<div class=\"row\">status: ' + node.status + '</div>' +\n            '<div class=\"route\">' + (node.routeText || \"\") + '</div>';\n          attachDrag(div, node.id);\n          nodesEl.appendChild(div);\n        });\n      }\n\n      canvas.style.minHeight = Math.max(560, top + (groups.length + 1) * rowGap) + \"px\";\n      updateCanvasHeight();\n      renderLinks();\n      hasRendered = true;\n    }\n\n    async function refresh() {\n      if (dragActive) return;\n      try {\n        const res = await fetch(\"/pertamina-gld/topology\", { cache: \"no-store\" });\n        const data = await res.json();\n        draw(data);\n      } catch (err) {\n        statusEl.textContent = \"Topology fetch failed: \" + err.message;\n      }\n    }\n    async function resetRouting() {\n      try {\n        resetButton.disabled = true;\n        const res = await fetch(\"/pertamina-gld/topology/reset\", { method: \"POST\", cache: \"no-store\" });\n        const data = await res.json();\n        nodeSignals.clear();\n        hasRendered = false;\n        draw(data);\n      } catch (err) {\n        statusEl.textContent = \"Topology reset failed: \" + err.message;\n      } finally {\n        resetButton.disabled = false;\n      }\n    }\n    async function requestNode(nodeId, button) {\n      if (!nodeId) return;\n      try {\n        if (button) button.disabled = true;\n        const res = await fetch(\"/pertamina-gld/topology/request?ch=\" + encodeURIComponent(nodeId), { method: \"POST\", cache: \"no-store\" });\n        const data = await res.json();\n        if (!res.ok || !data.ok) {\n          statusEl.textContent = \"Request gagal: \" + (data.reason || res.status);\n          return;\n        }\n        statusEl.textContent = \"Request dikirim ke \" + nodeId + \" via \" + (Array.isArray(data.hopList) ? data.hopList.join(\" -> \") : \"-\");\n      } catch (err) {\n        statusEl.textContent = \"Request gagal: \" + err.message;\n      } finally {\n        if (button) button.disabled = false;\n      }\n    }\n    async function deleteNode(nodeId, button) {\n      if (!nodeId) return;\n      try {\n        if (button) button.disabled = true;\n        const res = await fetch(\"/pertamina-gld/topology/delete?ch=\" + encodeURIComponent(nodeId), { method: \"POST\", cache: \"no-store\" });\n        const data = await res.json();\n        if (!res.ok || !data.ok) {\n          statusEl.textContent = \"Hapus gagal: \" + (data.reason || res.status);\n          return;\n        }\n        nodeSignals.delete(nodeId);\n        hasRendered = false;\n        await refresh();\n      } catch (err) {\n        statusEl.textContent = \"Hapus gagal: \" + err.message;\n      } finally {\n        if (button) button.disabled = false;\n      }\n    }\n    document.getElementById(\"refresh\").addEventListener(\"click\", refresh);\n    pendingDetailsEl.addEventListener(\"click\", (event) => {\n      const button = event.target.closest(\"button[data-action][data-node-id]\");\n      if (!button) return;\n      const nodeId = button.dataset.nodeId;\n      if (button.dataset.action === \"request\") {\n        requestNode(nodeId, button);\n      } else if (button.dataset.action === \"delete\") {\n        deleteNode(nodeId, button);\n      }\n    });\n    resetLayoutButton.addEventListener(\"click\", () => {\n      localStorage.removeItem(layoutStorageKey);\n      refresh();\n    });\n    resetButton.addEventListener(\"click\", resetRouting);\n    refresh();\n    setInterval(refresh, 1000);\n  </script>\n</body>\n</html>`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 550,
    "wires": [
      [
        "pgl_http_topology_response"
      ]
    ]
  },
  {
    "id": "pgl_http_topology_response",
    "type": "http response",
    "z": "pgl_tab",
    "name": "HTTP topology response",
    "statusCode": "",
    "headers": {},
    "x": 760,
    "y": 550,
    "wires": []
  },
  {
    "id": "pgl_decode_catch",
    "type": "catch",
    "z": "pgl_tab",
    "name": "catch decode errors",
    "scope": [
      "pgl_decode",
      "pgl_http_decode_ok",
      "pgl_http_decode_error"
    ],
    "uncaught": false,
    "x": 700,
    "y": 460,
    "wires": [
      [
        "pgl_decode_catch_response",
        "pgl_debug_error"
      ]
    ]
  },
  {
    "id": "pgl_decode_catch_response",
    "type": "function",
    "z": "pgl_tab",
    "name": "HTTP catch response",
    "func": "msg.statusCode = 500;\nmsg.payload = { ok:false, kind:'pertamina-gld-error', reason:'node-red-function-error', detail: msg.error ? msg.error.message : 'unknown error' };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 970,
    "y": 460,
    "wires": [
      [
        "pgl_http_decode_response"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_status",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT gateway status",
    "topic": "gld/gateway/status",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 990,
    "y": 80,
    "wires": []
  },
  {
    "id": "pgl_mqtt_events",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT gateway events",
    "topic": "gld/gateway/events",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 990,
    "y": 120,
    "wires": []
  },
  {
    "id": "pgl_mqtt_decoded",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT decoded/alarm",
    "topic": "",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 990,
    "y": 160,
    "wires": []
  },
  {
    "id": "pgl_compact_decoded_debug",
    "type": "function",
    "z": "pgl_tab",
    "name": "compact decoded debug",
    "func": "const p = msg.payload || {};\nconst outer = p.outer || {};\nconst response = outer.response || {};\nconst msgTypeHex = outer.msgType !== undefined ? \"0x\" + Number(outer.msgType).toString(16).toUpperCase().padStart(2, \"0\") : undefined;\nconst route = outer.srcIdHex && outer.dstIdHex ? outer.srcIdHex + \" -> \" + outer.dstIdHex : undefined;\nconst responseText = msgTypeHex\n  ? msgTypeHex + \" \" + (outer.srcIdHex || \"?\") + \" -> \" + (outer.dstIdHex || \"?\") + \" req=\" + (response.requestId ?? \"-\") + \" status=\" + (response.status ?? \"-\") + \" records=\" + (response.recordCount ?? 0)\n  : undefined;\nconst gasText = p.gasName\n  ? p.gasName + \" class=\" + p.gasClass + \" conf=\" + p.confidence + \"% batt=\" + (p.batteryMv ?? \"-\") + \"mV\"\n  : \"no GLD record\";\nmsg.payload = {\n  summary: \"GLD \" + (p.nodeIdHex || \"-\") + \" | req=\" + (response.requestId ?? \"-\") + \" | \" + gasText,\n  response: responseText,\n  route,\n  nodeIdHex: p.nodeIdHex,\n  requestId: response.requestId,\n  gasName: p.gasName,\n  confidence: p.confidence,\n  alarm: p.alarm,\n  batteryMv: p.batteryMv,\n  decryptOk: p.decryptOk,\n  responsePayloadHex: outer.payloadHex\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 990,
    "y": 340,
    "wires": [
      [
        "pgl_debug_decoded"
      ]
    ]
  },
  {
    "id": "pgl_compact_topology_debug",
    "type": "function",
    "z": "pgl_tab",
    "name": "compact topology debug",
    "func": "const p = msg.payload || {};\nif (p.kind !== \"ch-topology\") {\n  return null;\n}\n\nconst hopList = Array.isArray(p.hopList) ? p.hopList : [];\nconst lastHop = hopList.length > 0 ? hopList[hopList.length - 1] : p.clusterIdHex;\nconst routeText = hopList.length > 0 ? p.gatewayIdHex + \" -> \" + hopList.join(\" -> \") : \"route pending\";\nconst layer = hopList.length > 0 ? hopList.length : undefined;\nconst isConfigRequest = p.report === \"ch-config-request\" && (p.parentIdHex === \"0x0000\" || !p.parentIdHex);\nconst linkText = isConfigRequest\n  ? \"CH \" + (p.ch || p.clusterIdHex || \"-\") + \" request heard by \" + (p.gatewayIdHex || \"GW\")\n  : \"CH \" + (p.ch || p.clusterIdHex || \"-\") + \" parent \" + (p.parent || p.parentIdHex || \"-\");\nconst rssiSource = isConfigRequest ? (p.gatewayIdHex || \"GW\") : (p.parentIdHex || p.parent || p.viaHopHex || p.gatewayIdHex || \"-\");\nconst rssiTarget = p.clusterIdHex || p.ch || \"-\";\nconst rssiLabel = isConfigRequest ? \"RSSI to Gateway\" : \"RSSI\";\nconst receivedAtMs = Date.parse(p.receivedAt || \"\");\nconst ageSec = Number.isFinite(receivedAtMs) ? Math.max(0, Math.round((Date.now() - receivedAtMs) / 1000)) : undefined;\nconst ttlSec = p.discoveryOnly || isConfigRequest\n  ? Math.round(Number(env.get(\"PGL_TOPOLOGY_DISCOVERY_TTL_MS\") || \"420000\") / 1000)\n  : Math.round(Number(env.get(\"PGL_TOPOLOGY_PARENT_TTL_MS\") || \"900000\") / 1000);\nconst stale = ageSec !== undefined && ageSec > ttlSec;\nconst stateLabel = stale\n  ? \"STALE \" + (p.discoveryOnly || isConfigRequest ? \"DISCOVERY\" : \"INSTALLED\")\n  : (p.discoveryOnly || isConfigRequest ? \"DISCOVERY CANDIDATE\" : \"INSTALLED\");\nconst debugDiscovery = String(env.get(\"PGL_TOPOLOGY_DEBUG_DISCOVERY\") || \"\").trim() === \"1\";\nif ((p.discoveryOnly || isConfigRequest) && !debugDiscovery) {\n  return null;\n}\nconst routeSource = hopList.length > 0 && (p.discoveryOnly || isConfigRequest)\n  ? \"retained current installed route; TTL checked\"\n  : (hopList.length > 0 ? \"installed route\" : \"no installed route\");\nmsg.payload = {\n  summary: stateLabel + \" | \" + (p.routeStatus || \"CH route updated\") + \" | \" + linkText,\n  layer: layer !== undefined ? \"Layer \" + layer : undefined,\n  route: routeText,\n  routeSource,\n  pull: hopList.length > 0 ? JSON.stringify({ requestId: 1, hopList }) : undefined,\n  report: p.report,\n  discoveryOnly: p.discoveryOnly ? true : undefined,\n  stale: stale ? true : undefined,\n  ageSec,\n  ttlSec,\n  ch: p.clusterIdHex,\n  parent: isConfigRequest ? undefined : p.parentIdHex,\n  rssiSnr: (p.rssi !== undefined || p.snr !== undefined) ? rssiLabel + \" \" + rssiSource + \" -> \" + rssiTarget + \": \" + (p.rssi ?? \"-\") + \" dBm, SNR \" + (p.snr ?? \"-\") + \" dB\" : undefined,\n  hopList,\n  lastHop,\n  updatedAt: p.receivedAt\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 990,
    "y": 300,
    "wires": [
      [
        "pgl_debug_topology"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_error",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT errors",
    "topic": "gld/gateway/error",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 990,
    "y": 200,
    "wires": []
  },
  {
    "id": "pgl_debug_status",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[STATUS] gateway alive",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.kind",
    "statusType": "msg",
    "x": 970,
    "y": 260,
    "wires": []
  },
  {
    "id": "pgl_debug_events",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[EVENT] gateway envelope",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.kind",
    "statusType": "msg",
    "x": 970,
    "y": 300,
    "wires": []
  },
  {
    "id": "pgl_debug_decoded",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[DECODED FINAL] GLD server data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.summary",
    "statusType": "msg",
    "x": 1240,
    "y": 340,
    "wires": []
  },
  {
    "id": "pgl_debug_topology",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[TOPOLOGY] CH route",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.summary",
    "statusType": "msg",
    "x": 1240,
    "y": 300,
    "wires": []
  },
  {
    "id": "pgl_debug_error",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[ERROR] decode/server",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.reason",
    "statusType": "msg",
    "x": 970,
    "y": 380,
    "wires": []
  },
  {
    "id": "pgl_mqtt_cmd_pull",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "HTTP debug cmd pull",
    "topic": "gld/gateway/debug/http-pull",
    "qos": "0",
    "datatype": "json",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 500,
    "wires": [
      [
        "pgl_build_pull"
      ]
    ]
  },
  {
    "id": "pgl_build_pull",
    "type": "function",
    "z": "pgl_tab",
    "name": "build /api/pull POST",
    "func": "const base = env.get('GATEWAY_BASE_URL') || 'http://192.168.4.1';\nconst p = msg.payload || {};\nconst hopList = Array.isArray(p.hopList) ? p.hopList : (Array.isArray(p.hop_list) ? p.hop_list : [p.cluster || p.clusterId || '0x0064']);\nconst cluster = hopList[hopList.length - 1] || '0x0064';\nmsg.method = 'POST';\nmsg.url = `${base}/api/pull?cluster=${encodeURIComponent(cluster)}`;\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 500,
    "wires": [
      [
        "pgl_http_command",
        "pgl_debug_command"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_cmd_node",
    "type": "mqtt in",
    "z": "pgl_tab",
    "name": "HTTP debug cmd node",
    "topic": "gld/gateway/debug/http-node",
    "qos": "0",
    "datatype": "json",
    "broker": "pgl_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 560,
    "wires": [
      [
        "pgl_build_node_command"
      ]
    ]
  },
  {
    "id": "pgl_build_node_command",
    "type": "function",
    "z": "pgl_tab",
    "name": "build /api/command POST",
    "func": "const base = env.get('GATEWAY_BASE_URL') || 'http://192.168.4.1';\nconst p = msg.payload || {};\nconst cluster = p.cluster || p.clusterId || '0x0064';\nconst nodeIdParam = p.node || p.nodeId || '0xF001';\nconst id = p.id || p.commandId || 1;\nconst ttl = p.ttl || p.ttlSec || 600;\nconst hex = p.hex || '';\nmsg.method = 'POST';\nmsg.url = `${base}/api/command?cluster=${encodeURIComponent(cluster)}&node=${encodeURIComponent(nodeIdParam)}&id=${encodeURIComponent(id)}&ttl=${encodeURIComponent(ttl)}&hex=${encodeURIComponent(hex)}`;\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 560,
    "wires": [
      [
        "pgl_http_command",
        "pgl_debug_command"
      ]
    ]
  },
  {
    "id": "pgl_http_command",
    "type": "http request",
    "z": "pgl_tab",
    "name": "POST Gateway command",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "x": 720,
    "y": 530,
    "wires": [
      [
        "pgl_debug_command_response"
      ]
    ]
  },
  {
    "id": "pgl_debug_command",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[CMD] HTTP bridge request",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "url",
    "targetType": "msg",
    "statusVal": "url",
    "statusType": "msg",
    "x": 720,
    "y": 610,
    "wires": []
  },
  {
    "id": "pgl_debug_command_response",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[CMD] HTTP bridge response",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "statusCode",
    "statusType": "msg",
    "x": 990,
    "y": 530,
    "wires": []
  },
  {
    "id": "pgl_inject_pull_ch",
    "type": "inject",
    "z": "pgl_tab",
    "name": "Inject SERVER_PULL_REQUEST hopList",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0.1",
    "topic": "gld/gateway/cmd/pull",
    "payload": "{\"requestId\":1,\"hopList\":[\"0x0064\",\"0x0065\",\"0x0066\"]}",
    "payloadType": "json",
    "x": 220,
    "y": 700,
    "wires": [
      [
        "pgl_resolve_pull_route"
      ]
    ]
  },
  {
    "id": "pgl_resolve_pull_route",
    "type": "function",
    "z": "pgl_tab",
    "name": "normalize pull hopList",
    "func": "function idHex(value) {\n  const raw = String(value || '').trim();\n  const n = raw.toLowerCase().startsWith('0x') ? parseInt(raw, 16) : Number(raw);\n  if (!Number.isFinite(n)) return null;\n  return '0x' + (n & 0xFFFF).toString(16).toUpperCase().padStart(4, '0');\n}\n\nconst p = msg.payload || {};\nconst rawHopList = Array.isArray(p.hopList) ? p.hopList : (Array.isArray(p.hop_list) ? p.hop_list : null);\nif (!rawHopList || rawHopList.length === 0) {\n  node.warn('pull command requires hopList; last hop is the target CH');\n  return null;\n}\n\nconst hopList = rawHopList.map(idHex);\nif (hopList.some((hop) => hop === null)) {\n  node.warn('pull command has invalid hopList entry');\n  return null;\n}\n\nmsg.payload = {\n  requestId: Number(p.requestId || p.request_id || 1),\n  hopList\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 700,
    "wires": [
      [
        "pgl_mqtt_out_pull_command",
        "pgl_debug_mqtt_command"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_out_pull_command",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT publish pull request",
    "topic": "gld/gateway/cmd/pull",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 800,
    "y": 700,
    "wires": []
  },
  {
    "id": "pgl_inject_node_command",
    "type": "inject",
    "z": "pgl_tab",
    "name": "Inject GLD SET_MODE dataset",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0.1",
    "topic": "gld/gateway/cmd/node",
    "payload": "{\"cluster\":\"0x0064\",\"node\":\"0xF001\",\"id\":1,\"ttl\":600,\"hex\":\"0101\"}",
    "payloadType": "json",
    "x": 200,
    "y": 760,
    "wires": [
      [
        "pgl_mqtt_out_node_command",
        "pgl_debug_mqtt_command"
      ]
    ]
  },
  {
    "id": "pgl_mqtt_out_node_command",
    "type": "mqtt out",
    "z": "pgl_tab",
    "name": "MQTT publish node command",
    "topic": "gld/gateway/cmd/node",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pgl_mqtt_broker",
    "x": 560,
    "y": 760,
    "wires": []
  },
  {
    "id": "pgl_debug_mqtt_command",
    "type": "debug",
    "z": "pgl_tab",
    "name": "[CMD] MQTT command inject",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "topic",
    "statusType": "msg",
    "x": 560,
    "y": 820,
    "wires": []
  },
  {
    "id": "pgl_aedes_broker",
    "type": "aedes broker",
    "z": "pgl_tab",
    "name": "Pertamina GLD Aedes",
    "mqtt_port": 1884,
    "mqtt_ws_bind": "port",
    "mqtt_ws_port": "",
    "mqtt_ws_path": "",
    "cert": "",
    "key": "",
    "certname": "",
    "keyname": "",
    "persistence_bind": "memory",
    "dburl": "",
    "usetls": false,
    "x": 180,
    "y": 860,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "pgl_mqtt_broker",
    "type": "mqtt-broker",
    "name": "Pertamina GLD MQTT",
    "broker": "10.158.198.180",
    "port": "1884",
    "clientid": "node-red-pertamina-gld",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]